n8n/Elina V4.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// --- NODO: Extraer IDs de Placeholders ---\nconst textoOriginal = ($input.first().json.output || \"\").trim();\n\n// Regex Maestro: Busca cualquier número que esté al final de un corchete después de un \":\" o solo.\n// Detectará tanto [PRODUCT_NAME:7305] como [105X:7305]\nconst placeholderRegex = /\\[[^\\]]*?(\\d+)\\]/g;\nconst matches = [...textoOriginal.matchAll(placeholderRegex)];\n\n// Obtener IDs únicos\nconst productIds = [...new Set(matches.map(m => parseInt(m[1], 10)))].filter(id => !isNaN(id));\n\nreturn [{\n  json: {\n    output: textoOriginal,\n    product_ids: productIds,\n    has_placeholders: productIds.length > 0\n  },\n  pairedItem: { item: 0 }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17040,
        11600
      ],
      "id": "bab19c91-880a-4901-8db8-c53c40d2ca2b",
      "name": "Extraer IDs de Placeholders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "placeholder-check",
              "leftValue": "={{ $items(\"Extraer IDs de Placeholders\")[0].json.has_placeholders }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        17472,
        11760
      ],
      "id": "8bdfa9c0-2138-4988-972f-2bc7d7bbce3f",
      "name": "IF: ¿Hay Placeholders?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/rest/v1/rpc/get_products_by_ids",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_user_id\": \"{{ $items('Obtener Prompt y Configuración1')[0].json.user_id }}\",\n  \"p_product_ids\": {{ JSON.stringify($items('Extraer IDs de Placeholders')[0].json.product_ids) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17648,
        11600
      ],
      "id": "0d283a5e-6215-4e1e-816b-1a6f0dad7e50",
      "name": "Obtener Productos por IDs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// --- NODO: Reemplazar Placeholders ---\nconst productos = $input.all().map(i => i.json);\nconst base = $items(\"Extraer IDs de Placeholders\")[0]?.json ?? {};\nconst textoOriginal = base.output || \"\";\n\nif (!base.has_placeholders) {\n  return [{ json: { output: textoOriginal }, pairedItem: { item: 0 } }];\n}\n\nconst productMap = {};\nproductos.forEach(p => {\n  if (p && p.id) productMap[String(p.id)] = p;\n});\n\nlet textoFinal = textoOriginal;\n\n// 1. Reemplazar Placeholders Técnicos (URL, PRICE, STOCK, etc)\nconst techRegex = /\\[PRODUCT_(\\w+):(\\d+)\\]/g;\nfor (const match of textoFinal.matchAll(techRegex)) {\n  const [fullMatch, field, idStr] = match;\n  const product = productMap[idStr];\n  if (product) {\n    let replacement = fullMatch;\n    switch (field.toUpperCase()) {\n      case \"NAME\": replacement = product.product_name; break;\n      case \"PRICE\": replacement = Number(product.price).toFixed(2); break;\n      case \"URL\": replacement = product.media_url || \"\"; break;\n      case \"STOCK\": replacement = String(product.stock); break;\n      case \"DESC\": replacement = product.description || \"\"; break;\n    }\n    textoFinal = textoFinal.replace(fullMatch, replacement);\n  }\n}\n\n// 2. Limpiar Placeholders de nombres sucios (IA Error: [105X:7305] -> 105X)\n// Usamos el ID para poner el nombre REAL de la base de datos y quitar los corchetes\nconst messRegex = /\\[([^\\]]+):(\\d+)\\]/g;\nfor (const match of textoFinal.matchAll(messRegex)) {\n  const [fullMatch, content, idStr] = match;\n  const product = productMap[idStr];\n  if (product) {\n    // Reemplaza todo el bloque [Texto:ID] por el nombre real del producto\n    textoFinal = textoFinal.replace(fullMatch, product.product_name);\n  }\n}\n\n// 3. CÁLCULO AUTOMÁTICO DE SUBTOTALES Y TOTAL\nconst subtotalRegex = /(\\d+)\\s*piezas?\\s*Subtotal:\\s*\\$\\[subtotal_calculado\\]/gi;\nlet totalAcumulado = 0;\n\ntextoFinal = textoFinal.replace(subtotalRegex, (match, qtyStr, offset) => {\n    const qty = parseInt(qtyStr, 10);\n    const textBefore = textoFinal.substring(0, offset);\n    const pricesFound = textBefore.match(/\\$([\\d,]+(?:\\.\\d{2})?)/g);\n    if (pricesFound) {\n        const lastPriceStr = pricesFound[pricesFound.length - 1].replace(/[$,]/g, \"\");\n        const price = parseFloat(lastPriceStr);\n        const subtotal = qty * price;\n        totalAcumulado += subtotal;\n        return `${qty} piezas Subtotal: $${subtotal.toLocaleString('es-MX', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`;\n    }\n    return match;\n});\n\ntextoFinal = textoFinal.replace(/\\$\\[TOTAL_CALCULADO\\]/gi, \"$\" + totalAcumulado.toLocaleString(\"es-MX\", { minimumFractionDigits: 2, maximumFractionDigits: 2 }));\n\nreturn [{ json: { output: textoFinal }, pairedItem: { item: 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17888,
        11712
      ],
      "id": "033ee455-1f61-4b33-bcba-d744bec791fd",
      "name": "Reemplazar Placeholders",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// --- NODO: Detectar Reglas de Cotización (Volumen o Intención) ---\n\nconst rep = $items(\"Reemplazar Placeholders\")[0]?.json ?? {};\nconst ext = $items(\"Extraer IDs de Placeholders\")[0]?.json ?? {};\n\nconst texto = (rep.output || \"\").toLowerCase();\nconst productIds = Array.isArray(ext.product_ids) ? ext.product_ids : [];\n\n// Palabras Clave de Intención de Compra/Cotización y Palabras NEGATIVAS\n// Agregamos \"no cotizar\" por si acaso.\nconst cierreKeywords = /(?:cotización|cotizacion|presupuesto|generar pdf|enviar pdf|formalizar|documento)/i;\nconst negativeKeywords = /(?:no quiero|no necesito|solo ver|consultar)/i;\n\nconst esPeticionExplicita = cierreKeywords.test(texto) && !negativeKeywords.test(texto);\n\n// Lógica de Decisión (Ya sabemos que el perfil permite cotizaciones gracias al IF anterior)\n// REGLA 1: Son 3 o más productos (Automático por volumen).\n// REGLA 2: O el usuario pidió explícitamente \"cotización\" o \"pdf\".\nlet shouldGenerateQuote = false;\n\nif (productIds.length >= 3) {\n  shouldGenerateQuote = true; // Muchos productos -> Asumimos cotización\n} else if (productIds.length > 0 && esPeticionExplicita) {\n  shouldGenerateQuote = true; // Pocos productos -> Solo si lo pide explícitamente\n}\n\n// ... (El resto del código de armado de items sigue igual) ...\n// (Te lo pongo completo abajo para copiar y pegar)\n\nlet productosInput = [];\ntry { productosInput = $items(\"Obtener Productos por IDs\").map(i => i.json); } catch (e) {}\n\nconst extractQty = (productId, productName) => {\n  const patterns = [ /x\\s*(\\d+)/gi, /(\\d+)\\s*(?:unidades?|piezas?)/gi ];\n  for (const p of patterns) {\n    const m = [...texto.matchAll(p)];\n    if (m.length > 0) return parseInt(m[0][1], 10) || 1;\n  }\n  return 1;\n};\n\nconst quoteItems = productosInput.filter(p => productIds.includes(p.id)).map(p => {\n  const qty = extractQty(p.id, p.product_name);\n  return {\n    product_id: p.id,\n    product_name: p.product_name,\n    quantity: qty,\n    price: Number(p.price) || 0,\n    subtotal: (Number(p.price) || 0) * qty\n  };\n});\n\n// IMPORTANTÍSIMO:\n// Si shouldGenerateQuote es FALSO, debemos asegurarnos de devolver el texto original para que el Agente IA siga la charla normal.\nreturn [{\n  json: { \n    output: rep.output || \"\", \n    should_generate_quote: shouldGenerateQuote, \n    quote_items: quoteItems \n  },\n  pairedItem: { item: 0 }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18368,
        11504
      ],
      "id": "3b7544cd-b870-4dd6-a296-f1538d95e374",
      "name": "Detectar si es Cotización",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "quote-check",
              "leftValue": "={{ $json.should_generate_quote }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        18592,
        11504
      ],
      "id": "69669af2-50c1-4c2c-9caa-bd5c9440287b",
      "name": "IF: ¿Generar Cotización?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/create-quote",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{$items('Obtener Prompt y Configuración1')[0]?.json?.user_id ?? ''}}\",\n  \"contact_id\": {{$items('buscar contacto1')[0]?.json?.id ?? null}},\n  \"items\": {{JSON.stringify($items('Detectar si es Cotización')[0]?.json?.quote_items ?? [])}},\n  \"valid_until\": null,\n  \"notes\": \"Cotización generada automáticamente desde WhatsApp\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        18832,
        11408
      ],
      "id": "24a98d5e-f8ac-4304-a2e9-4425a5e62ea9",
      "name": "Crear Cotización",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// --- NODO: Preparar datos después de crear cotización ---\n// Este nodo asegura que el texto original pase al siguiente nodo\n\nconst quoteResponse = $input.first().json;\nconst textoOriginal = $items(\"Detectar si es Cotización\")[0]?.json?.output ?? \"\";\n\n// Preparar mensaje de confirmación\nconst mensajeConfirmacion = `📄 Cotización ${quoteResponse.quote?.quote_id || 'generada'} creada exitosamente. Total: $${(quoteResponse.quote?.total || 0).toFixed(2)}`;\n\n// Retornar el texto original para que continúe el flujo normal\n// O un mensaje de confirmación si se prefiere\nreturn [{\n  json: {\n    output: mensajeConfirmacion + \"\\n\\n\" + textoOriginal,\n    quote_id: quoteResponse.quote?.quote_id,\n    quote_url: quoteResponse.quote?.pdf_url\n  },\n  pairedItem: $input.first().pairedItem\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19088,
        11424
      ],
      "id": "c074222d-fe39-4eb0-a284-2597c6e803d9",
      "name": "Preparar después de Cotización"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-document",
        "instanceName": "={{ $items(\"Webhook1\")[0].json.body.instance }}",
        "remoteJid": "={{ ( $items(\"Webhook1\")[0].json.body.data.key.remoteJid.includes(\"@lid\") ? $items(\"Webhook1\")[0].json.body.data.key.remoteJidAlt : $items(\"Webhook1\")[0].json.body.data.key.remoteJid ).replace(\"@s.whatsapp.net\", \"\") }}",
        "media": "={{ $items(\"Preparar después de Cotización\")[0].json.quote_url || $json.quote?.pdf_url }}",
        "caption": "=te comparto la cotización",
        "fileName": "={{ $json.quote_id }}.pdf",
        "options_message": {
          "delay": 2000
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        19296,
        11440
      ],
      "id": "4e1d3ed0-c701-4dd7-9c44-f48b566ec15b",
      "name": "Enviar PDF Cotización",
      "credentials": {
        "evolutionApi": {
          "id": "Z9jp08jNe9bfzQyi",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        16352,
        12256
      ],
      "id": "18e1e97c-0674-4770-a682-1893231e6a06",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "F3ZY8evKfJMeWVz6",
          "name": "OpenAI ELINA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9c589ea-1aa6-417c-b21d-20fd36a38cc7",
              "name": "descripcion de la imagen",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "34f8ca24-4a00-425b-ab28-ddc9c250b1f7",
              "name": "timestamp",
              "value": "={{ $('DivideporType1').item.json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "a236d7ad-77ef-4745-90fa-dcdcd43a0f4b",
              "name": "content",
              "value": "={{ $('Set Fields1').item.json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11776,
        11920
      ],
      "id": "eb195df4-70c1-4d00-9ed2-19c796a44594",
      "name": "Contenido Imagen2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9c589ea-1aa6-417c-b21d-20fd36a38cc7",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "cd23e33f-96db-41fc-a3ba-5f5a6debfcf8",
              "name": "timestamp",
              "value": "={{ $('DivideporType1').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11440,
        11728
      ],
      "id": "89ba95ac-9eed-4d26-91a8-7a7dffc799b2",
      "name": "Contenido audio1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd6cc573-081d-4c5d-a027-4d0d2c6f9973",
              "name": "text",
              "value": "={{ \n  ($json.text && $json.text !== \"\") ? $json.text : \n  ($json.messages && $json.messages.length > 0 && $json.messages[0] !== \"\") ? $json.messages.join(\" \") : \n  ($if($(\"Contenido Imagen3\").isExecuted, $items(\"Contenido Imagen3\")[0]?.json?.['descripcion de la imagen'], \"\"))\n}}",
              "type": "string"
            },
            {
              "id": "73b036d6-6613-43f7-ab52-43ad95416cea",
              "name": "descripcion de la imagen",
              "value": "={{ \n  $if($(\"Contenido Imagen3\").isExecuted, $items(\"Contenido Imagen3\")[0]?.json?.content, \"\")\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12912,
        11648
      ],
      "id": "707084e3-e57b-424f-9aa6-d31c44b92e38",
      "name": "set text1",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const mensajeOriginal = $input.item.json.texto_original || \"\";\nconst mensaje = mensajeOriginal.toLowerCase().trim();\n\nconst descripcionImagen = $input.item.json['descripcion de la imagen'] || \"\";\n\nfunction getMexicoDate(offsetDays = 0) {\n  const now = new Date();\n  const utc = now.getTime() + now.getTimezoneOffset() * 60000;\n  const offset = -6 * 60 * 60 * 1000; // UTC‑6\n  return new Date(utc + offset + offsetDays * 24 * 60 * 60 * 1000);\n}\n\nconst ahora = getMexicoDate();\n\nfunction parseFecha(texto) {\n  const dias = [\"domingo\",\"lunes\",\"martes\",\"miércoles\",\"jueves\",\"viernes\",\"sábado\"];\n  for (let i = 0; i < dias.length; i++) {\n    if (texto.includes(dias[i])) {\n      let fecha = getMexicoDate((i - getMexicoDate().getDay() + 7) % 7 || 7);\n      if (mensaje.includes(\"próximo\")) fecha = new Date(fecha.getTime() + 7 * 864e5);\n      if (fecha < ahora) fecha = new Date(fecha.getTime() + 7 * 864e5);\n      return fecha;\n    }\n  }\n  const match = texto.match(/\\b(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{2,4})\\b/);\n  if (match) {\n    const [ , d, m, a ] = match;\n    const año = a.length === 2 ? `20${a}` : a;\n    return new Date(`${año}-${m.padStart(2,\"0\")}-${d.padStart(2,\"0\")}T00:00:00-06:00`);\n  }\n  return null;\n}\n\nfunction parseHora(text) {\n  const match = text.match(/\\b(\\d{1,2})(?::(\\d{2}))?\\s*(am|pm)?\\b/);\n  if (!match) return null;\n  let [, h, min, suf] = match;\n  h = parseInt(h);\n  min = parseInt(min || \"0\");\n  if (suf === \"pm\" && h < 12) h += 12;\n  if (suf === \"am\" && h === 12) h = 0;\n  return { horas: h, minutos: min };\n}\n\nconst fecha = parseFecha(mensaje);\nconst horaObj = parseHora(mensaje);\nif (fecha && horaObj) fecha.setHours(horaObj.horas, horaObj.minutos, 0, 0);\n\nconst salida = {\n  sessionId: $input.first().json.sessionId || \"\",\n  texto_original: mensajeOriginal,\n  descripcion_de_la_imagen: descripcionImagen,\n  fecha_actual: ahora.toISOString().split(\"T\")[0],\n  hora_actual: `${ahora.getHours().toString().padStart(2,\"0\")}:${ahora.getMinutes().toString().padStart(2,\"0\")}`,\n  fecha_hora_actual: ahora.toISOString()\n};\n\nif (fecha) {\n  salida.fecha = fecha.toISOString().split(\"T\")[0];\n  salida.cita_iso = fecha.toISOString();\n}\nif (horaObj) {\n  salida.hora = `${horaObj.horas.toString().padStart(2,\"0\")}:${horaObj.minutos.toString().padStart(2,\"0\")}`;\n}\n\nreturn [{ json: salida }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13152,
        11920
      ],
      "id": "d1b57d84-575f-47fe-a939-0c1ed828fac2",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        11136,
        11680
      ],
      "id": "1d2b5ce2-c4e5-4646-ba7f-0d3c72239e5e",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "F3ZY8evKfJMeWVz6",
          "name": "OpenAI ELINA"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Explica lo que ves en la imagen, si hay texto transcríbelo, debe ser descriptivo y breve para interpretar",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        10976,
        11904
      ],
      "id": "29eb7e97-11bb-44c9-9000-47477bb9849c",
      "name": "Describir Imagen1",
      "credentials": {
        "openAiApi": {
          "id": "F3ZY8evKfJMeWVz6",
          "name": "OpenAI ELINA"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        12272,
        11920
      ],
      "id": "0cb996cc-c4aa-4cbe-8047-1191fcc7ecaf",
      "name": "Merge3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Responde a esto: {{ $json.text || '' }}\n\n{{ $json['descripcion de la imagen'] ? '[Descripción de imagen]: ' + $json['descripcion de la imagen'] + '\\n\\n' : '' }}{{ $json.rag_memory || '' }}\n\n{{ $json.promo_context || '' }}",
        "options": {
          "systemMessage": "=Eres ELINA IA, una asistente virtual de WhatsApp. Tu objetivo es automatizar la atención a clientes, generar ventas y agendar citas.\n\n**CONTEXTO DEL NEGOCIO (Personalizado):**\n{{ $items(\"Obtener Prompt y Configuración1\")[0].json.prompt_content }}\n\n**INFORMACIÓN DE LA EMPRESA (SOLO DATOS DISPONIBLES):**\n{{ $items(\"Obtener Perfil de Usuario1\")[0].json.website ? '- Sitio Web: ' + $items(\"Obtener Perfil de Usuario1\")[0].json.website + '\\n' : '' }}{{ $items(\"Obtener Perfil de Usuario1\")[0].json.social_media?.instagram ? '- Instagram: ' + $items(\"Obtener Perfil de Usuario1\")[0].json.social_media.instagram + '\\n' : '' }}{{ $items(\"Obtener Perfil de Usuario1\")[0].json.social_media?.facebook ? '- Facebook: ' + $items(\"Obtener Perfil de Usuario1\")[0].json.social_media.facebook + '\\n' : '' }}{{ $items(\"Obtener Perfil de Usuario1\")[0].json.company_description ? '- Descripción: ' + $items(\"Obtener Perfil de Usuario1\")[0].json.company_description + '\\n' : '' }}{{ $items(\"Obtener Perfil de Usuario1\")[0].json.work_start_hour && $items(\"Obtener Perfil de Usuario1\")[0].json.work_end_hour ? '- Horario de atención: ' + $items(\"Obtener Perfil de Usuario1\")[0].json.work_start_hour + 'hrs a ' + $items(\"Obtener Perfil de Usuario1\")[0].json.work_end_hour + 'hrs\\n' : '' }}{{ $items(\"Obtener Perfil de Usuario1\")[0].json.business_address ? '- Dirección: ' + $items(\"Obtener Perfil de Usuario1\")[0].json.business_address + '\\n' : '' }}{{ $items(\"Obtener Perfil de Usuario1\")[0].json.business_phone ? '- Teléfono: ' + $items(\"Obtener Perfil de Usuario1\")[0].json.business_phone + '\\n' : '' }}{{ $items(\"Obtener Perfil de Usuario1\")[0].json.pickup_location ? '- Ubicación de recogida: ' + $items(\"Obtener Perfil de Usuario1\")[0].json.pickup_location + '\\n' : '' }}\n\n### 🚨 REGLA CRÍTICA: NO INVENTAR DATOS 🚨\n**NUNCA inventes direcciones, teléfonos, ubicaciones, información de envíos, tracking, métodos de pago, o información financiera.**\n- Si NO tienes un dato disponible arriba, NO lo menciones ni lo inventes. Di honestamente: \"No tengo esa información disponible. Un humano te puede ayudar mejor.\"\n- **INFORMACIÓN DE ENVÍOS:** {{ $items(\"Obtener Perfil de Usuario1\")[0].json.has_shipping_system ? 'El negocio tiene sistema de tracking.' : 'El negocio NO tiene sistema de tracking. Si preguntan, di que un humano les ayudará.' }}\n- **PAGOS:** NUNCA menciones métodos de pago específicos a menos que estén arriba. Si preguntan, di: \"Un humano puede ayudarte con las opciones de pago.\"\n\n### ⚠️ REGLA SUPREMA DE HERRAMIENTAS (CRÍTICO) ⚠️\nSi vas a mencionar un producto (precio, nombre o detalles), **ES OBLIGATORIO** usar la herramienta `ver productos` en este turno.\nMuchos productos pueden ser solo codigos por lo que consdiera si parece que no tiene tanto sentido revisar los productos para confirmar\n* **Objetivo:** Obtener el ID del producto para usar placeholders.\n* **Consecuencia:** Sin el ID, el sistema no puede mostrar la foto ni calcular precios.\n\n### 🎯 FORMATO DE DATOS DE PRODUCTOS (PLACEHOLDERS) ###\n**PROHIBIDO escribir precios, URLs o nombres directamente. Usa SIEMPRE estos formatos con el ID:**\n- `[PRODUCT_NAME:ID]` - Nombre del producto.\n- `[PRODUCT_PRICE:ID]` - Precio.\n- `[PRODUCT_URL:ID]` - URL de Imagen.\n- `[PRODUCT_STOCK:ID]` - Stock.\n- `[PRODUCT_DESC:ID]` - Descripción.\n\n### 📝 REGLA DE NOMBRE EXACTO:\nUsa EXCLUSIVAMENTE el placeholder `[PRODUCT_NAME:ID]`. No agregues sufijos ni menciones compatibilidades en el nombre, incluso si lo has hecho antes.\n\n### 💰 COTIZACIONES - FORMATO LIMPIO (OBLIGATORIO):\n**PROHIBIDO calcular manualmente.** No intentes multiplicar ni sumar.\nUsa SIEMPRE estos placeholders exactos, el sistema n8n hará la matemática por ti:\n- Para cada producto: `[cantidad] piezas Subtotal: $[subtotal_calculado] + IVA`\n- Para el total: `💰 Total sin IVA: $[TOTAL_CALCULADO]`\n\n**Ejemplo de estructura de cotización:**\nTu cotización para 3 piezas de cada toner:\n\n🛍️ *[PRODUCT_NAME:5066]* — $[PRODUCT_PRICE:5066] c/u\n3 piezas Subtotal: $[subtotal_calculado] + IVA\n\n🛍️ *[PRODUCT_NAME:5318]* — $[PRODUCT_PRICE:5318] c/u\n3 piezas Subtotal: $[subtotal_calculado] + IVA\n\n💰 Total sin IVA: $[TOTAL_CALCULADO]\n\n### 🎨 GUÍA DE ESTILO VISUAL:\n1. **Presentación Individual:**\n   🛍️ **[PRODUCT_NAME:ID]** — $[PRODUCT_PRICE:ID]\n   🔹 [PRODUCT_DESC:ID]\n   Imagen: [PRODUCT_URL:ID]\n2. **Cierre:** Termina con una pregunta clara (💬) como \"¿Quieres que te prepare la cotización con IVA?\" o \"¿Te parece bien?\".\n\n### 🗣️ REGLAS GENERALES:\n1. **Audios:** Si el usuario mandó un audio o pide respuesta hablada, inicia con `[AUDIO]`.\n2. **Brevedad:** Tono amigable y breve (máximo 4 líneas de chat, sin contar productos).\n3. **Limpieza:** No menciones \"buscando en base de datos\".\n\n**MANEJO DE CONTEXTO:**\nUsa la herramienta `historialchat` para dar seguimiento. Si el usuario dice \"quiero el primero de esos\", revisa el historial para saber qué producto era y ejecuta `ver productos` para obtener su ID."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        16608,
        12112
      ],
      "id": "aa040dfa-9ceb-41ea-a8fd-f1e300143702",
      "name": "AI Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $items(\"Set Fields1\")[0]?.json?.instance?.name ?? \"\" }}",
        "remoteJid": "={{ ( $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"].includes(\"@lid\") ? $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJidAlt\"] : $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] ).replace(\"@s.whatsapp.net\", \"\") }}",
        "messageText": "={{ $json['mensaje texto '] }}",
        "options_message": {
          "delay": 1500,
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        20864,
        12432
      ],
      "id": "c715f442-fc19-4434-b169-38623e99538d",
      "name": "Enviar texto3",
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "Z9jp08jNe9bfzQyi",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-video",
        "instanceName": "={{ $items(\"Set Fields1\")[0]?.json?.instance?.name ?? \"\" }}",
        "remoteJid": "={{ ( $items(\"Webhook1\")[0].json.body.data.key.remoteJid.includes(\"@lid\") ? $items(\"Webhook1\")[0].json.body.data.key.remoteJidAlt : $items(\"Webhook1\")[0].json.body.data.key.remoteJid ).replace(\"@s.whatsapp.net\", \"\") }}",
        "media": "={{ $items(\"Definir destinatario1\")[0]?.json?.urlVideo ?? \"\" }}",
        "caption": "={{ $items(\"Definir destinatario1\")[0]?.json?.[\"mensaje texto \"] ?? \"\" }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        20864,
        12176
      ],
      "id": "dca98af3-c26c-49d8-9253-05fe1c0a05cd",
      "name": "Enviar Video1",
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "Z9jp08jNe9bfzQyi",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1127a127-ad88-4889-994f-d97cf0c75eae",
              "name": "numer",
              "value": "={{ ($items(\"Webhook1\")[0]?.json?.body?.data?.key?.remoteJid ?? \"\").replace(\"@s.whatsapp.net\",\"\") }}",
              "type": "string"
            },
            {
              "id": "12dcf139-d7a4-47ae-959b-26a6a9b5f689",
              "name": "mensaje texto ",
              "value": "={{ $items(\"Separar imagen o video del texto o audio1\")[0]?.json?.mensaje_texto ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "1e3a8ade-0e71-491c-9a7b-4d8809014296",
              "name": "url_imagen",
              "value": "={{ ($items(\"Separar imagen o video del texto o audio1\")[0]?.json?.url_imagen ?? \"\").trim() }}",
              "type": "string"
            },
            {
              "id": "f107efb1-c390-4a19-91f3-e504dce325aa",
              "name": "urlVideo",
              "value": "={{ $items(\"Separar imagen o video del texto o audio1\")[0]?.json?.url_video ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "0c03e5e1-c534-45f1-b095-114dc233f4cd",
              "name": "id",
              "value": "={{ $items(\"Merge5\")[0]?.json?.id ?? \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        18928,
        12112
      ],
      "id": "c5ec811f-49ee-4677-bafd-a699d9a95ec9",
      "name": "Definir destinatario1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08316d0d-678d-4482-a89c-a914b13819cb",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "60870119-633c-4f44-a387-efe517ba0f85",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11024,
        12240
      ],
      "id": "12cb5792-0fcb-4355-9c20-a701cd226e01",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        12496,
        11920
      ],
      "id": "44889a56-3ac9-43ed-a42f-5d81fada7e34",
      "name": "Sort1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content",
              "renameField": true,
              "outputFieldName": "messages"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        12720,
        11920
      ],
      "id": "38afe44f-cf96-4d6b-afb2-96121fb0ba1c",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "85ad988a-4c60-433b-b138-578849593ebd",
                    "leftValue": "={{ $items(\"Webhook1\")[0]?.json?.body?.data?.messageType ?? \"\" }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio por ia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "541ee8da-e4f3-4984-a533-99e51b3409a4",
                    "leftValue": "={{ $items(\"Json parse1\")[0]?.json?.content_type ?? \"\" }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "feec1bce-11e9-4ca7-a4f3-5f198bc86a70",
                    "leftValue": "={{ (($items(\"Definir destinatario1\")[0]?.json?.url_imagen ?? \"\") + \"\").trim() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": " imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "475f7ac8-63b9-4d3a-a12e-583d51224820",
                    "leftValue": "={{ (($items(\"Definir destinatario1\")[0]?.json?.urlVideo ?? \"\") + \"\").trim() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $items(\"Definir destinatario1\")[0]?.json?.[\"mensaje texto \"] ?? \"\" }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "b5f25ace-e676-4f06-825e-e21747f1f27a"
                  },
                  {
                    "leftValue": "={{ (($items(\"Definir destinatario1\")[0]?.json?.url_imagen ?? \"\") + \"\").trim() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "no-imagen-check"
                  },
                  {
                    "leftValue": "={{ (($items(\"Definir destinatario1\")[0]?.json?.urlVideo ?? \"\") + \"\").trim() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "no-video-check"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none",
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        19536,
        12112
      ],
      "id": "83f4ed2a-6cd2-4bd9-8d71-a08c3a72bc58",
      "name": "Switch tipo de mensaje1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mytvwfbijlgbihlegmfg.supabase.co/storage/v1/object/audiostemp/audio_{{ $items(\"Webhook1\")[0]?.json?.body?.data?.key?.id || $now.toMillis() }}.mp3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQxODk5MCwiZXhwIjoyMDY5OTk0OTkwfQ.07-JQs9AXJlqKYMDxk4tOL_6zOEGQTddaKlQmKQe14U"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQxODk5MCwiZXhwIjoyMDY5OTk0OTkwfQ.07-JQs9AXJlqKYMDxk4tOL_6zOEGQTddaKlQmKQe14U"
            },
            {
              "name": "Content-Type",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20656,
        11584
      ],
      "id": "64f0a6ee-c054-446d-a42d-a1f3d3d9707d",
      "name": "Subir a supa1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "VmejBeYhbrcTPwDniox7",
          "mode": "list",
          "cachedResultName": "Lina - Carefree & Fresh"
        },
        "text": "={{ $json['mensaje texto '] }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        20432,
        11584
      ],
      "id": "c0b05128-cfbe-4c26-8a59-9ebe57edb75a",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "2Wv6AG1xfNp2VDzm",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "={{ $items(\"Set Fields1\")[0]?.json?.instance?.name ?? \"\" }}",
        "remoteJid": "={{ ( $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"].includes(\"@lid\") ? $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJidAlt\"] : $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] ).replace(\"@s.whatsapp.net\", \"\") }}",
        "media": "=https://mytvwfbijlgbihlegmfg.supabase.co/storage/v1/object/public/audiostemp/audio_{{ $items(\"Webhook1\")[0]?.json?.body?.data?.key?.id || $now.toMillis() }}.mp3",
        "options_message": {
          "delay": 850
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        20880,
        11584
      ],
      "id": "9b985f46-95a7-476e-adf8-8f827d180b09",
      "name": "Enviar audio",
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "Z9jp08jNe9bfzQyi",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d014b9d3-b09b-4d26-ad50-61f369ccd91a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6e7fb3c2-a82e-4993-9308-11d8eb474bbb",
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0f69f392-d5d9-4022-8dba-980f7dcaae1f",
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "otros",
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        10352,
        11904
      ],
      "id": "0c5e0c74-a132-4102-9cda-a0821b8f8541",
      "name": "DivideporType1",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        16608,
        12672
      ],
      "id": "91d5de6e-91fa-4e3c-a0d0-fc2f401f7620",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $items(\"Obtener Prompt y Configuración1\")[0].json.user_id }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "human"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $items(\"set text1\")[0].json.text }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $items(\"Merge5\")[0].json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        22160,
        11872
      ],
      "id": "1631cf27-b91b-42ba-b32c-9772de956067",
      "name": "human1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        16752,
        12688
      ],
      "id": "1c890b17-bc42-4d53-b987-f943f8b71fd6",
      "name": "Wikipedia1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Fields1').item.json.instance['server_url '] }}/chat/getBase64FromMediaMessage/{{ $('Set Fields1').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Set Fields1').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('Set Fields1').item.json.message.MessageBodyData_id }}"
            },
            {
              "name": "convertToMp4",
              "value": "={{ Boolean(false) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10688,
        11680
      ],
      "id": "d166a62c-5ed3-489e-924d-f9e7877797b1",
      "name": "Get audio1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "=data",
        "options": {
          "mimeType": "audio/ogg; codecs=opus"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        10896,
        11680
      ],
      "id": "86c4f69f-feb0-465a-8561-82b12b2ce633",
      "name": "Convert Audio1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Fields1').item.json.instance['server_url '] }}/chat/getBase64FromMediaMessage/{{ $('Set Fields1').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Set Fields1').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('Set Fields1').item.json.message.MessageBodyData_id }}"
            },
            {
              "name": "convertToMp4",
              "value": "={{ Boolean(false) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10592,
        11888
      ],
      "id": "873607dc-96f5-4d43-9a52-ecb9ae57cb8b",
      "name": "Get imagen1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        10800,
        11888
      ],
      "id": "2efc1f99-406b-4859-bcdf-394a72d5b393",
      "name": "Convertimagen1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Set Fields1').item.json.instance.name }}",
        "remoteJid": "={{ $('Webhook1').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}",
        "messageText": "Lo siento no puedo leer este tipo de archivos aún",
        "options_message": {
          "delay": 2500,
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        10736,
        12384
      ],
      "id": "474c9a26-cc34-4083-a749-9d07617fa6e8",
      "name": "Enviar texto4",
      "credentials": {
        "evolutionApi": {
          "id": "Z9jp08jNe9bfzQyi",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Set Fields1').item.json.message.chat_id }}_buffer",
        "messageData": "={{ JSON.stringify($('Set Fields1').item.json.message) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8928,
        12064
      ],
      "id": "2de014bb-7bd9-40ab-93ef-de8046cbc0c4",
      "name": "Push message buffer1",
      "credentials": {
        "redis": {
          "id": "vnorPWkywq2VfyfC",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Set Fields1').item.json.message.chat_id }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        9184,
        11936
      ],
      "id": "e41fe1ed-5931-4ab7-a200-f10e1ec29bec",
      "name": "Get message buffer1",
      "credentials": {
        "redis": {
          "id": "vnorPWkywq2VfyfC",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.message.last()).chat_id }}",
                    "rightValue": "={{ $('Set Fields1').item.json.message.chat_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "71f7de53-ea4c-478d-a74e-868ab9c45a65"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No hacer Nada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12a53c5c-c22e-48b6-8c0a-13bc874594e1",
                    "leftValue": "={{ JSON.parse($json.message.last()).timestamp }}",
                    "rightValue": "={{ $now.minus(3,'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "seguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "espera"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        9392,
        11936
      ],
      "id": "44613f24-b2b0-482e-8865-96af0b3c0d72",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28232932-57f2-446d-bd10-daf58aaa9a23",
              "name": "instance.server_url ",
              "value": "https://evolutionapi-evolution-api.mcjhhb.easypanel.host",
              "type": "string"
            },
            {
              "id": "99d096ed-6532-4267-959b-382237f82337",
              "name": "instance.name",
              "value": "={{ $node.Webhook1.json.body.instance }}",
              "type": "string"
            },
            {
              "id": "fa81d5d8-73c4-4206-8a9c-107d39d5ecd2",
              "name": "instance.apikey",
              "value": "={{ $node.Webhook1.json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "61c66674-de40-4007-9e78-67358272daa8",
              "name": "message.MessageBodyData_id",
              "value": "={{ $node.Webhook1.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "5be6880a-271d-4e59-8b04-afa803ffcf3f",
              "name": "message.chat_id",
              "value": "={{ $node.Webhook1.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "10bb98c3-85ea-4615-a0e5-07c96fa4a27d",
              "name": "message.content_type",
              "value": "={{  $('Webhook1').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{  $('Webhook1').item.json.body.data.message.conversation ? 'text' : '' }}{{  $('Webhook1').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{  $('Webhook1').item.json.body.data.message.imageMessage ? 'image' : '' }}",
              "type": "string"
            },
            {
              "id": "6149f912-a122-4b5a-bcf2-36090fc64db6",
              "name": "message.content",
              "value": "={{  $('Webhook1').item.json.body.data.message.extendedTextMessage?.text || '' }}{{  $('Webhook1').item.json.body.data.message.imageMessage?.caption || '' }}{{  $('Webhook1').item.json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "97ba5de8-7eb3-4dcf-b967-d5c940cb1c37",
              "name": "message.timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "e1be4be0-042a-480e-aeea-59ce11b49516",
              "name": "user.name",
              "value": "={{ $('Webhook1').item.json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8752,
        11872
      ],
      "id": "45c16e10-fd68-43ee-81b6-8f8bb10d77bf",
      "name": "Set Fields1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9600,
        12128
      ],
      "id": "5657cded-68f3-4b05-b325-5956f619428f",
      "name": "Wait1",
      "webhookId": "ae34416d-83c9-4894-9f7f-2e8d60b715a4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        9824,
        11664
      ],
      "id": "48cf40e5-2699-42e3-83be-8f6a45fb8cfc",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Set Fields1').item.json.message.chat_id }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        9616,
        11952
      ],
      "id": "40ae513a-ad0d-4d38-818b-1690faa3f1df",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "vnorPWkywq2VfyfC",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.message[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9856,
        11952
      ],
      "id": "d3ba1513-19be-431d-a2c7-5d24c06ccf5a",
      "name": "Json parse1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/smart-embedding-router",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $items(\"set text1\")[0].json.text.toString().replace(/<\\/?audio>|\\n/g, \" \").trim() }}\",\n  \"model\": \"text-embedding-3-small\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13808,
        11200
      ],
      "id": "aa7d6145-79d5-4dab-b398-da2daa9f7d0c",
      "name": "1. RAG - Obtener Embedding1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/rag-with-fallback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  // Busca texto en: 1. Texto/Audio, 2. Contenido Imagen final, 3. Descripción Imagen cruda\n  query_text: (\n    ($items(\"set text1\")[0]?.json?.text) || \n    ($items(\"Contenido Imagen3\")[0]?.json?.['descripcion de la imagen']) || \n    ($items(\"Describir Imagen1\")[0]?.json?.content) || \n    \"\"\n  ).toString().replace(/<\\/?audio>|\\n/g, \" \").trim(),\n\n  user_id: $items(\"Obtener Prompt y Configuración1\")[0]?.json?.user_id ?? \"\",\n  \n  contact_id: String($items(\"Merge5\")[0]?.json?.id || \"\"),\n\n  query_embedding: ($json.embedding && Array.isArray($json.embedding) && $json.embedding.length > 0)\n    ? $json.embedding\n    : null,\n\n  match_count: 5,\n  similarity_threshold: 0.5\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14080,
        11200
      ],
      "id": "d4fe4b9f-ac5b-41b8-9742-7081fb6d6a97",
      "name": "2. RAG - Buscar en Supabase1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "evolution_instance_name",
              "keyValue": "={{ $('Set Fields1').item.json.instance.name }}"
            },
            {
              "keyName": "evolution_api_key",
              "keyValue": "={{ $json.evolution_api_key }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        13072,
        12288
      ],
      "id": "5ee1b4ca-49c5-4ffe-ad7b-be2f08329c8d",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos TODOS los items que entran (all matches)\nconst allMatches = $input.all().map(i => i.json);\nlet context = \"\";\n\n// Referencia al mensaje ACTUAL para poder compararlo\n// Usamos acceso seguro como aprendimos\nconst currentText = ($items(\"set text1\")[0]?.json?.text || \"\").trim();\n\n// Función para truncar texto\nconst truncate = (text, maxLength = 200) => {\n  if (!text || typeof text !== 'string') return '';\n  if (text.length <= maxLength) return text;\n  return text.substring(0, maxLength - 3) + '...';\n};\n\n// 2. Construimos el contexto (Filtrando el DUPLICADO exacto)\nif (allMatches && allMatches.length > 0) {\n  // Filtramos mensajes que sean idénticos al actual para no confundir al bot\n  const uniqueMessages = allMatches.filter(m => {\n      const msgContent = (m.content || \"\").trim();\n      // Solo pasa si el contenido es diferente al actual\n      return msgContent !== currentText;\n  });\n\n  const limitedMessages = uniqueMessages.slice(0, 5); // Tomamos hasta 5 mensajes previos\n\n  if (limitedMessages.length > 0) {\n      context = \"Contexto de mensajes pasados:\\n\" + \n                limitedMessages.map(m => {\n                  const content = truncate(m.content || '', 200);\n                  const sender = m.message_type === 'ai' ? 'IA:' : 'Humano:';\n                  return `${sender} ${content}`;\n                }).join('\\n') +\n                \"\\n----\\n\";\n  } else {\n      context = \"\"; // Si no queda nada, contexto vacío\n  }\n}\n\n// 3. Acceso SEGURO a nodos de referencia\nconst baseText = $items(\"set text1\")[0]?.json ?? {};\nconst parseData = $items(\"Json parse1\")[0]?.json ?? {};\n\n// 4. Retornamos\nreturn [{\n  json: {\n    ...baseText,\n    rag_context: context,\n    original_content_type: parseData.content_type || 'text'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14320,
        11200
      ],
      "id": "351e3dc6-a1a0-4a6c-a8df-e0374a32a24f",
      "name": "3. RAG - Formatear Contexto1",
      "executeOnce": false
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Base de datos maestra de productos con búsqueda \ninteligente híbrida (full-text + semántica). \n\nBusca productos en la base de datos por nombre o SKU. DEBES proporcionar un parámetro llamado 'filtro' con el nombre del producto o el código que quieres buscar.\n\nÚsala OBLIGATORIAMENTE siempre que se mencione un producto para obtener sus datos técnicos: Precio actual, Stock (disponibilidad), Características y el enlace de la imagen (media_url).\n\n**CÓMO BUSCAR:**\n- Puedes buscar por: nombre del producto, código SKU, modelo de impresora, o cualquier palabra de la descripción.\n- Ejemplos de búsquedas efectivas:\n  * \"toner M477fdw\" - encuentra productos compatibles con ese modelo\n  * \"414A\" - busca por código SKU\n  * \"HP LaserJet Pro\" - busca por marca y modelo\n  * \"impresora Canon\" - busca por tipo y marca\n  * \"toner\" - busca todos los tóners\n\n**CARACTERÍSTICAS DE LA BÚSQUEDA:**\n- La búsqueda es inteligente y encuentra productos incluso si:\n  * El código está parcialmente escrito (ej: \"M477\" encuentra \"M477fdw\")\n  * El modelo está en la descripción (ej: busca \"M477fdw\" y encuentra productos que lo mencionan en la descripción)\n  * Hay variaciones en el texto (ej: \"toner\" encuentra \"Toner\", \"TÓNER\", etc.)\n\n**IMPORTANTE:**\n- Es necesario ejecutarla en cada consulta para asegurar que los datos no sean inventados y para recuperar la foto si está disponible.\n- Si el usuario menciona un modelo específico (ej: \"M477fdw\"), busca exactamente ese código o variaciones.\n- Si menciona un tipo de producto (ej: \"toner\"), busca \"toner\" y el sistema encontrará productos compatibles.\n- Si no encuentras resultados con una búsqueda, intenta con términos más generales (ej: si \"M477fdw\" no da resultados, intenta \"M477\" o \"toner HP\").",
        "operation": "getAll",
        "tableId": "products",
        "limit": 10,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $items(\"Obtener Prompt y Configuración1\")[0].json.user_id }}"
            },
            {
              "keyName": "product_name",
              "condition": "ilike",
              "keyValue": "={{ $json.filtro }}*"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        17088,
        12896
      ],
      "id": "811e8a23-1d07-4b16-8475-a8a01003c3e3",
      "name": "ver productos1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/smart-embedding-router",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"text\": ($items(\"human1\")[0]?.json?.content ?? \"\").toString(),\n  \"model\": \"text-embedding-3-small\"\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        22384,
        12032
      ],
      "id": "b2794c67-861b-4da4-9c8f-b4387fb8f655",
      "name": "1b. Obtener Embedding Humano1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT increment_daily_stats('{{ $('Get a row1').item.json.id }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        13504,
        12592
      ],
      "id": "f59fe567-0f74-4ff5-89e5-160932b140f8",
      "name": "Registrar Métrica1",
      "credentials": {
        "postgres": {
          "id": "aMeojWCCYNn8y4pz",
          "name": "SupavELina"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.contacts\nSET followup_status = 'paused'\nWHERE \n  user_id = '{{ $('Get a row1').item.json.id }}' \n  AND phone_number = '{{ '+' + ( $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"].includes(\"@lid\") ? $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJidAlt\"] : $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] ).replace(\"@s.whatsapp.net\", \"\") }}'\n  AND followup_status = 'active';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        13312,
        12592
      ],
      "id": "afdf146c-59ad-494f-8aef-00887c50ebe6",
      "name": "Pausar Seguimiento Activo1",
      "credentials": {
        "postgres": {
          "id": "aMeojWCCYNn8y4pz",
          "name": "SupavELina"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "evolution_instance_name",
              "keyValue": "={{ $('Set Fields1').item.json.instance.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        13360,
        11920
      ],
      "id": "66c0f53c-6e84-4379-b707-c0ac1e5737c3",
      "name": "Obtener Perfil de Usuario1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "prompts",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        13840,
        12288
      ],
      "id": "77fa5e5d-de7d-4474-8eaf-025c5470432f",
      "name": "Obtener Prompt y Configuración1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "evolution_instance_name",
              "keyValue": "={{ $json.body.instance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6752,
        12192
      ],
      "id": "90c48e4a-2330-47f9-8497-8bed61ff8295",
      "name": "evolution_instance_name1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "78d76020-9623-4a3f-a5e5-49e96f2acd09",
              "leftValue": "={{ $('Get Subscription1').all()[0].json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b019d5de-ac0e-499e-9cb7-eb9cc44131ab",
              "leftValue": "={{ $('Get Subscription1').all()[0].json.status }}",
              "rightValue": "trialing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7040,
        12192
      ],
      "id": "cf2f39e2-a4d1-494e-9730-6efe2bdf8599",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6912,
        12048
      ],
      "id": "985dee3e-e113-4f53-899c-827fee8d1331",
      "name": "Get Subscription1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7008,
        12432
      ],
      "id": "a08f3555-ad43-446e-9493-c850b1f3a1a3",
      "name": "No Operation, do nothing5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6c15fe1-7c78-4d99-bf93-b53e72482218",
              "leftValue": "={{ $json.labels }}",
              "rightValue": "ignorar",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8432,
        11760
      ],
      "id": "1e7223a8-b387-4277-af18-868b4285c9cc",
      "name": "ignorar?1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "contacts",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}"
            },
            {
              "keyName": "phone_number",
              "keyValue": "=+{{ ($('Webhook1').item.json.body.data.key.remoteJid.includes('@lid') ? $('Webhook1').item.json.body.data.key.remoteJidAlt : $('Webhook1').item.json.body.data.key.remoteJid).replace('@s.whatsapp.net', '').replace('@lid', '') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7152,
        11520
      ],
      "id": "4d4d0379-16ea-4409-ad6c-b4707b10846f",
      "name": "buscar contacto1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        8992,
        11520
      ],
      "id": "80a76340-dbf9-47c9-a3b5-def2af194664",
      "name": "No Operation, do nothing6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        15680,
        11328
      ],
      "id": "c16748a5-413c-48b3-a1e2-ad3b40c9fc83",
      "name": "No Operation, do nothing7"
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "human"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.message.conversation }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date(new Date($('Webhook1').item.json.body.date_time).getTime() - 3 * 60 * 60 * 1000).toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8736,
        11552
      ],
      "id": "ac53088a-0789-455f-ae9f-6540942cc042",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Usamos $items para acceso seguro y evitar error de pairing\nconst userId = $items(\"Get a row3\")[0].json.id;\nconst b64 = $items(\"Get imagen1\")[0].json.base64;\n\n// Preparamos el cuerpo de la petición\nconst body = {\n  userId: userId,\n  b64_json: b64,\n  subfolder: 'chat-files' \n};\n\nreturn { json: body };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11184,
        11920
      ],
      "id": "87d923c7-eb89-4668-b18c-c07c4ed7c25b",
      "name": "Preparar para Subir a Bunny1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/smart-worker",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11344,
        11920
      ],
      "id": "31964dc1-91a9-4d3c-b5ce-a9c6d34e6113",
      "name": "Subir a Bunny1",
      "credentials": {
        "httpBearerAuth": {
          "id": "gIoa82xaIrz0lSEj",
          "name": "supabase Elina"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "evolution_instance_name",
              "keyValue": "={{ $('Set Fields1').item.json.instance.name }}"
            },
            {
              "keyName": "evolution_api_key",
              "keyValue": "={{ $('Set Fields1').item.json.instance.apikey }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        11056,
        12064
      ],
      "id": "c6fd77e8-b0e7-4236-8101-1f60187dfa89",
      "name": "Get a row3",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acceso seguro al mensaje original y a la respuesta de Bunny\nconst caption = $items(\"Set Fields1\")[0].json.message.content || '';\nconst cdnUrl = $items(\"Subir a Bunny1\")[0].json.cdnUrl || '';\n\n// Unimos caption y URL\nconst finalContent = `${caption} ${cdnUrl}`.trim();\n\nreturn {\n  json: {\n    content: finalContent,\n    // Acceso seguro al resultado de la descripción\n    'descripcion de la imagen': $items(\"Describir Imagen1\")[0].json.content,\n    timestamp: $items(\"Set Fields1\")[0].json.message.timestamp\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11584,
        11920
      ],
      "id": "39dc7d99-2c62-427e-bda7-57ec092e0253",
      "name": "Contenido Imagen3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        19808,
        11856
      ],
      "id": "d362f72a-f1f1-4346-9e8f-49fd168d90a4",
      "name": "Merge4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9907162b-f1ae-4e83-bcd2-a7f3deffec83",
              "name": "numer",
              "value": "={{ ($items(\"Webhook1\")[0]?.json?.body?.data?.key?.remoteJid ?? \"\").replace(\"@s.whatsapp.net\",\"\") }}",
              "type": "string"
            },
            {
              "id": "c0e023d4-eb56-4f75-8096-4a1c8c2f9c41",
              "name": "mensaje texto ",
              "value": "={{ $json.texto.replace('[AUDIO]', '').replace(/([\\u2700-\\u27BF]|[\\uE000-\\uF8FF]|\\uD83C[\\uDC00-\\uDFFF]|\\uD83D[\\uDC00-\\uDFFF]|\\uD83E[\\uDC00-\\uDFFF])/g, '').replace(/\\s+/g, ' ').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20208,
        11584
      ],
      "id": "c3732aa3-e086-47f3-9f00-f169003cc2b6",
      "name": "que escribir como audio1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1dcff91-2111-49df-8a99-bb9ee8027ac3",
              "name": "texto",
              "value": "={{ $items(\"AI Agent\")[0]?.json?.output ?? \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20016,
        11728
      ],
      "id": "f759191a-3a34-4038-9c4b-407c89666507",
      "name": "Preparar Texto para Audio1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9d532c0-df4d-4bb0-bd3f-92ff060f3b4e",
              "leftValue": "={{ $('Webhook1').item.json.body.data.key.fromMe }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6448,
        12192
      ],
      "id": "f2bfa991-f86a-4ffc-899e-e566b15fc54f",
      "name": "If3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/detect-critical-intent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"contact_id\": $items(\"Merge5\")[0]?.json?.id,\n  \"user_id\": $items(\"Get a row1\")[0]?.json?.id,\n  \"message_content\": $items(\"set text1\")[0]?.json?.text,\n  \"message_id\": null\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14128,
        11696
      ],
      "id": "b1533c9c-dc56-4481-9a34-6d72a92a35df",
      "name": "Detectar Intención Crítica1",
      "credentials": {
        "httpBearerAuth": {
          "id": "gIoa82xaIrz0lSEj",
          "name": "supabase Elina"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69201307-af1f-4a30-893a-7261ac0a37a6",
              "leftValue": "={{ $json.is_critical }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        14384,
        11680
      ],
      "id": "55ffe787-6c00-4ae4-b98b-6ed47d1d1b42",
      "name": "IF: ¿Es Crítico?1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $items(\"Obtener Prompt y Configuración1\")[0].json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        14560,
        11328
      ],
      "id": "4efea14f-af2b-477f-ad51-bf9186543ae1",
      "name": "Obtener Número Notificación1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- NODO: Preparar Mensaje Notificación Crítica (VERSIÓN LIGERA) ---\n\nconst limpiarTexto = (texto) => {\n  if (!texto) return '';\n  return String(texto).replace(/[\\x00-\\x1F\\x7F]/g, '').replace(/\\[|\\]/g, '').trim();\n};\n\n// Acceso SEGURO solo a los nodos que sabemos que se ejecutaron\n// El nodo que lanza esta notificación es 'Detectar Intención Crítica1'\nconst webhook = $items(\"Webhook1\")[0]?.json ?? {};\nconst deteccionCritica = $items(\"Detectar Intención Crítica1\")[0]?.json ?? {};\nconst perfilCuentas = $items(\"Obtener Número Notificación1\")[0]?.json ?? {};\n\n// Datos del Webhook (Siempre existen)\nlet numero = 'No disponible';\ntry {\n  const remoteJid = webhook.body?.data?.key?.remoteJid || '';\n  numero = limpiarTexto(remoteJid.replace('@s.whatsapp.net', ''));\n} catch (e) {}\n\n// Datos de la detección (Siempre existen si llegamos aquí)\nlet tipoDeteccion = limpiarTexto(deteccionCritica.detection_type) || 'Crítico';\nlet confianza = Math.round((deteccionCritica.confidence || 0) * 100);\nlet contenidoDetectado = limpiarTexto(deteccionCritica.detected_content) || 'No disponible';\n\n// Construir mensaje\nlet mensaje = '🚨 *ATENCIÓN REQUERIDA*\\n\\n';\nmensaje += 'Se detectó una intención crítica en una conversación:\\n\\n';\nmensaje += '*Número:* ' + numero + '\\n';\nmensaje += '*Tipo de detección:* ' + tipoDeteccion + '\\n';\nmensaje += '*Confianza:* ' + confianza + '%\\n\\n';\nmensaje += '*Mensaje detectado:*\\n';\nmensaje += contenidoDetectado + '\\n\\n';\nmensaje += 'La conversación ha sido pausada automáticamente. Revisa el chat en la aplicación.';\n\n// IMPORTANTE: Quitamos la cotización por ahora porque es la que causa el \"cuelgue\".\n// Más adelante, si necesitas la cotización aquí, necesitaremos un nodo MERGE antes de este código.\n\nreturn [{\n  json: {\n    mensaje_completo: mensaje\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14784,
        11120
      ],
      "id": "d0ca259d-dfdd-4b83-9f4d-3c634170e24b",
      "name": "Preparar Mensaje Notificación Crítica"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "ElinaHead",
        "remoteJid": "={{ $('Obtener Número Notificación1').item.json.contact_phone.replace('+', '').replace('@s.whatsapp.net', '') }}",
        "messageText": "={{ $('Preparar Mensaje Notificación Crítica').item.json.mensaje_completo }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        15024,
        11328
      ],
      "id": "9622188f-a71f-4cef-9712-7752a2aaa3a4",
      "name": "Enviar Notificación WhatsApp1",
      "credentials": {
        "evolutionApi": {
          "id": "Z9jp08jNe9bfzQyi",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input: debe traer ya promoContext\nconst inputData = $input.first().json;\n\n// 1. Recuperar datos originales\nconst ragNode = $items(\"3. RAG - Formatear Contexto1\")[0]?.json ?? {};\nconst originalText = ragNode.text ?? $items(\"set text1\")[0]?.json?.text ?? inputData.text ?? \"\";\n\n// 2. Separar contextos\nconst memoryContext = ragNode.rag_context ?? inputData.rag_context ?? \"\";\n\n// 3. Extraer texto de la Promo (Buscamos en TODOS los campos posibles)\nlet promoText = inputData.promo_text ?? inputData.promo ?? \"\";\nif (typeof promoText === 'object' && promoText !== null) {\n    promoText = promoText.promo_text || promoText.text || promoText.description || promoText.copy || promoText.content || promoText.title || JSON.stringify(promoText);\n}\nconst finalPromo = promoText ? `\\n[PROMOCIÓN ACTIVA]:\\n${promoText}` : \"\";\n\n// 4. Retornar variables SEPARADAS\nreturn [{\n  json: {\n    ...inputData,\n    text: originalText,\n    rag_memory: memoryContext,      // Memoria Histórica\n    promo_context: finalPromo       // Promo actual\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16080,
        11488
      ],
      "id": "4eca372b-a9c2-4fcf-a5ea-7322931e4fca",
      "name": "agregar Promo al Contexto1",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const contextData = $input.first().json;\n\n// STRICT CHECK: Only add context if intent is explicitly TRUE\n// If has_intent is undefined or false, DO NOT add context\nif (contextData.has_intent !== true) {\n  return [{ json: contextData }];\n}\n\n// Lógica de disponibilidad\nconst hasSlots = contextData.has_slots === true;\nconst availabilityText = contextData.availability_context || \"\";\nlet citasMsg = \"\";\n\nif (availabilityText) {\n  if (hasSlots) {\n    citasMsg = `\\n\\n[CONTEXTO DE CITAS]\\n${availabilityText}\\n\\nINSTRUCCIONES:\\n- Ofrece los horarios disponibles.\\n- Si confirma, agenda la cita.`;\n  } else {\n    citasMsg = `\\n\\n[CONTEXTO DE CITAS]\\n${availabilityText}\\n- Informa que no hay horarios hoy.`;\n  }\n}\n\n// IMPORTANTE: Agregamos la info de citas a 'rag_memory' para que el Agente lo vea\n// sin borrar 'promo_context' ni 'text'\nconst currentMemory = contextData.rag_memory || \"\";\ncontextData.rag_memory = currentMemory + citasMsg;\n\nreturn [{ json: contextData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16336,
        11504
      ],
      "id": "34a75be1-ff57-486c-8492-a262f1cfd781",
      "name": "Agregar Contexto de Citas1",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f1cbc6b-5c7f-4624-ad44-1bfda5e00094",
              "leftValue": "={{ $json.promo }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        15920,
        11728
      ],
      "id": "a0840462-d043-4baf-9837-21e9980c2694",
      "name": "IF: ¿Hay Promoción?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "appointment-intent-check",
              "leftValue": "={{ $json.has_intent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        15232,
        11536
      ],
      "id": "930ac073-70d9-4508-9910-48023e3b5e53",
      "name": "IF: ¿Tiene Intención de Cita?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/get-available-slots",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $items(\"Get a row1\")[0].json.id }}\",\n  \"date\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n  \"duration_minutes\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15552,
        11552
      ],
      "id": "7a18e264-00d7-4850-9d4f-0a54b9a4a9aa",
      "name": "Obtener Slots Disponibles",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "gIoa82xaIrz0lSEj",
          "name": "supabase Elina"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatear disponibilidad para el contexto de la IA\nconst slots = $input.item.json.available_slots || [];\nconst date = $input.item.json.date || '';\nconst timezone = $input.item.json.timezone || 'America/Mexico_City';\n\nif (slots.length === 0) {\n  return [{\n    json: {\n      availability_context: 'No hay horarios disponibles para hoy. Puedes sugerir que el cliente pregunte por otros días.',\n      has_slots: false,\n      slots: [],\n      date: date\n    }\n  }];\n}\n\n// Formatear slots para el contexto\nconst slotsText = slots.map((slot, index) => {\n  return `${index + 1}. ${slot.start} - ${slot.end}`;\n}).join('\\n');\n\nconst context = `El cliente quiere agendar una cita. Horarios disponibles para ${date}:\\n${slotsText}\\n\\nOfrece estos horarios al cliente de forma natural y pregunta cuál prefiere.`;\n\nreturn [{\n  json: {\n    availability_context: context,\n    has_slots: true,\n    slots: slots,\n    date: date\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15584,
        11776
      ],
      "id": "72876f7b-b454-4700-a8e3-9854dabd5ef3",
      "name": "Formatear Disponibilidad"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "smart_promotions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $items(\"Get Subscription1\")[0].json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        15520,
        12160
      ],
      "id": "0a03a93b-46f3-4ae8-930d-4ad973432624",
      "name": "Buscar Promociones Activas1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Acceso SEGURO a los datos (Evita que n8n se quede colgado)\nlet mergeData = {};\ntry {\n  // Intentamos obtener Merge5, si falla usamos los datos que ya vienen en el flujo ($json)\n  mergeData = $items(\"Merge5\")[0]?.json || $json;\n} catch (e) {\n  mergeData = $json;\n}\n\n// 2. Obtener las labels actuales\nlet labelsArray = [];\nconst currentLabels = mergeData.labels || [];\n\nif (Array.isArray(currentLabels)) {\n  labelsArray = [...currentLabels];\n} else if (typeof currentLabels === 'string') {\n  try {\n    labelsArray = JSON.parse(currentLabels);\n  } catch (e) {\n    labelsArray = currentLabels.split(',').map(l => l.trim()).filter(Boolean);\n  }\n}\n\n// 3. Verificar si \"ignorar\" ya existe (case-insensitive)\nconst hasIgnore = labelsArray.some(label => \n  label && label.toString().toLowerCase().trim() === 'ignorar'\n);\n\n// 4. Agregar \"ignorar\" solo si no existe\nif (!hasIgnore) {\n  labelsArray.push('ignorar');\n}\n\n// 5. Retornar el objeto actualizado\nreturn [{\n  json: {\n    ...mergeData,\n    labels: labelsArray,\n    phone_number: mergeData.phone_number || $json.phone_number\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15248,
        11328
      ],
      "id": "f950c4e0-2950-48f2-aa94-a357408a6212",
      "name": "Preparar Labels con Ignorar1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Guardar los datos de entrada originales\nlet inputData = {};\ntry {\n  inputData = $input.first().json;\n} catch (e) {\n  inputData = {};\n}\n\n// Obtener todos los items\nconst allItems = $input.all();\n\n// Función de retorno seguro\nconst returnResult = (promoFound) => {\n  return [{\n    json: {\n      ...inputData,       // Mantiene los datos anteriores\n      promo: promoFound   // Añade la promo\n    }\n  }];\n};\n\nif (!allItems || allItems.length === 0) {\n  return returnResult(null);\n}\n\nconst promos = allItems.map(item => item.json);\n\n// Función helper\nconst toBoolean = (value) => {\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'string') {\n    const lower = value.toLowerCase().trim();\n    return lower === 'true' || lower === '1' || lower === 'yes';\n  }\n  return Boolean(value);\n};\n\nconst now = new Date();\n\n// Evaluar cada promo\nconst selected = promos.find((promo) => {\n  const isActive = toBoolean(promo.is_active);\n  const noSchedule = toBoolean(promo.no_schedule);\n  \n  if (!isActive) return false;\n  \n  if (!noSchedule) {\n    if (promo.start_at && new Date(promo.start_at) > now) return false;\n    if (promo.end_at && new Date(promo.end_at) < now) return false;\n  }\n  \n  return true;\n});\n\n// Devolver resultado\nreturn returnResult(selected || null);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15728,
        12160
      ],
      "id": "1453bc43-af84-499c-80cd-e3d6f4ad175b",
      "name": "Filtrar Promoción Válida1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32449b98-5016-45a4-bf3d-ef5a5a3f72b9",
              "name": "phone",
              "value": "={{ $items(\"buscar contacto1\")[0]?.json?.phone_number || \"\" }}",
              "type": "string"
            },
            {
              "id": "e0e31afc-a082-4e18-8d44-c78a2541257f",
              "name": "text",
              "value": "={{ $items(\"set text1\")[0]?.json?.text || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16128,
        11840
      ],
      "id": "8b164708-4b15-4d90-8f83-c9b3d8805892",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $items(\"Webhook1\")[0].json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        16448,
        12352
      ],
      "id": "c0f9ba70-f483-4c93-a81c-608b0e538496",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cbe73dff-5517-4388-846e-6abf1bba527f",
              "leftValue": "={{ $('buscar contacto1').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7296,
        12096
      ],
      "id": "f83deb57-8863-412f-b1f2-4e19760affbe",
      "name": "existe el contacto?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7632,
        12000
      ],
      "id": "da57109d-9973-4bab-a034-d7e3a0978cf5",
      "name": "Merge5"
    },
    {
      "parameters": {
        "tableId": "contacts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Get Subscription1').item.json.user_id }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ '+' + ( $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"].includes(\"@lid\") ? $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJidAlt\"] : $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] ).replace(\"@s.whatsapp.net\", \"\") }}"
            },
            {
              "fieldId": "full_name",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.pushName || $('Webhook1').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}"
            },
            {
              "fieldId": "labels",
              "fieldValue": "={{ [\"nuevo cliente\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7456,
        11824
      ],
      "id": "21cd5864-5365-4b82-8936-75d1cdb35988",
      "name": "Create Contact1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a/messages-upsert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        5872,
        12192
      ],
      "id": "38ca49c8-c85f-4152-9542-ab292fee89ae",
      "name": "Webhook1",
      "webhookId": "a4c591c2-69fd-4f63-a374-d5dfc8bd324d"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        13648,
        12304
      ],
      "id": "9962e677-6061-457d-a0d3-032fbbb877e9",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const texto = $json.output || \"\";\n\n// Regex para detectar el primer tipo de medio\nconst imgRegex = /https?:\\/\\/[^\\s\"'<>]+\\.(?:png|jpg|jpeg|gif|webp)/i;\nconst vidRegex = /https?:\\/\\/[^\\s\"'<>]+\\.(?:mp4|mov|avi)/i;\n\nconst firstImg = texto.match(imgRegex);\nconst firstVid = texto.match(vidRegex);\n\nreturn {\n  mensaje_texto: texto, // Pasamos el texto COMPLETO para el Split posterior\n  // El Switch encontrará estos campos y sabrá a dónde ir\n  url_imagen: firstImg ? firstImg[0] : \"\",\n  url_video: firstVid ? firstVid[0] : \"\",\n  // Si hay video, mandamos a video. Si no, si hay imagen, a imagen.\n  tipo_prioritario: firstVid ? 'video' : (firstImg ? 'image' : 'text')\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18512,
        12128
      ],
      "id": "7ef43d5c-cc5a-4c0d-9479-8d9fc2c96675",
      "name": "Separar imagen o video del texto o audio1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Recogemos los datos originales\nconst inputItem = $input.first();\nconst inputData = inputItem.json;\nconst textoCompleto = inputData[\"mensaje texto \"] || inputData.mensaje_texto || inputData.output || \"\";\n\n// 2. Localizamos todas las URLs de multimedia\nconst mediaRegex = /https?:\\/\\/[^\\s\"'<>]+\\.(?:png|jpg|jpeg|gif|webp|mp4)/gi;\nconst matches = [...textoCompleto.matchAll(mediaRegex)];\n\n// Si no hay multimedia, enviamos el texto tal cual\nif (matches.length === 0) {\n  return [{ \n    json: { type: 'text', caption: textoCompleto, \"mensaje texto \": textoCompleto },\n    pairedItem: { item: 0 } \n  }];\n}\n\nconst results = [];\nlet lastIndex = 0;\nconst maxMedia = Math.min(matches.length, 3);\n\nfor (let i = 0; i < maxMedia; i++) {\n  const match = matches[i];\n  const url = match[0];\n  const isVideo = url.toLowerCase().endsWith('.mp4');\n  \n  // Extraemos el texto previo a la imagen actual y limpiamos etiquetas\n  let textBefore = textoCompleto.substring(lastIndex, match.index)\n    .replace(/Imagen:\\s*$/i, \"\") // Quitar \"Imagen:\" si está justo antes\n    .trim();\n  \n  // Si es la última imagen que vamos a mandar (ej. la 3ª)\n  if (i === maxMedia - 1) {\n    // Tomamos el resto del mensaje que queda después de esta URL\n    let restOfText = textoCompleto.substring(match.index + url.length);\n    \n    // LIMPIEZA CRÍTICA: Borramos CUALQUIER otra URL de imagen/video que haya sobrado\n    // También limpiamos las palabras \"Imagen:\" residuales que queden solas\n    restOfText = restOfText\n      .replace(mediaRegex, \"\")\n      .replace(/Imagen:\\s*/gi, \"\")\n      .replace(/\\n{3,}/g, \"\\n\\n\") // Evitar demasiados saltos de línea vacíos\n      .trim();\n    \n    if (restOfText) {\n      textBefore = (textBefore + \"\\n\\n\" + restOfText).trim();\n    }\n  }\n\n  results.push({\n    json: {\n      type: isVideo ? 'video' : 'image',\n      media_url: url,\n      url_imagen: url,\n      caption: textBefore,\n      \"mensaje texto \": textBefore,\n    },\n    // Emparejamos con el item original para evitar el error de Paired Item\n    pairedItem: { item: 0 } \n  });\n\n  lastIndex = match.index + url.length;\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20128,
        12080
      ],
      "id": "3ff97097-7ed1-41d4-aaab-1133b85e7e4b",
      "name": "IMG - Split a 3 envíos"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "={{ $items(\"Set Fields1\")[0]?.json?.instance?.name ?? \"\" }}",
        "remoteJid": "={{ ( $items(\"Webhook1\")[0].json.body.data.key.remoteJid.includes(\"@lid\") ? $items(\"Webhook1\")[0].json.body.data.key.remoteJidAlt : $items(\"Webhook1\")[0].json.body.data.key.remoteJid ).replace(\"@s.whatsapp.net\", \"\") }}",
        "media": "={{ $json.media_url }}",
        "caption": "={{ $json.caption }}",
        "options_message": {
          "delay": 1800
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        20864,
        11984
      ],
      "id": "644b7dcb-30ce-4503-b2ea-683b5c51642d",
      "name": "Enviar imagem",
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "1NdmmRm4cT4v7Ciq",
          "name": "Evolution account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat_history",
        "limit": 15,
        "filters": {
          "conditions": [
            {
              "keyName": "contact_id",
              "condition": "eq",
              "keyValue": "={{ $items(\"Merge5\")[0].json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        16832,
        12352
      ],
      "id": "12a4fb14-29df-4f2e-9c15-618157f6fac4",
      "name": "historialchat",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $items(\"Merge5\")[0].json.id }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "human"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Merge5').item.json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        13120,
        11648
      ],
      "id": "c8aa422a-a31a-4110-91ea-704bd54bf876",
      "name": "Guardar Mensaje Humano",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contacts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $('Preparar Labels con Ignorar1').item.json.phone_number }}"
            },
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "labels",
              "fieldValue": "={{ $('Preparar Labels con Ignorar1').item.json.labels }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        15472,
        11328
      ],
      "id": "357e6fd2-b656-4e06-813a-765b3bba7d47",
      "name": "critico -ignora",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        21488,
        12000
      ],
      "id": "94c1f874-471f-4cf0-8c9b-0d02179cddaa",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/smart-embedding-router",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n {\n  \"text\": ($json.content || $json.output || \"\").replace(/\\[AUDIO\\]:?|\\n/gi, \" \").trim(),\n  \"model\": \"text-embedding-3-small\"\n }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17280,
        11568
      ],
      "id": "083ecc5b-ce36-4c34-b5b1-5565794726b1",
      "name": "2b. Obtener Embedding IA1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $items(\"Get a row1\")[0]?.json?.id ?? null }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "ai"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.data?.message?.conversation || $json.data?.message?.extendedTextMessage?.text || $json.data?.message?.imageMessage?.caption || $json.data?.message?.videoMessage?.caption || \"(Mensaje de medios)\" }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $items(\"Merge5\")[0].json.id }}"
            },
            {
              "fieldId": "embedding",
              "fieldValue": "={{ $items(\"2b. Obtener Embedding IA1\")[0].json.embedding.map(Number) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        21712,
        12032
      ],
      "id": "90968a7a-4a30-43c4-a04b-83f5519a6d65",
      "name": "Guardar IA1",
      "retryOnFail": false,
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0a70f32c-c1b5-4b8a-80f0-9efacc732f7d",
              "leftValue": "={{ $itemIndex }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        21936,
        12032
      ],
      "id": "eba85fa0-4590-495d-943d-90987eb9566b",
      "name": "If es el primero?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://mytvwfbijlgbihlegmfg.supabase.co/rest/v1/chat_history?id=eq.{{ $items(\"human1\")[0]?.json?.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"embedding\": $items(\"1b. Obtener Embedding Humano1\")[0].json.embedding\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        22592,
        12032
      ],
      "id": "a06d1b58-3be2-4c06-9358-1446bf0e5833",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "70923293-2781-4220-9189-91823912",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "8121232-1231-1234-9128-12341234",
              "leftValue": "={{ $json.body.data.messageType }}",
              "rightValue": "listMessage",
              "operator": {
                "type": "string",
                "operation": "notEquals",
                "name": "filter.operator.notEquals"
              }
            },
            {
              "id": "a1231231-1231-1234-9128-12341235",
              "leftValue": "={{ $json.body.data.messageType }}",
              "rightValue": "templateButtonReplyMessage",
              "operator": {
                "type": "string",
                "operation": "notEquals",
                "name": "filter.operator.notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6096,
        12192
      ],
      "id": "c617c545-b7ac-4a42-87a3-31c85cc42f21",
      "name": "If: Solo Humanos"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        22800,
        12032
      ],
      "id": "2ece89ff-c7a4-42ea-a078-cad4cf0ea636",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "appointment_settings",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $items(\"Obtener Perfil de Usuario1\")[0].json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        14608,
        11776
      ],
      "id": "f81cf614-193a-413d-a994-ff628c4f6e01",
      "name": "Obtener Config de Citas1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-is-enabled",
              "leftValue": "={{ $json.is_enabled }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        14848,
        11808
      ],
      "id": "9730364b-3c7b-4d97-8db8-c2b7f9a54d45",
      "name": "¿Citas Activas en App?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "has-slots-field",
              "name": "has_slots",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "availability-context-field",
              "name": "availability_context",
              "value": "El sistema de citas para este negocio está desactivado actualmente. Si el usuario intenta agendar, dile amablemente que por el momento no es posible hacerlo de forma automática y que un humano se comunicará con él pronto para coordinar.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        15216,
        11904
      ],
      "id": "6a951b95-1b4a-4af1-9a76-8141542f2049",
      "name": "Disponibilidad - Dummy2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/detect-appointment-intent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"contact_id\": $items(\"Merge5\")[0]?.json?.id,\n  \"user_id\": $items(\"Get a row1\")[0]?.json?.id,\n  \"message_content\": $items(\"set text1\")[0]?.json?.text,\n  \"message_id\": null\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15024,
        11600
      ],
      "id": "fcb2a144-5b00-4215-9010-ccc9999131a5",
      "name": "Detectar Intención de Cita",
      "credentials": {
        "httpBearerAuth": {
          "id": "gIoa82xaIrz0lSEj",
          "name": "supabase Elina"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5f05ce13-d559-4bc2-b6d8-70dcb82ab9ad",
              "leftValue": "={{ $items(\"Obtener Perfil de Usuario1\")[0].json.quotes_enabled }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        18096,
        11712
      ],
      "id": "dea13325-1f18-48a3-94de-963f94fae7a2",
      "name": "IF: ¿Cotizaciones Activas en Perfil?"
    },
    {
      "parameters": {
        "description": "Herramienta de Búsqueda de Productos. Úsala SIEMPRE que necesites buscar precios, stock o detalles de un producto. Busca por nombre, modelo, SKU o descripción. Devuelve los 10 mejores resultados de la base de datos.",
        "jsCode": "// 1. Obtener la palabra clave de forma ultra-segura\nlet resolvedKeyword = '';\n\nif (typeof search_term !== 'undefined' && search_term) {\n    resolvedKeyword = search_term;\n} else if (typeof some_input !== 'undefined' && some_input) {\n    resolvedKeyword = some_input;\n} else if (typeof query !== 'undefined' && query.some_input) {\n    resolvedKeyword = query.some_input;\n}\n\nif (!resolvedKeyword || resolvedKeyword === '') {\n    return \"Error: La IA no envió ningún término de búsqueda.\";\n}\n\n// 2. Obtener el ID del usuario\nlet userId;\ntry {\n  const configItems = $items(\"Obtener Prompt y Configuración1\");\n  userId = configItems[0].json.user_id;\n} catch (e) {\n  return \"Error: No se pudo obtener el user_id del nodo 'Obtener Prompt y Configuración1'.\";\n}\n\n// 3. Configuración de Supabase\nconst url = 'https://mytvwfbijlgbihlegmfg.supabase.co/rest/v1/rpc/search_products_keyword';\nconst apiKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE';\n\n// 4. Ejecutar búsqueda usando $http (el estándar de n8n)\ntry {\n  const response = await $http({\n    method: 'POST',\n    url: url,\n    body: {\n      keyword: resolvedKeyword,\n      p_user_id: userId\n    },\n    headers: {\n      'Content-Type': 'application/json',\n      'apikey': apiKey,\n      'Authorization': `Bearer ${apiKey}`\n    }\n  });\n\n  // En $http, la respuesta ya viene parseada si es JSON\n  const data = response;\n  \n  if (!data || data.length === 0) {\n    return `No encontré productos para '${resolvedKeyword}'. Recomienda ser más específico.`;\n  }\n\n  return JSON.stringify(data);\n\n} catch (error) {\n  // Manejo de errores detallado\n  return `Error de conexión a la base de datos: ${error.message}`;\n}",
        "specifyInputSchema": true,
        "schemaType": "manual"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        17248,
        12912
      ],
      "id": "602ac3e2-a761-437c-a93a-169b2b807823",
      "name": "ver_productos"
    },
    {
      "parameters": {
        "toolDescription": "Base de datos maestra de productos. Úsala OBLIGATORIAMENTE para buscar productos por nombre, SKU o modelo.\nINPUT: Envía un objeto JSON con la propiedad \"keyword\" (el texto a buscar).\n\nBusca productos por nombre o SKU. Obligatorio enviar un JSON con la propiedad \"keyword\" conteniendo el texto a buscar (ej: \"toner\", \"tn920\", \"canon\").\n\n¡OBLIGATORIO! Esta herramienta REQUIERE un parámetro 'keyword'. NUNCA la llames sin un texto de búsqueda.",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/rest/v1/rpc/search_products_keyword",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_user_id",
              "value": "={{ $items(\"Obtener Prompt y Configuración1\")[0].json.user_id }}"
            },
            {
              "name": "keyword",
              "value": "={{ $json.keyword }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        16928,
        12896
      ],
      "id": "bd76f84b-e2bb-4fd7-b3d5-2fb7a01dcb93",
      "name": "ver_productos1"
    },
    {
      "parameters": {
        "description": "Usa esta herramienta para consultar el catálogo. \nEN ENTRADA: Pasa un JSON con \"keyword\" (el modelo o nombre del producto).\nEN SALIDA: Recibirás productos exactos o alternativas. \nSi recibes 'Alternativas Sugeridas', sé proactivo y menciona que no tienes el exacto pero ofreces esos para ayudar al cliente.",
        "workflowId": {
          "__rl": true,
          "value": "i3JFhVvi61h7JfnP",
          "mode": "list",
          "cachedResultUrl": "/workflow/i3JFhVvi61h7JfnP",
          "cachedResultName": "Herramienta_Busqueda_Pro"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "keyword": "={{ $fromAI('keyword') || $fromAI('query') || \"\" }}",
            "user_id": "={{ $items(\"Obtener Prompt y Configuración1\")[0].json.user_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        16976,
        12256
      ],
      "id": "f1663429-c300-4052-8d18-403c7ddb0916",
      "name": "buscar_productos_tienda"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/process-reminder-response",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-system-secret",
              "value": "TU_SERVICE_ROLE_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"message\": \"{{ ($items(\"Webhook1\")[0]?.json?.body?.data?.message?.conversation || $items(\"Webhook1\")[0]?.json?.body?.data?.message?.extendedTextMessage?.text || \"\").trim() }}\", \"phone_number\": \"{{ '+' + ($items(\"Webhook1\")[0].json.body.data.key.remoteJid.includes('@lid') ? $items(\"Webhook1\")[0].json.body.data.key.remoteJidAlt : $items(\"Webhook1\")[0].json.body.data.key.remoteJid).replace('@s.whatsapp.net', '').replace('@lid', '') }}\", \"user_id\": \"{{ $items('Get Subscription1')[0]?.json?.user_id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        8160,
        11472
      ],
      "id": "741d4578-eae7-426b-96af-8ae2982daeb4",
      "name": "Procesar Respuesta Cita"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "confirmed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirmed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        8368,
        11472
      ],
      "id": "014f02f4-e145-413e-a5ac-7b2e7446d871",
      "name": "Switch Resultado Cita"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('evolution_instance_name1').item.json.evolution_instance_name }}",
        "remoteJid": "={{ ( $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"].includes(\"@lid\") ? $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJidAlt\"] : $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] ).replace(\"@s.whatsapp.net\", \"\") }}",
        "messageText": "Cita Confirmada*\\n\\n¡Gracias! Hemos confirmado tu asistencia. Te esperamos en la fecha y hora programada.",
        "options_message": {
          "delay": 1200
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        8672,
        11376
      ],
      "id": "66d31e4c-7c19-4574-a35d-2eb9f534b85d",
      "name": "Enviar Confirmación Cita",
      "credentials": {
        "evolutionApi": {
          "id": "1NdmmRm4cT4v7Ciq",
          "name": "Evolution account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/rest/v1/rpc/check_active_reminder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQxODk5MCwiZXhwIjoyMDY5OTk0OTkwfQ.07-JQs9AXJlqKYMDxk4tOL_6zOEGQTddaKlQmKQe14U"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQxODk5MCwiZXhwIjoyMDY5OTk0OTkwfQ.07-JQs9AXJlqKYMDxk4tOL_6zOEGQTddaKlQmKQe14U"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_phone\": \"{{ '+' + ($items(\"Webhook1\")[0].json.body.data.key.remoteJid.includes('@lid') ? $items(\"Webhook1\")[0].json.body.data.key.remoteJidAlt : $items(\"Webhook1\")[0].json.body.data.key.remoteJid).replace('@s.whatsapp.net', '').replace('@lid', '') }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        7856,
        12192
      ],
      "id": "9a3d41d7-9684-48f0-86bd-2db4fc04dc95",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-reminder-check",
              "leftValue": "={{ $json[0]?.is_reminder_reply === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7984,
        11936
      ],
      "id": "deaa289a-7b75-452f-972c-6e1a51434f21",
      "name": "If1"
    }
  ],
  "connections": {
    "Extraer IDs de Placeholders": {
      "main": [
        [
          {
            "node": "2b. Obtener Embedding IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Hay Placeholders?": {
      "main": [
        [
          {
            "node": "Obtener Productos por IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reemplazar Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Productos por IDs": {
      "main": [
        [
          {
            "node": "Reemplazar Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reemplazar Placeholders": {
      "main": [
        [
          {
            "node": "IF: ¿Cotizaciones Activas en Perfil?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar si es Cotización": {
      "main": [
        [
          {
            "node": "IF: ¿Generar Cotización?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Generar Cotización?": {
      "main": [
        [
          {
            "node": "Crear Cotización",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Separar imagen o video del texto o audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Cotización": {
      "main": [
        [
          {
            "node": "Preparar después de Cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar después de Cotización": {
      "main": [
        [
          {
            "node": "Enviar PDF Cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Contenido Imagen2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Contenido audio1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set text1": {
      "main": [
        [
          {
            "node": "Guardar Mensaje Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Obtener Perfil de Usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Contenido audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describir Imagen1": {
      "main": [
        [
          {
            "node": "Get a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extraer IDs de Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Enviar Video1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Definir destinatario1": {
      "main": [
        [
          {
            "node": "Switch tipo de mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "set text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch tipo de mensaje1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IMG - Split a 3 envíos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Video1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir a supa1": {
      "main": [
        [
          {
            "node": "Enviar audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Subir a supa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar audio": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DivideporType1": {
      "main": [
        [
          {
            "node": "Get audio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get imagen1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "human1": {
      "main": [
        [
          {
            "node": "1b. Obtener Embedding Humano1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get audio1": {
      "main": [
        [
          {
            "node": "Convert Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Audio1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get imagen1": {
      "main": [
        [
          {
            "node": "Convertimagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertimagen1": {
      "main": [
        [
          {
            "node": "Describir Imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push message buffer1": {
      "main": [
        [
          {
            "node": "Get message buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get message buffer1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields1": {
      "main": [
        [
          {
            "node": "Push message buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get message buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Json parse1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json parse1": {
      "main": [
        [
          {
            "node": "DivideporType1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. RAG - Obtener Embedding1": {
      "main": [
        [
          {
            "node": "2. RAG - Buscar en Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. RAG - Buscar en Supabase1": {
      "main": [
        [
          {
            "node": "3. RAG - Formatear Contexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Pausar Seguimiento Activo1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. RAG - Formatear Contexto1": {
      "main": [
        [
          {
            "node": "Detectar Intención Crítica1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1b. Obtener Embedding Humano1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Métrica1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pausar Seguimiento Activo1": {
      "main": [
        [
          {
            "node": "Registrar Métrica1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Perfil de Usuario1": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Prompt y Configuración1": {
      "main": [
        [
          {
            "node": "1. RAG - Obtener Embedding1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evolution_instance_name1": {
      "main": [
        [
          {
            "node": "Get Subscription1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "buscar contacto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Subscription1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ignorar?1": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar contacto1": {
      "main": [
        [
          {
            "node": "existe el contacto?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar para Subir a Bunny1": {
      "main": [
        [
          {
            "node": "Subir a Bunny1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir a Bunny1": {
      "main": [
        [
          {
            "node": "Contenido Imagen3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row3": {
      "main": [
        [
          {
            "node": "Preparar para Subir a Bunny1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contenido Imagen3": {
      "main": [
        [
          {
            "node": "Contenido Imagen2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Preparar Texto para Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "que escribir como audio1": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Texto para Audio1": {
      "main": [
        [
          {
            "node": "que escribir como audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "evolution_instance_name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Intención Crítica1": {
      "main": [
        [
          {
            "node": "IF: ¿Es Crítico?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Es Crítico?1": {
      "main": [
        [
          {
            "node": "Obtener Número Notificación1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Config de Citas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Número Notificación1": {
      "main": [
        [
          {
            "node": "Preparar Mensaje Notificación Crítica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje Notificación Crítica": {
      "main": [
        [
          {
            "node": "Enviar Notificación WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Notificación WhatsApp1": {
      "main": [
        [
          {
            "node": "Preparar Labels con Ignorar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agregar Promo al Contexto1": {
      "main": [
        [
          {
            "node": "Agregar Contexto de Citas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Contexto de Citas1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Hay Promoción?1": {
      "main": [
        [
          {
            "node": "agregar Promo al Contexto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Tiene Intención de Cita?": {
      "main": [
        [
          {
            "node": "Obtener Slots Disponibles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Promociones Activas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Slots Disponibles": {
      "main": [
        [
          {
            "node": "Formatear Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Disponibilidad": {
      "main": [
        [
          {
            "node": "Buscar Promociones Activas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Promociones Activas1": {
      "main": [
        [
          {
            "node": "Filtrar Promoción Válida1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Labels con Ignorar1": {
      "main": [
        [
          {
            "node": "critico -ignora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Promoción Válida1": {
      "main": [
        [
          {
            "node": "IF: ¿Hay Promoción?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Agregar Contexto de Citas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "existe el contacto?1": {
      "main": [
        [
          {
            "node": "Create Contact1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If: Solo Humanos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Obtener Prompt y Configuración1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar imagen o video del texto o audio1": {
      "main": [
        [
          {
            "node": "Definir destinatario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMG - Split a 3 envíos": {
      "main": [
        [
          {
            "node": "Enviar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagem": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "historialchat": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Mensaje Humano": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "critico -ignora": {
      "main": [
        [
          {
            "node": "No Operation, do nothing7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Guardar IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2b. Obtener Embedding IA1": {
      "main": [
        [
          {
            "node": "IF: ¿Hay Placeholders?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar IA1": {
      "main": [
        [
          {
            "node": "If es el primero?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If es el primero?": {
      "main": [
        [
          {
            "node": "human1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Solo Humanos": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Config de Citas1": {
      "main": [
        [
          {
            "node": "¿Citas Activas en App?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Citas Activas en App?1": {
      "main": [
        [
          {
            "node": "Detectar Intención de Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disponibilidad - Dummy2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidad - Dummy2": {
      "main": [
        [
          {
            "node": "Buscar Promociones Activas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Intención de Cita": {
      "main": [
        [
          {
            "node": "IF: ¿Tiene Intención de Cita?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Cotizaciones Activas en Perfil?": {
      "main": [
        [
          {
            "node": "Detectar si es Cotización",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Separar imagen o video del texto o audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_productos_tienda": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Respuesta Cita": {
      "main": [
        [
          {
            "node": "Switch Resultado Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Resultado Cita": {
      "main": [
        [
          {
            "node": "Enviar Confirmación Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Procesar Respuesta Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ignorar?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook1": [
      {
        "headers": {
          "host": "n8n-n8n.mcjhhb.easypanel.host",
          "user-agent": "axios/1.13.2",
          "content-length": "1465",
          "accept": "application/json, text/plain, */*",
          "accept-encoding": "gzip, compress, deflate, br",
          "content-type": "application/json",
          "x-forwarded-for": "172.18.0.1",
          "x-forwarded-host": "n8n-n8n.mcjhhb.easypanel.host",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "35f5005c00d4",
          "x-real-ip": "172.18.0.1"
        },
        "params": {},
        "query": {},
        "body": {
          "event": "messages.upsert",
          "instance": "Nabte",
          "data": {
            "key": {
              "remoteJid": "5219995169313@s.whatsapp.net",
              "remoteJidAlt": "223802256568437@lid",
              "fromMe": false,
              "id": "2AE841829575ED58B623",
              "participant": "",
              "addressingMode": "pn"
            },
            "pushName": "Ismael Nabte / Brandcode",
            "status": "DELIVERY_ACK",
            "message": {
              "conversation": "quiero agendar una videollamad",
              "messageContextInfo": {
                "threadId": [],
                "deviceListMetadata": {
                  "senderKeyIndexes": [],
                  "recipientKeyIndexes": [],
                  "senderKeyHash": {
                    "0": 124,
                    "1": 106,
                    "2": 115,
                    "3": 130,
                    "4": 239,
                    "5": 100,
                    "6": 44,
                    "7": 71,
                    "8": 154,
                    "9": 65
                  },
                  "senderTimestamp": {
                    "low": 1769879144,
                    "high": 0,
                    "unsigned": true
                  },
                  "recipientKeyHash": {
                    "0": 162,
                    "1": 6,
                    "2": 232,
                    "3": 190,
                    "4": 176,
                    "5": 227,
                    "6": 193,
                    "7": 231,
                    "8": 233,
                    "9": 7
                  },
                  "recipientTimestamp": {
                    "low": 1767728088,
                    "high": 0,
                    "unsigned": true
                  }
                },
                "deviceListMetadataVersion": 2,
                "messageSecret": {
                  "0": 86,
                  "1": 206,
                  "2": 226,
                  "3": 228,
                  "4": 4,
                  "5": 13,
                  "6": 68,
                  "7": 136,
                  "8": 162,
                  "9": 43,
                  "10": 88,
                  "11": 73,
                  "12": 62,
                  "13": 107,
                  "14": 207,
                  "15": 249,
                  "16": 17,
                  "17": 66,
                  "18": 190,
                  "19": 46,
                  "20": 228,
                  "21": 193,
                  "22": 221,
                  "23": 64,
                  "24": 125,
                  "25": 46,
                  "26": 108,
                  "27": 42,
                  "28": 130,
                  "29": 184,
                  "30": 174,
                  "31": 253
                }
              }
            },
            "messageType": "conversation",
            "messageTimestamp": 1770091545,
            "instanceId": "b7a99022-366d-42a8-a6fa-e2d564a72818",
            "source": "unknown"
          },
          "destination": "https://n8n-n8n.mcjhhb.easypanel.host/webhook/a/messages-upsert",
          "date_time": "2026-02-03T01:05:46.038Z",
          "sender": "5219993895046@s.whatsapp.net",
          "server_url": "https://evolutionapi-evolution-api.mcjhhb.easypanel.host",
          "apikey": "F6235095-E971-4C21-B6FA-0A8BF54B0E7A"
        },
        "webhookUrl": "https://n8n-n8n.mcjhhb.easypanel.host/webhook/a/messages-upsert",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32906a5f2bdc653e88c8f6fde14f7365d097573b5e9053a6781ad64c78a4c371"
  }
}