n8n/Elina V4 Simulacion COMPLETO.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// --- NODO: Extraer IDs de Placeholders ---\n// Extrae los IDs únicos de productos de los placeholders en la respuesta de la IA\n\nconst textoOriginal = ($input.first().json.output || \"\").trim();\n\n// Extraer todos los placeholders del formato [PRODUCT_CAMPO:ID]\nconst placeholderRegex = /\\[PRODUCT_\\w+:(\\d+)\\]/g;\nconst matches = [...textoOriginal.matchAll(placeholderRegex)];\n\n// Obtener IDs únicos\nconst productIds = [...new Set(matches.map(m => parseInt(m[1], 10)))].filter(id => !isNaN(id));\n\n// Si no hay placeholders, pasar directamente al siguiente nodo\nif (productIds.length === 0) {\n  return [{\n    json: {\n      output: textoOriginal,\n      product_ids: [],\n      has_placeholders: false\n    }\n  }];\n}\n\n// Retornar texto original y lista de IDs\nreturn [{\n  json: {\n    output: textoOriginal,\n    product_ids: productIds,\n    has_placeholders: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        83456,
        30832
      ],
      "id": "8a71c80e-2054-4d93-a9e0-eb8642d9ddb2",
      "name": "Extraer IDs de Placeholders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "placeholder-check",
              "leftValue": "={{ $json.has_placeholders }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        83680,
        30768
      ],
      "id": "abc9d7a4-07fd-49a4-863e-c2e63b05db6c",
      "name": "IF: ¿Hay Placeholders?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/rest/v1/rpc/get_products_by_ids",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_user_id\": \"{{ $('Obtener Prompt y Configuración1').item.json.user_id }}\",\n  \"p_product_ids\": {{ JSON.stringify($('Extraer IDs de Placeholders').item.json.product_ids) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        83888,
        30512
      ],
      "id": "3be4c998-8a33-43d9-ad63-8e0684a8f060",
      "name": "Obtener Productos por IDs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// --- NODO: Filtrar Productos por IDs ---\n// Este nodo ya no es necesario ya que la función RPC retorna solo los productos solicitados\n// Pero lo mantenemos por compatibilidad y para asegurar que los IDs coincidan\n\nconst productos = $('Obtener Productos por IDs').all() || [];\nconst productIds = $('Extraer IDs de Placeholders').item.json.product_ids || [];\n\n// Si no hay IDs o no hay productos, retornar vacío\nif (productIds.length === 0 || productos.length === 0) {\n  return [];\n}\n\n// Filtrar productos que coincidan con los IDs (doble verificación)\nconst productosFiltrados = productos.filter(item => {\n  const p = item.json;\n  return p && p.id && productIds.includes(parseInt(p.id, 10));\n});\n\n// Retornar productos filtrados\nreturn productosFiltrados.length > 0 ? productosFiltrados : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        84096,
        30496
      ],
      "id": "1395beb6-9992-4cfd-825f-c012769df65a",
      "name": "Filtrar Productos por IDs"
    },
    {
      "parameters": {
        "jsCode": "// --- NODO: Validar Precisión de Resultados ---\n// Valida que los productos encontrados cumplan los umbrales de precisión\n// y agrega flags para que la IA sepa si son coincidencias exactas o parciales\n\nconst productos = $('Filtrar Productos por IDs').all() || [];\n\n// Obtener configuración del perfil (si está disponible)\nlet strictMode = false;\nlet minScore = 0.3;\n\ntry {\n  const profile = $('Obtener Perfil de Usuario1').item.json;\n  if (profile) {\n    strictMode = profile.product_search_strict_mode === true;\n    minScore = profile.product_search_min_score || 0.3;\n  }\n} catch (e) {\n  // Si no hay perfil, usar valores por defecto\n}\n\n// Validar cada producto\nconst productosValidados = productos.map(item => {\n  const p = item.json;\n  \n  // Si el producto tiene metadata de precisión de la búsqueda híbrida\n  const matchType = p.match_type || 'low_confidence';\n  const confidenceScore = p.confidence_score || p.relevance_score || 0;\n  \n  // Si strict_mode está activado, solo aceptar exact matches\n  if (strictMode && matchType !== 'exact') {\n    return null; // Filtrar este producto\n  }\n  \n  // Filtrar por min_score\n  if (confidenceScore < minScore) {\n    return null; // Filtrar este producto\n  }\n  \n  // Agregar flags de validación\n  return {\n    json: {\n      ...p,\n      is_partial_match: matchType === 'partial',\n      is_exact_match: matchType === 'exact',\n      is_low_confidence: matchType === 'low_confidence',\n      validation_passed: true\n    }\n  };\n}).filter(item => item !== null);\n\n// Si no hay productos válidos después de la validación, retornar array vacío\nif (productosValidados.length === 0) {\n  return [];\n}\n\nreturn productosValidados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        84320,
        30496
      ],
      "id": "af9ec0d8-a561-412a-a6f3-8c991eecf0d4",
      "name": "Validar Precisión de Resultados"
    },
    {
      "parameters": {
        "jsCode": "// --- NODO: Reemplazar Placeholders de Productos ---\n// Este nodo reemplaza placeholders como [PRODUCT_NAME:53] con datos reales\n\nconst textoOriginal = $('Extraer IDs de Placeholders').item.json.output || \"\";\nconst hasPlaceholders = $('Extraer IDs de Placeholders').item.json.has_placeholders;\n\n// Si no hay placeholders, retornar texto original sin cambios\nif (!hasPlaceholders) {\n  const inputItem = $('Extraer IDs de Placeholders').item;\n  const outputItem = { json: { output: textoOriginal } };\n  if (inputItem && inputItem.pairedItem) {\n    outputItem.pairedItem = inputItem.pairedItem;\n  }\n  return [outputItem];\n}\n\n// Obtener productos del nodo anterior (ya filtrados y validados)\nlet productos = [];\ntry {\n  productos = $('Validar Precisión de Resultados').all() || [];\n  // Si el nodo de validación no existe, intentar con el nodo de filtrado (compatibilidad)\n  if (productos.length === 0) {\n    productos = $('Filtrar Productos por IDs').all() || [];\n  }\n} catch (e) {\n  // Si el nodo no existe o falla, continuar sin productos\n  productos = [];\n}\n\n// Si no hay productos encontrados, retornar texto original (con placeholders)\nif (productos.length === 0) {\n  const inputItem = $('Extraer IDs de Placeholders').item;\n  const outputItem = { json: { output: textoOriginal } };\n  if (inputItem && inputItem.pairedItem) {\n    outputItem.pairedItem = inputItem.pairedItem;\n  }\n  return [outputItem];\n}\n\n// Crear mapa de productos por ID\nconst productMap = {};\nproductos.forEach(item => {\n  const p = item.json;\n  if (!p || !p.id) return;\n  \n  const price = p.price ? parseFloat(p.price) : 0;\n  productMap[p.id] = {\n    name: p.product_name || 'Producto',\n    price: price > 0 ? '$' + price.toFixed(2) : 'Consultar precio',\n    url: p.media_url || '',\n    stock: p.stock !== null && p.stock !== undefined ? String(p.stock) : 'N/A',\n    desc: p.description || ''\n  };\n});\n\n// Extraer placeholders y reemplazarlos\nconst placeholderRegex = /\\[PRODUCT_(\\w+):(\\d+)\\]/g;\nconst matches = [...textoOriginal.matchAll(placeholderRegex)];\n\n// Validar que todos los IDs existan en los productos encontrados\nconst productIdsInMap = new Set(Object.keys(productMap).map(id => parseInt(id, 10)));\nconst invalidIds = [];\n\nmatches.forEach(match => {\n  const [fullMatch, field, idStr] = match;\n  const productId = parseInt(idStr, 10);\n  if (!productIdsInMap.has(productId)) {\n    invalidIds.push(productId);\n  }\n});\n\n// Si hay IDs inválidos, log de advertencia pero continuar con los válidos\nif (invalidIds.length > 0) {\n  console.warn(`Advertencia: Se encontraron placeholders con IDs que no existen en los productos encontrados: ${invalidIds.join(', ')}`);\n}\n\nlet textoFinal = textoOriginal;\nmatches.forEach(match => {\n  const [fullMatch, field, idStr] = match;\n  const productId = parseInt(idStr, 10);\n  const product = productMap[productId];\n  \n  // Si el producto no existe, mantener el placeholder o reemplazar con mensaje de error\n  if (!product) {\n    // Opción: mantener el placeholder o reemplazar con mensaje\n    // Por ahora mantenemos el placeholder para que sea visible el error\n    return;\n  }\n  \n  let replacement = '';\n  switch(field.toUpperCase()) {\n    case 'NAME': replacement = product.name; break;\n    case 'PRICE': replacement = product.price; break;\n    case 'URL': replacement = product.url; break;\n    case 'STOCK': replacement = product.stock; break;\n    case 'DESC': replacement = product.desc; break;\n    default: replacement = fullMatch;\n  }\n  \n  textoFinal = textoFinal.replace(fullMatch, replacement);\n});\n\n// Calcular y reemplazar $[TOTAL_CALCULATED] o $[TOTAL_CALCULADO]\n// Buscar patrones de productos con cantidades y calcular totales\nconst totalPlaceholderRegex = /\\$\\[TOTAL_CALCULATED\\]|\\$\\[TOTAL_CALCULADO\\]/gi;\nif (totalPlaceholderRegex.test(textoFinal)) {\n  let totalSinIVA = 0;\n  \n  // Buscar líneas con \"Subtotal:\" para extraer valores\n  const subtotalRegex = /Subtotal:\\s*\\$([\\d,]+(?:\\.\\d{2})?)/g;\n  const subtotalMatches = [...textoFinal.matchAll(subtotalRegex)];\n  \n  subtotalMatches.forEach(match => {\n    const subtotalStr = match[1].replace(/,/g, '');\n    const subtotal = parseFloat(subtotalStr);\n    if (!isNaN(subtotal)) {\n      totalSinIVA += subtotal;\n    }\n  });\n  \n  // Si no encontró subtotales, intentar calcular desde productos y cantidades\n  if (totalSinIVA === 0) {\n    // Buscar patrones: precio × cantidad o cantidad piezas\n    const productLines = textoFinal.match(/\\$([\\d,]+(?:\\.\\d{2})?)\\s*c\\/u[\\s\\S]*?(\\d+)\\s*piezas?/gi);\n    if (productLines) {\n      productLines.forEach(line => {\n        const priceMatch = line.match(/\\$([\\d,]+(?:\\.\\d{2})?)/);\n        const qtyMatch = line.match(/(\\d+)\\s*piezas?/i);\n        if (priceMatch && qtyMatch) {\n          const price = parseFloat(priceMatch[1].replace(/,/g, ''));\n          const qty = parseInt(qtyMatch[1], 10);\n          if (!isNaN(price) && !isNaN(qty)) {\n            totalSinIVA += price * qty;\n          }\n        }\n      });\n    }\n  }\n  \n  // Formatear total con comas para miles\n  const totalFormateado = totalSinIVA > 0 ? totalSinIVA.toLocaleString('es-MX', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) : '0.00';\n  \n  // Reemplazar todos los placeholders de total\n  textoFinal = textoFinal.replace(totalPlaceholderRegex, '$' + totalFormateado);\n}\n\n// Preservar pairedItem del input para mantener la referencia\nconst inputItem = $('Extraer IDs de Placeholders').item;\nconst outputItem = { json: { output: textoFinal } };\n\nif (inputItem && inputItem.pairedItem) {\n  outputItem.pairedItem = inputItem.pairedItem;\n}\n\nreturn [outputItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        83968,
        31184
      ],
      "id": "929cfd4c-5346-4ed3-982f-5a0a197f094a",
      "name": "Reemplazar Placeholders"
    },
    {
      "parameters": {
        "jsCode": "// --- NODO: Detectar si es Cotización ---\n// Detecta si se debe generar un PDF de cotización\n// LÓGICA ESTRICTA: Solo genera cotización cuando es cierre de venta explícito con 3+ productos\n\nconst texto = $('Reemplazar Placeholders').item.json.output || \"\";\nconst productIds = $('Extraer IDs de Placeholders').item.json.product_ids || [];\nconst productCount = productIds.length;\n\n// Palabras clave de cierre de venta (muy específicas - debe ser acción de compra)\nconst cierreVentaKeywords = /(?:quiero|deseo|necesito|me interesa|vamos|procedo|acepto|confirmo|comprar|adquirir|tomar|llevar|sí|ok|perfecto|de acuerdo|hagámoslo|avancemos|cerrar|finalizar|hacer pedido|realizar pedido|confirmar pedido|proceder con|avanzar con)[\\s\\S]{0,80}(?:comprar|adquirir|tomar|llevar|pedido|orden|venta|transacción|compra|pago)/i;\nconst esCierreVenta = cierreVentaKeywords.test(texto);\n\n// Palabras clave explícitas de cotización (debe pedir documento formal)\nconst cotizacionExplicita = /(?:cotizaci[oó]n|presupuesto|quote|propuesta|oferta)[\\s\\S]{0,40}(?:formal|pdf|documento|escrita|detallada|por escrito|en pdf|en documento)/i;\nconst hasCotizacionExplicita = cotizacionExplicita.test(texto);\n\n// REGLAS ESTRICTAS:\n// 1. Si solo hay 1 producto → SIEMPRE mensaje (nunca cotización)\n// 2. Si hay 2 productos → Solo si es cierre de venta MUY explícito Y pide cotización\n// 3. Si hay 3+ productos → Solo si es cierre de venta explícito O pide cotización explícita\n\nlet shouldGenerateQuote = false;\n\nif (productCount === 0) {\n  // Sin productos, nunca cotización\n  shouldGenerateQuote = false;\n} else if (productCount === 1) {\n  // 1 producto → SIEMPRE mensaje, nunca cotización\n  shouldGenerateQuote = false;\n} else if (productCount === 2) {\n  // 2 productos → Solo si es cierre de venta MUY explícito Y pide cotización explícita\n  // Debe cumplir AMBAS condiciones\n  shouldGenerateQuote = esCierreVenta && hasCotizacionExplicita;\n} else {\n  // 3+ productos → Solo si es cierre de venta explícito O pide cotización explícita\n  // Con 3+ productos es más probable que sea cierre de venta\n  shouldGenerateQuote = esCierreVenta || hasCotizacionExplicita;\n}\n\n// Obtener productos para preparar datos de cotización\nlet productos = [];\ntry {\n  productos = $('Validar Precisión de Resultados').all() || [];\n  // Si el nodo de validación no existe, intentar con el nodo de filtrado (compatibilidad)\n  if (productos.length === 0) {\n    productos = $('Filtrar Productos por IDs').all() || [];\n  }\n} catch (e) {\n  productos = [];\n}\n\n// Preparar items para la cotización\n// Intentar extraer cantidades del texto\nconst quantityPatterns = [\n  /(?:cantidad|qty|qty\\.|cant\\.|unidades?|uds?|pcs?|piezas?)[: ]*\\s*(\\d+)/gi,\n  /(\\d+)\\s*(?:unidades?|uds?|pcs?|piezas?|cantidad)/gi,\n  /x\\s*(\\d+)/gi,\n  /\\*\\s*(\\d+)/gi\n];\n\nconst extractQuantity = (productId, productName) => {\n  // Buscar patrones de cantidad en el texto\n  for (const pattern of quantityPatterns) {\n    const matches = [...texto.matchAll(pattern)];\n    if (matches.length > 0) {\n      // Si hay un match cerca del nombre del producto, usar esa cantidad\n      const productNameLower = productName.toLowerCase();\n      for (const match of matches) {\n        const matchIndex = match.index;\n        const context = texto.substring(Math.max(0, matchIndex - 50), Math.min(texto.length, matchIndex + 50)).toLowerCase();\n        if (context.includes(productNameLower) || context.includes(`id:${productId}`) || context.includes(`[${productId}]`)) {\n          return parseInt(match[1], 10) || 1;\n        }\n      }\n      // Si no hay contexto específico, usar el primer número encontrado\n      return parseInt(matches[0][1], 10) || 1;\n    }\n  }\n  return 1; // Por defecto 1\n};\n\nconst quoteItems = productos.map(item => {\n  const p = item.json;\n  const price = p.price ? parseFloat(p.price) : 0;\n  const quantity = extractQuantity(p.id, p.product_name || '');\n  \n  return {\n    product_id: parseInt(p.id, 10),\n    product_name: p.product_name || 'Producto',\n    quantity: quantity,\n    price: price,\n    subtotal: price * quantity,\n    image_url: p.media_url || undefined,\n    description: p.description || undefined\n  };\n});\n\n// Preservar pairedItem\nconst inputItem = $('Reemplazar Placeholders').item;\nconst outputItem = {\n  json: {\n    output: texto,\n    should_generate_quote: shouldGenerateQuote,\n    quote_items: quoteItems,\n    product_count: productIds.length\n  }\n};\n\nif (inputItem && inputItem.pairedItem) {\n  outputItem.pairedItem = inputItem.pairedItem;\n}\n\nreturn [outputItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        84112,
        31200
      ],
      "id": "23b9441b-799a-482e-9020-97dbd0ae3032",
      "name": "Detectar si es Cotización"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "quote-check",
              "leftValue": "={{ $json.should_generate_quote }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        84288,
        31152
      ],
      "id": "5673ddbf-8ba9-417d-a9bb-83c6431dd6f7",
      "name": "IF: ¿Generar Cotización?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/create-quote",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Obtener Prompt y Configuración1').item.json.user_id }}\",\n  \"contact_id\": {{ $('buscar contacto1').item.json.id }},\n  \"items\": {{ JSON.stringify($('Detectar si es Cotización').item.json.quote_items) }},\n  \"valid_until\": null,\n  \"notes\": \"Cotización generada automáticamente desde WhatsApp\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        84480,
        30848
      ],
      "id": "12d3bca1-2d7b-4558-9d7a-ea8c5b3fe410",
      "name": "Crear Cotización",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// --- NODO: Preparar datos después de crear cotización ---\n// Este nodo asegura que el texto original pase al siguiente nodo\n\nconst quoteResponse = $input.first().json;\nconst textoOriginal = $('Detectar si es Cotización').item.json.output || \"\";\n\n// Preparar mensaje de confirmación\nconst mensajeConfirmacion = `📄 Cotización ${quoteResponse.quote?.quote_id || 'generada'} creada exitosamente. Total: $${(quoteResponse.quote?.total || 0).toFixed(2)}`;\n\n// Retornar el texto original para que continúe el flujo normal\n// O un mensaje de confirmación si se prefiere\nreturn [{\n  json: {\n    output: mensajeConfirmacion + \"\\n\\n\" + textoOriginal,\n    quote_id: quoteResponse.quote?.quote_id,\n    quote_url: quoteResponse.quote?.pdf_url\n  },\n  pairedItem: $input.first().pairedItem\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        84672,
        30848
      ],
      "id": "2b73d01f-0eed-4be4-81f3-014ae7ce3621",
      "name": "Preparar después de Cotización"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  response: 'Cotización generada',\n  quote_pdf_url: $('Preparar después de Cotización').item.json.quote_url || $json.quote?.pdf_url || null,\n  quote_id: $('Preparar después de Cotización').item.json.quote_id || $json.quote?.quote_id || null,\n  quote_total: $json.quote?.total || 0,\n  simulation: true,\n  message_type: 'document',\n  timestamp: new Date().toISOString()\n}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        84896,
        30928
      ],
      "id": "d5a27c64-6cb8-4b29-9b40-1875dacdabd9",
      "name": "Responder JSON - PDF Cotización"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        82848,
        31104
      ],
      "id": "5c0caaa6-9b1b-414f-a7ed-49fd4fa5ea65",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "F3ZY8evKfJMeWVz6",
          "name": "OpenAI ELINA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9c589ea-1aa6-417c-b21d-20fd36a38cc7",
              "name": "descripcion de la imagen",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "34f8ca24-4a00-425b-ab28-ddc9c250b1f7",
              "name": "timestamp",
              "value": "={{ $('DivideporType1').item.json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "a236d7ad-77ef-4745-90fa-dcdcd43a0f4b",
              "name": "content",
              "value": "={{ $('Set Fields1').item.json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        78704,
        30992
      ],
      "id": "2ed5c1f8-c8b4-44a3-888c-9d66dfc9e102",
      "name": "Contenido Imagen2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9c589ea-1aa6-417c-b21d-20fd36a38cc7",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "cd23e33f-96db-41fc-a3ba-5f5a6debfcf8",
              "name": "timestamp",
              "value": "={{ $('DivideporType1').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        78368,
        30800
      ],
      "id": "b7cd09ef-18d4-46ff-9bfa-19bb06ed0d4b",
      "name": "Contenido audio1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd6cc573-081d-4c5d-a027-4d0d2c6f9973",
              "name": "text",
              "value": "={{ $('Webhook1').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "73b036d6-6613-43f7-ab52-43ad95416cea",
              "name": "descripcion de la imagen",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        79872,
        30992
      ],
      "id": "461885ca-909e-4450-8bc6-a5e637460893",
      "name": "set text1",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// --- CORRECCIÓN: Buscamos 'text' que es lo que envía el nodo anterior ---\nconst mensajeOriginal = $input.item.json.text || $input.item.json.texto_original || \"\";\nconst mensaje = mensajeOriginal.toLowerCase().trim();\n\nconst descripcionImagen = $input.item.json['descripcion de la imagen'] || \"\";\n\nfunction getMexicoDate(offsetDays = 0) {\n  const now = new Date();\n  const utc = now.getTime() + now.getTimezoneOffset() * 60000;\n  const offset = -6 * 60 * 60 * 1000; // UTC‑6\n  return new Date(utc + offset + offsetDays * 24 * 60 * 60 * 1000);\n}\n\nconst ahora = getMexicoDate();\n\nfunction parseFecha(texto) {\n  const dias = [\"domingo\",\"lunes\",\"martes\",\"miércoles\",\"jueves\",\"viernes\",\"sábado\"];\n  for (let i = 0; i < dias.length; i++) {\n    if (texto.includes(dias[i])) {\n      let fecha = getMexicoDate((i - getMexicoDate().getDay() + 7) % 7 || 7);\n      if (mensaje.includes(\"próximo\")) fecha = new Date(fecha.getTime() + 7 * 864e5);\n      if (fecha < ahora) fecha = new Date(fecha.getTime() + 7 * 864e5);\n      return fecha;\n    }\n  }\n  const match = texto.match(/\\b(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{2,4})\\b/);\n  if (match) {\n    const [ , d, m, a ] = match;\n    const año = a.length === 2 ? `20${a}` : a;\n    return new Date(`${año}-${m.padStart(2,\"0\")}-${d.padStart(2,\"0\")}T00:00:00-06:00`);\n  }\n  return null;\n}\n\nfunction parseHora(text) {\n  const match = text.match(/\\b(\\d{1,2})(?::(\\d{2}))?\\s*(am|pm)?\\b/);\n  if (!match) return null;\n  let [, h, min, suf] = match;\n  h = parseInt(h);\n  min = parseInt(min || \"0\");\n  if (suf === \"pm\" && h < 12) h += 12;\n  if (suf === \"am\" && h === 12) h = 0;\n  return { horas: h, minutos: min };\n}\n\nconst fecha = parseFecha(mensaje);\nconst horaObj = parseHora(mensaje);\nif (fecha && horaObj) fecha.setHours(horaObj.horas, horaObj.minutos, 0, 0);\n\nconst salida = {\n  sessionId: $input.first().json.sessionId || \"\",\n  texto_original: mensajeOriginal, // Ahora sí tendrá datos\n  descripcion_de_la_imagen: descripcionImagen,\n  fecha_actual: ahora.toISOString().split(\"T\")[0],\n  hora_actual: `${ahora.getHours().toString().padStart(2,\"0\")}:${ahora.getMinutes().toString().padStart(2,\"0\")}`,\n  fecha_hora_actual: ahora.toISOString()\n};\n\nif (fecha) {\n  salida.fecha = fecha.toISOString().split(\"T\")[0];\n  salida.cita_iso = fecha.toISOString();\n}\nif (horaObj) {\n  salida.hora = `${horaObj.horas.toString().padStart(2,\"0\")}:${horaObj.minutos.toString().padStart(2,\"0\")}`;\n}\n\nreturn [{ json: salida }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80080,
        30992
      ],
      "id": "d1258fd5-7e71-4d2b-9e16-46f5cb9b48de",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        78064,
        30752
      ],
      "id": "4611281a-937a-4120-ac5d-1d2a86343fbb",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "pcCTk7D599QTei19",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Explica lo que ves en la imagen, si hay texto transcríbelo, debe ser descriptivo y breve para interpretar",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        77904,
        30944
      ],
      "id": "8f52b6b0-9de6-4425-84c9-6660d10b7209",
      "name": "Describir Imagen1",
      "credentials": {
        "openAiApi": {
          "id": "pcCTk7D599QTei19",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        79200,
        30992
      ],
      "id": "8595013f-7989-43ad-b703-f4d8d1cf636c",
      "name": "Merge3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.rag_context || '' }}{{ $json.text || '' }}{{ $json['descripcion de la imagen'] ? '\\n[Descripción de imagen]: ' + $json['descripcion de la imagen'] : '' }}",
        "options": {
          "systemMessage": "=Eres ELINA IA, una asistente virtual de WhatsApp. Tu objetivo es automatizar la atención a clientes, generar ventas y agendar citas.\n\n**CONTEXTO DEL NEGOCIO (Personalizado):**\n{{ $('Obtener Prompt y Configuración1').item.json.prompt_content }}\n\n**INFORMACIÓN DE LA EMPRESA (SOLO DATOS DISPONIBLES):**\n{{ $('Obtener Perfil de Usuario1').item.json.website ? '- Sitio Web: ' + $('Obtener Perfil de Usuario1').item.json.website + '\\n' : '' }}{{ $('Obtener Perfil de Usuario1').item.json.social_media?.instagram ? '- Instagram: ' + $('Obtener Perfil de Usuario1').item.json.social_media.instagram + '\\n' : '' }}{{ $('Obtener Perfil de Usuario1').item.json.social_media?.facebook ? '- Facebook: ' + $('Obtener Perfil de Usuario1').item.json.social_media.facebook + '\\n' : '' }}{{ $('Obtener Perfil de Usuario1').item.json.company_description ? '- Descripción: ' + $('Obtener Perfil de Usuario1').item.json.company_description + '\\n' : '' }}{{ $('Obtener Perfil de Usuario1').item.json.work_start_hour && $('Obtener Perfil de Usuario1').item.json.work_end_hour ? '- Horario de atención: ' + $('Obtener Perfil de Usuario1').item.json.work_start_hour + 'hrs a ' + $('Obtener Perfil de Usuario1').item.json.work_end_hour + 'hrs\\n' : '' }}{{ $('Obtener Perfil de Usuario1').item.json.business_address ? '- Dirección: ' + $('Obtener Perfil de Usuario1').item.json.business_address + '\\n' : '' }}{{ $('Obtener Perfil de Usuario1').item.json.business_phone ? '- Teléfono: ' + $('Obtener Perfil de Usuario1').item.json.business_phone + '\\n' : '' }}{{ $('Obtener Perfil de Usuario1').item.json.pickup_location ? '- Ubicación de recogida: ' + $('Obtener Perfil de Usuario1').item.json.pickup_location + '\\n' : '' }}\n### 🚨 REGLA CRÍTICA: NO INVENTAR DATOS 🚨\n**NUNCA inventes direcciones, teléfonos, ubicaciones, información de envíos, tracking, métodos de pago, opciones de pago, términos de pago, o información financiera.**\n- Si NO tienes un dato disponible arriba, NO lo menciones ni lo inventes.\n- Si te preguntan por algo que no está en la lista de arriba, di honestamente: \"No tengo esa información disponible. Un humano te puede ayudar mejor con eso.\"\n- **INFORMACIÓN DE ENVÍOS:** {{ $('Obtener Perfil de Usuario1').item.json.has_shipping_system === false || !$('Obtener Perfil de Usuario1').item.json.has_shipping_system ? 'El negocio NO tiene sistema de tracking de envíos. Si te preguntan por envíos, tracking, estado de pedido, dónde está su pedido, o cuándo llegará, DEBES decir: \"No puedo proporcionar información de envíos en este momento. Un humano te ayudará con eso.\" NUNCA inventes información de tracking, números de guía, o estados de envío.' : 'El negocio tiene sistema de tracking. Puedes proporcionar información de envíos si está disponible.' }}\n- **INFORMACIÓN FINANCIERA Y PAGOS (CRÍTICO):** NUNCA menciones \"opciones de pago\", \"métodos de pago\", \"términos de pago\", \"facilidades de pago\", \"formas de pago\", \"planes de pago\", o cualquier información relacionada con pagos a menos que esté EXPLÍCITAMENTE disponible en los datos del negocio arriba. Si el usuario pregunta por métodos de pago, di: \"Un humano te puede ayudar mejor con las opciones de pago disponibles.\"\n- Si te preguntan por dirección y no está en la lista, NO inventes una dirección. Di que no tienes esa información.\n- Si te preguntan por teléfono y no está en la lista, NO inventes un número. Di que no tienes esa información.\n\n**Ejemplos de lo que NO debes hacer:**\n❌ \"Puedes recogerlo en Calle Falsa 123\" (si no está en la lista)\n❌ \"Llama al 555-1234\" (si no está en la lista)\n❌ \"Tu pedido está en tránsito\" (si no tienen sistema de tracking)\n❌ \"¿Quieres que te prepare la cotización con IVA y opciones de pago?\" (NUNCA menciones opciones de pago)\n❌ \"Tenemos facilidades de pago\" (si no está en los datos)\n❌ \"Aceptamos tarjeta, efectivo y transferencia\" (si no está en los datos)\n\n**Ejemplos de lo que SÍ debes hacer:**\n✅ \"No tengo la dirección disponible. Un humano te puede ayudar con eso.\"\n✅ \"No tengo información de envíos. Un humano te ayudará con el tracking.\"\n✅ \"No tengo ese número de teléfono disponible.\"\n✅ \"¿Quieres que te prepare la cotización con IVA?\" (sin mencionar opciones de pago)\n✅ \"Un humano te puede ayudar mejor con las opciones de pago disponibles.\" (si preguntan por pagos)\n\n### ⚠️ REGLA SUPREMA DE HERRAMIENTAS (CRÍTICO) ⚠️\nTu memoria de chat NO TIENE IMÁGENES.\nSi vas a mencionar un producto (precio, nombre o detalles), **ES OBLIGATORIO** usar la herramienta `ver productos` en este turno, incluso si ya conoces el precio por mensajes anteriores.\n* **Objetivo:** Obtener el ID del producto y usar placeholders para datos exactos.\n* **Consecuencia:** Si no usas la herramienta, no tendrás el link de la foto y el usuario no podrá ver el producto.\n\n**HERRAMIENTAS DISPONIBLES:**\n- **Tool: ver productos**: Base de datos con búsqueda inteligente. Úsala SIEMPRE para buscar productos.\n  * **Cómo buscar:** La herramienta devuelve todos los productos del usuario. Debes filtrar mentalmente los resultados buscando:\n    - Coincidencias exactas en `product_name` o `sku`\n    - Códigos de modelos en `description` (ej: si buscas \"M477fdw\", revisa la descripción de cada producto)\n    - Palabras clave relacionadas (ej: \"toner\" encontrará productos con \"toner\" en nombre o descripción)\n  * **Ejemplos:**\n    - Usuario: \"quiero un toner para M477fdw\" → Busca productos donde `description` contenga \"M477fdw\" o \"M477\"\n    - Usuario: \"414A\" → Busca productos donde `sku` o `product_name` contenga \"414A\"\n    - Usuario: \"toner HP\" → Busca productos donde `product_name` o `description` contenga \"toner\" y \"HP\"\n  * **IMPORTANTE:** Revisa el campo `description` cuidadosamente, ahí están los modelos compatibles (ej: \"Compatible con los modelos HP... M477fdw...\")\n  * **METADATA DE PRECISIÓN:** Los resultados incluyen metadata importante:\n    - `match_type`: \"exact\" (coincidencia exacta), \"partial\" (coincidencia parcial), \"low_confidence\" (baja confianza)\n    - `confidence_score`: número de 0-1 que indica qué tan confiable es el resultado\n    - `matched_fields`: array de campos que coincidieron (ej: [\"sku\", \"description\"])\n    - `is_partial_match`: true si es coincidencia parcial\n    - `is_exact_match`: true si es coincidencia exacta\n- **Tool: Calculator**: Para cálculos matemáticos.\n\n### 🔍 REGLAS DE BÚSQUEDA Y PRECISIÓN (CRÍTICO) ###\n**Cuando uses la herramienta `ver productos`:**\n1. **Coincidencias Exactas:** Si el resultado tiene `match_type: \"exact\"` o `is_exact_match: true`, puedes presentarlo con confianza total.\n2. **Coincidencias Parciales:** Si el resultado tiene `match_type: \"partial\"` o `is_partial_match: true`:\n   - DEBES aclarar explícitamente: \"Encontré algo similar pero no exacto...\"\n   - Menciona qué campo coincidió usando `matched_fields` (ej: \"El código es similar pero no exacto, encontré coincidencia en la descripción\")\n   - Pregunta si es lo que busca o si necesita algo diferente\n   - NUNCA presentes un producto parcial como si fuera exacto\n3. **Sin Resultados o Baja Confianza:** Si no hay resultados o `match_type: \"low_confidence\"` o `confidence_score < 0.5`:\n   - Di honestamente: \"No encontré ese producto exacto en mi base de datos\"\n   - Ofrece ayuda: \"¿Podrías darme más detalles? ¿Es un código específico o un tipo de producto?\"\n   - NO inventes productos ni mezcles datos de diferentes productos\n\n**Ejemplos de respuestas correctas:**\n✅ \"No encontré un producto con código exacto '56f0z00'. Encontré '56F4000' que es similar (coincidencia en descripción). ¿Es este el que buscas?\"\n✅ \"Encontré productos similares pero no exactos. El código que mencionaste no coincide exactamente. ¿Podrías verificar el código?\"\n✅ \"No tengo ese producto en mi base de datos. ¿Es un código específico o puedo ayudarte con productos similares?\"\n✅ \"Encontré 'B410/B420/B430' que coincide parcialmente. ¿Es este el producto que necesitas?\"\n\n**NUNCA hagas:**\n❌ Presentar un producto como si fuera exacto cuando `match_type: \"partial\"` o `is_partial_match: true`\n❌ Mezclar datos de diferentes productos (nombre de uno, precio de otro, descripción de otro)\n❌ Inventar productos que no existen\n❌ Usar un producto cuando `confidence_score < 0.3` sin aclarar la baja confianza\n\n### 🎯 FORMATO DE DATOS DE PRODUCTOS (OBLIGATORIO) ###\n**NUNCA escribas precios, URLs o nombres directamente. SIEMPRE usa placeholders con el ID del producto.**\n\nCuando la herramienta `ver productos` retorne un producto, usa su campo `id` para crear placeholders:\n\n**Formatos de placeholders:**\n- `[PRODUCT_NAME:ID]` - Nombre del producto\n- `[PRODUCT_PRICE:ID]` - Precio del producto\n- `[PRODUCT_URL:ID]` - URL de la imagen (media_url)\n- `[PRODUCT_STOCK:ID]` - Stock disponible\n- `[PRODUCT_DESC:ID]` - Descripción del producto\n\n**Ejemplo de uso:**\nSi la herramienta retorna un producto con `id: 53`, escribe:\n```\n🛍️ **[PRODUCT_NAME:53]** — $[PRODUCT_PRICE:53]\n🔹 [PRODUCT_DESC:53]\nImagen: [PRODUCT_URL:53]\n```\n\n**REGLAS:**\n1. SIEMPRE usa el `id` que viene de la herramienta `ver productos`\n2. NUNCA inventes precios, URLs o nombres\n3. Si no tienes el ID, NO menciones el producto\n4. Puedes usar múltiples placeholders del mismo producto: `[PRODUCT_NAME:53]`, `[PRODUCT_PRICE:53]`, etc.\n\n### GUÍA DE ESTILO VISUAL ###\nCuando presentes productos, usa estrictamente esta estructura:\n\n1.  **Encabezado:** Emoji (🚀, ✨) + Frase corta de beneficio.\n2.  **Lista de Productos (Repite este bloque por cada producto):**\n    * **Línea 1:** 🛍️ **[PRODUCT_NAME:ID]** — $[PRODUCT_PRICE:ID]\n    * **Línea 2:** 🔹 [PRODUCT_DESC:ID]\n    * **Línea 3 (SIEMPRE que haya media_url):**\n        Escribe LITERALMENTE: `Imagen: [PRODUCT_URL:ID]`\n\n3.  **Cierre:** Pregunta clara (💬) para avanzar la venta o agendar.\n\n**COTIZACIONES - FORMATO LIMPIO (OBLIGATORIO):**\nCuando presentes una cotización con múltiples productos, usa EXACTAMENTE este formato:\n\n```\nTu cotización para [cantidad] piezas de cada [tipo de producto]:\n\n🛍️ *[PRODUCT_NAME:ID]* — $[PRODUCT_PRICE:ID] c/u\n[cantidad] piezas Subtotal: $[subtotal_calculado] + IVA\n\n🛍️ *[PRODUCT_NAME:ID]* — $[PRODUCT_PRICE:ID] c/u\n[cantidad] piezas Subtotal: $[subtotal_calculado] + IVA\n\n💰 Total sin IVA: $[TOTAL_CALCULADO]\n```\n\n**REGLAS CRÍTICAS:**\n1. **NUNCA escribas `$[TOTAL_CALCULATED]` literalmente.** Debes calcular el total sumando todos los subtotales.\n2. **Calcula cada subtotal:** precio × cantidad (ej: $82.17 × 3 = $246.51)\n3. **Calcula el total:** suma todos los subtotales (ej: $246.51 + $877.26 = $1,123.77)\n4. **Formato de números:** Usa comas para miles (ej: $1,123.77)\n5. **Elimina descripciones largas:** Solo nombre del producto y precio por unidad\n6. **Elimina URLs de imágenes:** No incluyas links de imágenes en cotizaciones\n7. **Elimina emojis innecesarios:** Solo usa 🛍️ para productos y 💰 para el total\n8. **NUNCA menciones opciones de pago, métodos de pago, o términos de pago** en las cotizaciones. Solo presenta los productos, cantidades, subtotales y total.\n9. **Cierre simple:** Termina con \"¿Te parece bien?\" o \"¿Quieres que te prepare la cotización con IVA?\" NUNCA agregues \"y opciones de pago\" o similar.\n\n**Ejemplo correcto:**\n```\nTu cotización para 3 piezas de cada toner:\n\n🛍️ *85A/35A/36A* — $82.17 c/u\n3 piezas Subtotal: $246.51 + IVA\n\n🛍️ *Q6511A* — $292.42 c/u\n3 piezas Subtotal: $877.26 + IVA\n\n💰 Total sin IVA: $1,123.77\n```\n\n**IMPORTANTE:**\n- Si mencionas 2 o más productos, o si el usuario solicita una cotización explícitamente, el sistema generará automáticamente un PDF de cotización.\n- El PDF se enviará por WhatsApp con un ID de rastreo (ej: COT-001).\n- NUNCA dejes placeholders sin calcular como `$[TOTAL_CALCULATED]`. SIEMPRE calcula el total real.\n- NUNCA menciones información de pagos a menos que esté EXPLÍCITAMENTE en los datos del negocio.\n\n**REGLAS GENERALES DE RESPUESTA:**\n1.  **Audios:** Si el último mensaje del usuario fue un audio, o si pide explícitamente una respuesta hablada, DEBES iniciar tu respuesta con la etiqueta `[AUDIO]`. Ejemplo: `[AUDIO] Hola, claro que sí...`\n2.  **Archivos:** Solo envía UN archivo por mensaje. Nunca pongas dos links seguidos.\n3.  **Tono:** Breve, claro y amigable. Usa emojis. Máximo 4 líneas de texto conversacional (sin contar los bloques de productos).\n4.  **Honestidad:** Si la herramienta `ver productos` no encuentra nada, di que no tienes esa información. No inventes datos.\n5.  **Limpieza:** No menciones \"buscando en base de datos\" ni \"aquí tienes la imagen\". Solo pon el texto y el link en el formato indicado.\n\n**MANEJO DE CONTEXTO:**\n- Si el usuario se refiere a un producto anterior (\"me interesa el primero\"), identifica el nombre en el historial y EJECUTA la herramienta `ver productos` con ese nombre para recuperar su `media_url`."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        83104,
        30864
      ],
      "id": "cb142cf2-db11-4e92-b2de-cb6855addd31",
      "name": "AI Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"content\": \"{{ $('Definir destinatario1').item.json['mensaje texto '] || $('AI Agent').item.json.output || '' }}\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        86272,
        31248
      ],
      "id": "6edebcff-0552-431b-9a62-ff3fa40bb2fa",
      "name": "Responder JSON - Texto"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  response: $('Definir destinatario1').item.json['mensaje texto '] || '',\n  image_url: $('Definir destinatario1').item.json.url_imagen || null,\n  simulation: true,\n  message_type: 'image',\n  context_used: {\n    rag_messages: $('3. RAG - Formatear Contexto1')?.item?.json?.rag_context || 'N/A',\n    has_rag: !!($('3. RAG - Formatear Contexto1')?.item?.json?.rag_context)\n  },\n  timestamp: new Date().toISOString()\n}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        86272,
        30864
      ],
      "id": "f6d871c7-e555-4a7e-93dc-43aca177f89a",
      "name": "Responder JSON - Imagen"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  response: $('Definir destinatario1').item.json['mensaje texto '] || '',\n  video_url: $('Definir destinatario1').item.json.urlVideo || null,\n  simulation: true,\n  message_type: 'video',\n  context_used: {\n    rag_messages: $('3. RAG - Formatear Contexto1')?.item?.json?.rag_context || 'N/A',\n    has_rag: !!($('3. RAG - Formatear Contexto1')?.item?.json?.rag_context)\n  },\n  timestamp: new Date().toISOString()\n}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        86256,
        31040
      ],
      "id": "89395874-09a9-45e0-b9b4-6124aa2e8873",
      "name": "Responder JSON - Video"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1127a127-ad88-4889-994f-d97cf0c75eae",
              "name": "numer",
              "value": "={{$('Webhook1').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "12dcf139-d7a4-47ae-959b-26a6a9b5f689",
              "name": "mensaje texto ",
              "value": "={{ $('Separar imagen o video del texto o audio1').item.json.mensaje_texto }}",
              "type": "string"
            },
            {
              "id": "1e3a8ade-0e71-491c-9a7b-4d8809014296",
              "name": "url_imagen",
              "value": "={{ $('Separar imagen o video del texto o audio1').item.json.url_imagen.trim() }}",
              "type": "string"
            },
            {
              "id": "f107efb1-c390-4a19-91f3-e504dce325aa",
              "name": "urlVideo",
              "value": "={{ $('Separar imagen o video del texto o audio1').item.json.url_video }}",
              "type": "string"
            },
            {
              "id": "0c03e5e1-c534-45f1-b095-114dc233f4cd",
              "name": "id",
              "value": "={{ $('Merge5').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        84976,
        31248
      ],
      "id": "1559808c-df8b-48ee-8096-9bd0cd5374b2",
      "name": "Definir destinatario1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08316d0d-678d-4482-a89c-a914b13819cb",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "60870119-633c-4f44-a387-efe517ba0f85",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        77952,
        31312
      ],
      "id": "b693218a-f3d4-4c6d-b7df-9f7f1abf9ee9",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        79424,
        30992
      ],
      "id": "9ca27199-e1cc-4229-bad1-30a6ec9d2ffc",
      "name": "Sort1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content",
              "renameField": true,
              "outputFieldName": "messages"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        79648,
        30992
      ],
      "id": "9efacf8b-a181-4803-9444-908b911f364a",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "85ad988a-4c60-433b-b138-578849593ebd",
                    "leftValue": "={{ $('Webhook1').item.json.body.data.messageType }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio por ia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "541ee8da-e4f3-4984-a533-99e51b3409a4",
                    "leftValue": "={{ $('Json parse1').item.json.content_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "feec1bce-11e9-4ca7-a4f3-5f198bc86a70",
                    "leftValue": "={{ ($('Definir destinatario1').item.json.url_imagen || '').toString().trim() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": " imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "475f7ac8-63b9-4d3a-a12e-583d51224820",
                    "leftValue": "={{ ($('Definir destinatario1').item.json.urlVideo || '').toString().trim() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Definir destinatario1').item.json['mensaje texto '] }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "b5f25ace-e676-4f06-825e-e21747f1f27a"
                  },
                  {
                    "leftValue": "={{ ($('Definir destinatario1').item.json.url_imagen || '').toString().trim() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "no-imagen-check"
                  },
                  {
                    "leftValue": "={{ ($('Definir destinatario1').item.json.urlVideo || '').toString().trim() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "no-video-check"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none",
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        85936,
        30976
      ],
      "id": "4495bd1f-3f99-4105-9f90-30c9d6a75263",
      "name": "Switch tipo de mensaje1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mytvwfbijlgbihlegmfg.supabase.co/storage/v1/object/audiostemp/audio_{{ $('Webhook1').item.json.body.data.message.messageContextInfo.deviceListMetadata.senderTimestamp }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQxODk5MCwiZXhwIjoyMDY5OTk0OTkwfQ.07-JQs9AXJlqKYMDxk4tOL_6zOEGQTddaKlQmKQe14U"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQxODk5MCwiZXhwIjoyMDY5OTk0OTkwfQ.07-JQs9AXJlqKYMDxk4tOL_6zOEGQTddaKlQmKQe14U"
            },
            {
              "name": "Content-Type",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87168,
        30656
      ],
      "id": "5d1c2282-6049-427f-b70d-d705f4b4376d",
      "name": "Subir a supa1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "VmejBeYhbrcTPwDniox7",
          "mode": "list",
          "cachedResultName": "Lina - Carefree & Fresh"
        },
        "text": "={{ $json['mensaje texto '] }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        86944,
        30656
      ],
      "id": "74c5042b-1536-4e7a-8ff9-684aefaf991c",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "2Wv6AG1xfNp2VDzm",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  response: $('Definir destinatario1').item.json['mensaje texto '] || '',\n  audio_url: $('Convert text to speech').item.json.outputUrl || 'https://mytvwfbijlgbihlegmfg.supabase.co/storage/v1/object/public/audiostemp/audio_' + ($('Webhook1').item.json.body.data.message.messageContextInfo.deviceListMetadata.senderTimestamp || Date.now()),\n  simulation: true,\n  message_type: 'audio',\n  context_used: {\n    rag_messages: $('3. RAG - Formatear Contexto1')?.item?.json?.rag_context || 'N/A',\n    has_rag: !!($('3. RAG - Formatear Contexto1')?.item?.json?.rag_context)\n  },\n  timestamp: new Date().toISOString()\n}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        87392,
        30656
      ],
      "id": "4a2943c9-05a2-44d2-bcf5-3a5708c1fbbe",
      "name": "Responder JSON - Audio"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d014b9d3-b09b-4d26-ad50-61f369ccd91a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6e7fb3c2-a82e-4993-9308-11d8eb474bbb",
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0f69f392-d5d9-4022-8dba-980f7dcaae1f",
                    "leftValue": "=",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "otros",
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        77280,
        30976
      ],
      "id": "e3ddf63b-520b-45de-a265-80d9b9353969",
      "name": "DivideporType1",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        82992,
        31408
      ],
      "id": "171a4160-37c3-4803-91be-c73334c6b827",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "jsCode": "// --- INICIO: Procesar salida de IA (sin Split ni Merge) ---\n// Recibe el texto del nodo 'Detectar si es Cotización' o 'Reemplazar Placeholders' que ya tiene los datos reales\n\nconst inputItem = $input.first();\n// El texto puede venir en inputItem.json.output (de Detectar si es Cotización) o directamente\nlet textoCompleto = inputItem.json.output || inputItem.json.mensaje_texto || inputItem.json.text || \"\";\ntextoCompleto = textoCompleto.trim();\n\n// Si viene vacío, intentar obtener del nodo anterior\nif (!textoCompleto) {\n  try {\n    const prevItem = $('Detectar si es Cotización').item;\n    if (prevItem && prevItem.json && prevItem.json.output) {\n      textoCompleto = prevItem.json.output.trim();\n    } else {\n      const replacerItem = $('Reemplazar Placeholders').item;\n      if (replacerItem && replacerItem.json && replacerItem.json.output) {\n        textoCompleto = replacerItem.json.output.trim();\n      }\n    }\n  } catch (e) {\n    console.warn('No se pudo obtener texto del nodo anterior:', e);\n  }\n}\n\nlet body = textoCompleto;\nlet esAudio = false;\n\n// 1) Detectar [AUDIO]\nif (/\\[AUDIO\\]/i.test(body)) {\n  esAudio = true;\n  body = body.replace(/\\[AUDIO\\]:?/gi, \"\").trim();\n}\n\n// 2) Capturar TODAS las URLs\n// \\S+ captura todo lo que no sea espacio, por eso se trae el parentesis.\nconst urlRegex = /https?:\\/\\/\\S+/g; \nconst rawUrls = body.match(urlRegex) || [];\n\n// --- FIX: LIMPIEZA DE URLs ---\n// Recorremos las URLs detectadas y quitamos ), ] . , o ; del final\nconst urls = rawUrls.map(u => u.replace(/[)\\].,;]+$/, \"\"));\n// -----------------------------\n\n// 3) Extensiones para tipar si NO viene prefijo\nconst imgExts = ['.jpg', '.jpeg', '.png', '.gif', '.webp', '.bmp'];\nconst vidExts = ['.mp4', '.mov', '.avi', '.wmv', '.mkv'];\n\nlet urlImagen = \"\";\nlet urlVideo  = \"\";\nlet textoLimpio = body;\n\n// 4) Buscar primero si vienen con prefijo “Imagen:” o “Video:” por-URL\nfor (const url of urls) {\n  // Escapamos la URL para usarla en el replace del texto original\n  // Nota: Usamos la url limpia para buscar, pero debemos tener cuidado si en el texto original tiene el parentesis\n  \n  // Para limpiar el texto original, usaremos la rawUrl correspondiente (la sucia)\n  const rawUrl = rawUrls.find(r => r.includes(url)) || url;\n  const esc = rawUrl.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  \n  const imgRe = new RegExp(`Imagen:\\\\s*${esc}`, 'i');\n  const vidRe = new RegExp(`Video:\\\\s*${esc}`, 'i');\n\n  if (!urlImagen && imgRe.test(textoLimpio)) {\n    urlImagen = url; // Guardamos la URL LIMPIA\n    textoLimpio = textoLimpio.replace(imgRe, \"\");\n    continue;\n  }\n  if (!urlVideo && vidRe.test(textoLimpio)) {\n    urlVideo = url; // Guardamos la URL LIMPIA\n    textoLimpio = textoLimpio.replace(vidRe, \"\");\n    continue;\n  }\n}\n\n// 5) Si no hubo prefijos, tipar por extensión (solo primera imagen y primer video)\nif (!urlImagen || !urlVideo) {\n  for (let i = 0; i < urls.length; i++) {\n    const url = urls[i];\n    const rawUrl = rawUrls[i]; // Usamos la sucia para borrarla del texto\n    const lower = url.toLowerCase();\n    \n    if (!urlImagen && imgExts.some(ext => lower.includes(ext))) {\n      urlImagen = url;\n      textoLimpio = textoLimpio.replace(rawUrl, \"\"); // Borramos la URL sucia del texto\n      continue;\n    }\n    if (!urlVideo && vidExts.some(ext => lower.includes(ext))) {\n      urlVideo = url;\n      textoLimpio = textoLimpio.replace(rawUrl, \"\"); // Borramos la URL sucia del texto\n      continue;\n    }\n  }\n}\n\n// 6) Limpieza de etiquetas huérfanas y saltos\ntextoLimpio = textoLimpio\n  .replace(/Imagen:\\s*/gi, \"\")\n  .replace(/Video:\\s*/gi, \"\")\n  .replace(/\\s+\\n/g, \"\\n\")\n  .replace(/\\n{2,}/g, \"\\n\")\n  .trim();\n\n// 7) Salida ÚNICA (un item) - PRESERVAR pairedItem para mantener la referencia\nconst outputItem = {\n  json: {\n    mensaje_texto: textoLimpio,\n    es_audio: esAudio,\n    url_imagen: urlImagen || \"\",\n    url_video: urlVideo  || \"\"\n  }\n};\n\n// Preservar pairedItem del input para mantener la referencia al nodo anterior\nif (inputItem.pairedItem) {\n  outputItem.pairedItem = inputItem.pairedItem;\n}\n\nreturn [outputItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        84592,
        31344
      ],
      "id": "050204b7-5847-43e1-bfdb-caa38fe74aa6",
      "name": "Separar imagen o video del texto o audio1"
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $node[\"Detectar Simulación\"].json.simulationUserId || $('Get a row1').item.json.id }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $node[\"buscar contacto1\"].json.id }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "human"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('set text1').item.json.text }}"
            },
            {
              "fieldId": "is_simulation",
              "fieldValue": "={{ $('Detectar Simulación').item.json.isSimulation || true }}"
            },
            {
              "fieldId": "prompt_version",
              "fieldValue": "={{ $('Detectar Simulación').item.json.promptVersion }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        85312,
        31296
      ],
      "id": "334db7f4-f5a0-4bdf-b5de-4f95460f2328",
      "name": "human1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $node[\"Detectar Simulación\"].json.simulationUserId || $('Get a row1').item.json.id }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "ai"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $node[\"buscar contacto1\"].json.id }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('AI Agent').item.json.output }}"
            },
            {
              "fieldId": "is_simulation",
              "fieldValue": "={{ $('Detectar Simulación').item.json.isSimulation || true }}"
            },
            {
              "fieldId": "prompt_version",
              "fieldValue": "={{ $('Detectar Simulación').item.json.promptVersion }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $('Definir destinatario1').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        85328,
        31984
      ],
      "id": "4fa2572d-ed58-447a-86eb-5177805a4b97",
      "name": "AI1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        83104,
        31280
      ],
      "id": "a6bfa149-3746-45c9-a2f2-9cdb2f87e483",
      "name": "Wikipedia1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Fields1').item.json.instance['server_url '] }}/chat/getBase64FromMediaMessage/{{ $('Set Fields1').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Set Fields1').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('Set Fields1').item.json.message.MessageBodyData_id }}"
            },
            {
              "name": "convertToMp4",
              "value": "={{ Boolean(false) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        77616,
        30752
      ],
      "id": "c7aac28f-30c3-4b34-9dab-1478c26719fd",
      "name": "Get audio1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "=data",
        "options": {
          "mimeType": "audio/ogg; codecs=opus"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        77824,
        30752
      ],
      "id": "31f819aa-1b18-4214-a308-9473e3bbffa7",
      "name": "Convert Audio1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Fields1').item.json.instance['server_url '] }}/chat/getBase64FromMediaMessage/{{ $('Set Fields1').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Set Fields1').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('Set Fields1').item.json.message.MessageBodyData_id }}"
            },
            {
              "name": "convertToMp4",
              "value": "={{ Boolean(false) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        77520,
        30960
      ],
      "id": "2d199b76-89b5-4515-8a5b-d714454bce29",
      "name": "Get imagen1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        77728,
        30960
      ],
      "id": "80d362fb-ff86-4baf-9758-ffad55c7d38c",
      "name": "Convertimagen1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/smart-embedding-router",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n       \"text\": \"{{ $('Detectar Simulación').item.json.body.data.message.conversation .replace(/<\\/?audio>|\\n/g, ' ').trim() }}\",\n       \"model\": \"text-embedding-3-small\"\n     }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80848,
        30288
      ],
      "id": "816573a7-977a-4865-96d8-7658c2d83b7e",
      "name": "1. RAG - Obtener Embedding1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/rag-with-fallback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n       query_text: $('set text1').item.json.text || '',\n       user_id: $node[\"Detectar Simulación\"].json.simulationUserId || $('Get a row1').item.json.id || '',\n       contact_id: $node[\"buscar contacto1\"].json.id,\n       query_embedding: $json.embedding && Array.isArray($json.embedding) && $json.embedding.length > 0 ? $json.embedding : null,\n       match_count: 5,\n       similarity_threshold: 0.5,\n       include_simulations: true\n     }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        81024,
        30288
      ],
      "id": "817cb694-75be-4902-8f7e-7eda3cb2019c",
      "name": "2. RAG - Buscar en Supabase1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "evolution_instance_name",
              "keyValue": "={{ $json.full_name }}"
            },
            {
              "keyName": "evolution_api_key",
              "keyValue": "={{ $json.evolution_api_key }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        79936,
        31360
      ],
      "id": "cf644af8-c4aa-4c1f-859d-638901841a56",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos los mensajes similares del nodo anterior (RAG)\nconst similarMessages = $input.item.json;\nlet context = \"\";\n\n// Función para truncar texto a máximo 200 caracteres\nconst truncate = (text, maxLength = 200) => {\n  if (!text || typeof text !== 'string') return '';\n  if (text.length <= maxLength) return text;\n  return text.substring(0, maxLength - 3) + '...';\n};\n\n// Construimos el contexto si hay mensajes similares (máximo 3 mensajes)\nif (similarMessages && similarMessages.length > 0) {\n  // Limitar a máximo 3 mensajes y truncar cada uno\n  const limitedMessages = similarMessages.slice(0, 3);\n  context = \"Contexto de mensajes pasados:\\n\" + \n            limitedMessages.map(m => {\n              const content = truncate(m.content || '', 200);\n              return `${m.message_type === 'ai' ? 'IA:' : 'Humano:'} ${content}`;\n            }).join('\\\\n') +\n            \"\\\\n----\\\\n\";\n}\n\n// Devolvemos un solo objeto JSON que incluye:\n// 1. Los datos del nodo 'set text'.\n// 2. El contexto RAG que acabamos de crear (limitado y truncado).\n// 3. El content_type original del mensaje que llegó al webhook.\nreturn [{\n  json: {\n    ...$('set text1').item.json,\n    rag_context: context,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        81200,
        30288
      ],
      "id": "cbd8cc59-1a2f-43d7-b6d3-f86b497f28da",
      "name": "3. RAG - Formatear Contexto1"
    },
    {
      "parameters": {
        "name": "ver_productos",
        "jsCode": "// Herramienta de búsqueda de productos usando Edge Function\n// Esta herramienta es invocada por el AI Agent con un query de búsqueda\n\nconst query = $input.item.json.query || $input.item.json.text || $input.item.json.input || '';\nconst userId = $('Obtener Prompt y Configuración1').item.json.user_id;\n\nif (!query || !userId) {\n  return [{ json: { error: 'Query y user_id son requeridos', products: [] } }];\n}\n\ntry {\n  // Llamar a la Edge Function de búsqueda híbrida\n  const response = await fetch('https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/search-products-hybrid', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE',\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE',\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      user_id: userId,\n      query: query.trim(),\n      limit: 10\n    })\n  });\n\n  if (!response.ok) {\n    const errorData = await response.json().catch(() => ({}));\n    return [{ json: { error: `Error en búsqueda: ${response.status}`, products: [] } }];\n  }\n\n  const data = await response.json();\n  \n  // Retornar productos en formato que el agente espera\n  // Cada producto debe ser un item separado para que el agente pueda procesarlos\n  if (data.products && data.products.length > 0) {\n    return data.products.map(product => ({\n      json: {\n        id: product.id,\n        product_name: product.product_name,\n        sku: product.sku,\n        price: product.price,\n        stock: product.stock,\n        description: product.description,\n        media_url: product.media_url,\n        match_type: product.match_type,\n        confidence_score: product.confidence_score,\n        matched_fields: product.matched_fields || [],\n        relevance_score: product.relevance_score\n      }\n    }));\n  }\n  \n  return [{ json: { products: [], query_codes: data.query_codes || [], message: 'No se encontraron productos' } }];\n} catch (error) {\n  return [{ json: { error: error.message || 'Error desconocido', products: [] } }];\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        83312,
        31152
      ],
      "id": "5215ee55-ac15-49c7-9fba-ccd7b3af046a",
      "name": "ver_productos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/smart-embedding-router",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n       \"text\": \"{{ $('human1').item.json.content }}\",\n       \"model\": \"text-embedding-3-small\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        85120,
        31536
      ],
      "id": "ec4660c4-3f24-41b4-8ec4-dba9e3eab442",
      "name": "1b. Obtener Embedding Humano1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "chat_history",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('human1').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "embedding",
              "fieldValue": "={{ (() => { const emb = $('1b. Obtener Embedding Humano1').item.json.embedding; if (!emb || !Array.isArray(emb) || emb.length === 0) return null; const nums = emb.filter(v => typeof v === 'number' && !isNaN(v) && isFinite(v)); if (nums.length !== emb.length || nums.length === 0) return null; return '[' + nums.join(',') + ']'; })() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        85008,
        31792
      ],
      "id": "c262042b-7e19-4cdd-88c8-92452680cf6c",
      "name": "1c. Actualizar Embedding Humano1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/smart-embedding-router",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n       \"text\": {{ JSON.stringify($('AI1').item.json.content.replace(/\\\\[AUDIO\\\\]:?|\\n/gi, ' ').trim()) }},\n       \"model\": \"text-embedding-3-small\"\n }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        85536,
        31536
      ],
      "id": "361ff5fd-74b3-445f-a099-d4787ad845ea",
      "name": "2b. Obtener Embedding IA1",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "chat_history",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('AI1').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "embedding",
              "fieldValue": "={{ (() => { const emb = $('2b. Obtener Embedding IA1').item.json.embedding; if (!emb || !Array.isArray(emb) || emb.length === 0) return null; const nums = emb.filter(v => typeof v === 'number' && !isNaN(v) && isFinite(v)); if (nums.length !== emb.length || nums.length === 0) return null; return '[' + nums.join(',') + ']'; })() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        85840,
        31408
      ],
      "id": "c629de8d-55ed-44e9-bbf0-7b06c024e381",
      "name": "2c. Actualizar Embedding IA1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "evolution_instance_name",
              "keyValue": "={{ $('Webhook1').item.json.body.instance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80288,
        30992
      ],
      "id": "7427b78e-8b2d-4a93-b04e-1388f2c09621",
      "name": "Obtener Perfil de Usuario1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "prompts",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80656,
        31360
      ],
      "id": "ff452f58-84a6-459c-b1ab-6f97c0d947f3",
      "name": "Obtener Prompt y Configuración1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "evolution_instance_name",
              "keyValue": "={{ $('Detectar Simulación').item.json.body.instance || $json.body.instance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        76848,
        31024
      ],
      "id": "d3875b0a-c82d-4a6a-95e1-3d3366aeefcf",
      "name": "evolution_instance_name1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/rest/v1/rpc/get_or_create_simulation_contact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_user_id: $node[\"Detectar Simulación\"].json.simulationUserId }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        77072,
        31024
      ],
      "id": "e720c9e1-2233-4cd1-af63-0601066843a3",
      "name": "buscar contacto1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        82416,
        30400
      ],
      "id": "943d1b7c-4674-4a30-ab6d-26b4d1174857",
      "name": "No Operation, do nothing7"
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Get a row3').item.json.id;\nconst b64 = $('Get imagen1').item.json.base64;\n\n// Preparamos el cuerpo de la petición para la Edge Function\nconst body = {\n  userId: userId,\n  b64_json: b64,\n  subfolder: 'chat-files' // Guardamos en una carpeta específica para chats\n};\n\n// Devolvemos el cuerpo para el siguiente nodo (HTTP Request)\nreturn { json: body };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        78112,
        30992
      ],
      "id": "b3d5f0e4-a3db-4cd0-bc57-7199b4547648",
      "name": "Preparar para Subir a Bunny1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/smart-worker",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        78272,
        30992
      ],
      "id": "6e5d05c5-0a87-4e18-a1d6-c320f4b06136",
      "name": "Subir a Bunny1",
      "credentials": {
        "httpBearerAuth": {
          "id": "gIoa82xaIrz0lSEj",
          "name": "supabase Elina"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "evolution_instance_name",
              "keyValue": "={{ $('Set Fields1').item.json.instance.name }}"
            },
            {
              "keyName": "evolution_api_key",
              "keyValue": "={{ $('Set Fields1').item.json.instance.apikey }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        77984,
        31136
      ],
      "id": "8ec653db-031e-4d4a-b854-315fca1bdd72",
      "name": "Get a row3",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const caption = $('Set Fields1').item.json.message.content || '';\nconst cdnUrl = $('Subir a Bunny1').item.json.cdnUrl || '';\n\n// Unimos el caption y la URL para guardarlo como el contenido del mensaje\nconst finalContent = `${caption} ${cdnUrl}`.trim();\n\n// Devolvemos el contenido final y la descripción para el siguiente paso\nreturn {\n  json: {\n    content: finalContent,\n    'descripcion de la imagen': $('Describir Imagen1').item.json.content,\n    timestamp: $('Set Fields1').item.json.message.timestamp\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        78512,
        30992
      ],
      "id": "f5a85721-e2a4-4e89-b9c6-8056fc3636aa",
      "name": "Contenido Imagen3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        86272,
        30656
      ],
      "id": "63e67954-6997-496e-9039-bd90952a0c73",
      "name": "Merge4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9907162b-f1ae-4e83-bcd2-a7f3deffec83",
              "name": "numer",
              "value": "={{ $('Webhook1').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "c0e023d4-eb56-4f75-8096-4a1c8c2f9c41",
              "name": "mensaje texto ",
              "value": "={{ $json.texto.replace('[AUDIO]', '').replace(/([\\u2700-\\u27BF]|[\\uE000-\\uF8FF]|\\uD83C[\\uDC00-\\uDFFF]|\\uD83D[\\uDC00-\\uDFFF]|\\uD83E[\\uDC00-\\uDFFF])/g, '').replace(/\\s+/g, ' ').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        86720,
        30656
      ],
      "id": "65f069c2-9afb-42bb-8c9e-98329c0ab30d",
      "name": "que escribir como audio1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1dcff91-2111-49df-8a99-bb9ee8027ac3",
              "name": "texto",
              "value": "={{ $('AI Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        86480,
        30496
      ],
      "id": "4a0dfaa5-772c-4794-bf42-e190d7a321bf",
      "name": "Preparar Texto para Audio1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/detect-critical-intent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_id\": {{ $node[\"buscar contacto1\"].json.id }},\n  \"user_id\": \"{{ $node[\"Detectar Simulación\"].json.simulationUserId || $('Get a row1').item.json.id }}\",\n  \"message_content\": \"{{ $('set text1').item.json.text }}\",\n  \"message_id\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        81056,
        30768
      ],
      "id": "1c284650-2caa-43bc-8a9d-dffe6b31fd19",
      "name": "Detectar Intención Crítica1",
      "credentials": {
        "httpBearerAuth": {
          "id": "gIoa82xaIrz0lSEj",
          "name": "supabase Elina"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69201307-af1f-4a30-893a-7261ac0a37a6",
              "leftValue": "={{ $json.is_critical }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        81312,
        30752
      ],
      "id": "3314f08f-c2ad-42b2-af49-2534038c760a",
      "name": "IF: ¿Es Crítico?1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Get a row1').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        81488,
        30400
      ],
      "id": "e2c52965-03f2-4d0d-92c3-630f4c429ebb",
      "name": "Obtener Número Notificación1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- NODO: Preparar Mensaje Notificación Crítica ---\n// Prepara el mensaje completo de notificación incluyendo información de cotización si existe\n\n// Función para limpiar y escapar texto para WhatsApp\nconst limpiarTexto = (texto) => {\n  if (!texto) return '';\n  // Convertir a string y limpiar caracteres problemáticos\n  return String(texto)\n    .replace(/[\\x00-\\x1F\\x7F]/g, '') // Remover caracteres de control\n    .replace(/\\[|\\]/g, '') // Remover corchetes que pueden causar problemas\n    .trim();\n};\n\n// Obtener datos de forma segura\nlet contacto = 'Sin nombre';\ntry {\n  contacto = limpiarTexto($('buscar contacto1').item.json.full_name) || 'Sin nombre';\n} catch (e) {\n  contacto = 'Sin nombre';\n}\n\nlet numero = '';\ntry {\n  const remoteJid = $('Webhook1').item.json.body.data.key.remoteJid || '';\n  numero = limpiarTexto(remoteJid.replace('@s.whatsapp.net', ''));\n} catch (e) {\n  numero = 'No disponible';\n}\n\nlet tipoDeteccion = 'No especificado';\nlet confianza = 0;\nlet contenidoDetectado = 'No disponible';\n\ntry {\n  const deteccion = $('Detectar Intención Crítica1').item.json || {};\n  tipoDeteccion = limpiarTexto(deteccion.detection_type) || 'No especificado';\n  confianza = Math.round((deteccion.confidence || 0) * 100);\n  contenidoDetectado = limpiarTexto(deteccion.detected_content) || 'No disponible';\n} catch (e) {\n  // Usar valores por defecto\n}\n\n// Construir mensaje base usando concatenación en lugar de template literals\nlet mensaje = '🚨 *ATENCIÓN REQUERIDA*\\n\\n';\nmensaje += 'Se detectó una intención crítica en una conversación:\\n\\n';\nmensaje += '*Contacto:* ' + contacto + '\\n';\nmensaje += '*Número:* ' + numero + '\\n';\nmensaje += '*Tipo de detección:* ' + tipoDeteccion + '\\n';\nmensaje += '*Confianza:* ' + confianza + '%\\n\\n';\nmensaje += '*Mensaje detectado:*\\n';\nmensaje += contenidoDetectado + '\\n\\n';\nmensaje += 'La conversación ha sido pausada automáticamente. Revisa el chat en la aplicación.';\n\n// Intentar agregar información de cotización si existe\nlet infoCotizacion = '';\ntry {\n  const crearCotizacion = $('Crear Cotización').item;\n  if (crearCotizacion && crearCotizacion.json && crearCotizacion.json.quote) {\n    const quote = crearCotizacion.json.quote;\n    if (quote && quote.quote_id) {\n      const quoteId = limpiarTexto(quote.quote_id);\n      infoCotizacion = '\\n\\n📄 *Cotización generada:* ' + quoteId + '\\n';\n      infoCotizacion += 'Seguir cotización con ID: ' + quoteId;\n    }\n  }\n} catch (e) {\n  // Si no hay cotización o hay error, simplemente no agregar nada\n  infoCotizacion = '';\n}\n\n// Agregar información de cotización al mensaje si existe\nif (infoCotizacion) {\n  mensaje += infoCotizacion;\n}\n\nreturn [{\n  json: {\n    mensaje_completo: mensaje\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        81552,
        30624
      ],
      "id": "b886fbba-6e5a-449b-8bf0-5c676535e9d9",
      "name": "Preparar Mensaje Notificación Crítica"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "ElinaHead",
        "remoteJid": "={{ $('Obtener Número Notificación1').item.json.contact_phone.replace('+', '').replace('@s.whatsapp.net', '') }}",
        "messageText": "={{ $('Preparar Mensaje Notificación Crítica').item.json.mensaje_completo }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        81696,
        30400
      ],
      "id": "a477a813-428c-417d-a30a-e08ed4f845ed",
      "name": "Enviar Notificación WhatsApp1",
      "credentials": {
        "evolutionApi": {
          "id": "Z9jp08jNe9bfzQyi",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener la promo de forma segura\nconst promo = $('Filtrar Promoción Válida1').item.json.promo;\n\n// Obtener contexto RAG y texto\nconst ragContext = $('3. RAG - Formatear Contexto1').item.json.rag_context || '';\nconst text = $('set text1').item.json.text || '';\n\nlet promoContext = '';\n\n// Solo agregar contexto si hay una promo válida\nif (promo && promo.id) {\n  // Formatear fechas de forma segura\n  const formatDate = (dateString) => {\n    if (!dateString) return null;\n    try {\n      const date = new Date(dateString);\n      if (isNaN(date.getTime())) return null;\n      return date.toLocaleDateString('es-ES');\n    } catch (e) {\n      return null;\n    }\n  };\n  \n  const startDate = formatDate(promo.start_at);\n  const endDate = formatDate(promo.end_at);\n  \n  // Construir el contexto de promoción\n  promoContext = `\\n\\n[PROMOCIÓN ACTIVA DISPONIBLE]\\n` +\n    `Título: ${promo.title || 'Promoción especial'}\\n` +\n    `Descripción: ${promo.description || ''}\\n`;\n  \n  // Agregar descuento u oferta si existe\n  if (promo.discount) {\n    promoContext += `Descuento: ${promo.discount}\\n`;\n  }\n  if (promo.offer) {\n    promoContext += `Oferta: ${promo.offer}\\n`;\n  }\n  if (promo.benefits) {\n    promoContext += `Beneficios: ${promo.benefits}\\n`;\n  }\n  \n  // Agregar vigencia\n  if (promo.no_schedule) {\n    promoContext += `Vigencia: Siempre activa\\n`;\n  } else {\n    const vigencia = startDate && endDate \n      ? `${startDate} - ${endDate}`\n      : startDate \n        ? `Desde ${startDate}`\n        : endDate \n          ? `Hasta ${endDate}`\n          : 'Activa';\n    promoContext += `Vigencia: ${vigencia}\\n`;\n  }\n  \n  // Agregar call to action si existe\n  if (promo.call_to_action) {\n    promoContext += `Call to Action: ${promo.call_to_action}\\n`;\n  }\n  \n  // ✅ AGREGAR IMÁGENES DE LA PROMOCIÓN\n  if (promo.image_urls) {\n    let imageUrls = [];\n    \n    // Manejar si image_urls es un string JSON o un array\n    if (typeof promo.image_urls === 'string') {\n      try {\n        imageUrls = JSON.parse(promo.image_urls);\n      } catch (e) {\n        // Si no es JSON válido, tratar como string simple\n        imageUrls = [promo.image_urls];\n      }\n    } else if (Array.isArray(promo.image_urls)) {\n      imageUrls = promo.image_urls;\n    }\n    \n    // Agregar las URLs de imágenes al contexto\n    if (imageUrls.length > 0) {\n      promoContext += `\\nImágenes de la promoción:\\n`;\n      imageUrls.forEach((url, index) => {\n        if (url && url.trim()) {\n          promoContext += `Imagen ${index + 1}: ${url.trim()}\\n`;\n        }\n      });\n      // Instrucción clara para el AI Agent\n      promoContext += `\\nIMPORTANTE: Cuando menciones esta promoción, SIEMPRE incluye la primera imagen usando el formato \"Imagen: [URL]\". Ejemplo: \"Imagen: ${imageUrls[0].trim()}\"\\n`;\n    }\n  }\n  \n  promoContext += `\\nSi el contexto de la conversación lo permite, menciona esta promoción de forma natural. No la fuerces si no es relevante.\\n`;\n}\n\n// Obtener el contexto base\nconst baseContext = $('3. RAG - Formatear Contexto1').item.json;\n\n// Construir el resultado\nreturn [{\n  json: {\n    ...baseContext,\n    rag_context: (ragContext || '') + promoContext,\n    promo_id: promo?.id || null,\n    text: text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        82576,
        30576
      ],
      "id": "9150281b-ed54-4246-84c2-1e4fcef98954",
      "name": "agregar Promo al Contexto1"
    },
    {
      "parameters": {
        "jsCode": "// Combinar contexto de promociones con contexto de citas\nconst promoContext = $input.item.json;\n\n// Intentar obtener contexto de disponibilidad (puede no existir si no se detectó intención de cita)\nlet availabilityContext = '';\ntry {\n  const availabilityData = $('Formatear Disponibilidad').item.json;\n  if (availabilityData && availabilityData.has_slots) {\n    availabilityContext = `\\n\\n[CONTEXTO DE CITAS]\\n${availabilityData.availability_context}\\n\\nINSTRUCCIONES:\\n- El cliente quiere agendar una cita.\\n- Ofrece los horarios disponibles de forma natural.\\n- Cuando el cliente confirme un horario, confirma la cita.\\n- Sé amigable y profesional.\\n`;\n  } else if (availabilityData && !availabilityData.has_slots) {\n    availabilityContext = `\\n\\n[CONTEXTO DE CITAS]\\n${availabilityData.availability_context}\\n\\n- Informa al cliente que no hay horarios disponibles para hoy.\\n- Sugiere que pregunte por otros días.\\n`;\n  }\n} catch (e) {\n  // Si no hay contexto de disponibilidad, continuar sin él\n  availabilityContext = '';\n}\n\n// Combinar ambos contextos\nconst finalRagContext = (promoContext.rag_context || '') + availabilityContext;\n\nreturn [{\n  json: {\n    ...promoContext,\n    rag_context: finalRagContext\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        82800,
        30640
      ],
      "id": "05555a20-f74e-4c47-8789-c1c371a695c1",
      "name": "Agregar Contexto de Citas1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f1cbc6b-5c7f-4624-ad44-1bfda5e00094",
              "leftValue": "={{ $json.promo }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        82352,
        30800
      ],
      "id": "a2c1dec7-e4b7-445b-9439-a65c74b04599",
      "name": "IF: ¿Hay Promoción?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/detect-appointment-intent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_id\": {{ $node[\"buscar contacto1\"].json.id }},\n  \"user_id\": \"{{ $node[\"Detectar Simulación\"].json.simulationUserId || $('Get a row1').item.json.id }}\",\n  \"message_content\": \"{{ $('set text1').item.json.text }}\",\n  \"message_id\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        81456,
        31008
      ],
      "id": "f498fe8b-6937-4d64-8866-36fd94979a94",
      "name": "Detectar Intención de Cita",
      "credentials": {
        "httpBearerAuth": {
          "id": "gIoa82xaIrz0lSEj",
          "name": "supabase Elina"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "appointment-intent-check",
              "leftValue": "={{ $json.has_intent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        81648,
        31008
      ],
      "id": "7540cb1a-93f1-483e-b96c-8b77bd4eb91b",
      "name": "IF: ¿Tiene Intención de Cita?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/get-available-slots",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Get a row1').item.json.id }}\",\n  \"date\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n  \"duration_minutes\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        81840,
        30848
      ],
      "id": "647769c5-c9a5-4d93-a6bf-5785e29eb294",
      "name": "Obtener Slots Disponibles",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "gIoa82xaIrz0lSEj",
          "name": "supabase Elina"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatear disponibilidad para el contexto de la IA\nconst slots = $input.item.json.available_slots || [];\nconst date = $input.item.json.date || '';\nconst timezone = $input.item.json.timezone || 'America/Mexico_City';\n\nif (slots.length === 0) {\n  return [{\n    json: {\n      availability_context: 'No hay horarios disponibles para hoy. Puedes sugerir que el cliente pregunte por otros días.',\n      has_slots: false,\n      slots: [],\n      date: date\n    }\n  }];\n}\n\n// Formatear slots para el contexto\nconst slotsText = slots.map((slot, index) => {\n  return `${index + 1}. ${slot.start} - ${slot.end}`;\n}).join('\\n');\n\nconst context = `El cliente quiere agendar una cita. Horarios disponibles para ${date}:\\n${slotsText}\\n\\nOfrece estos horarios al cliente de forma natural y pregunta cuál prefiere.`;\n\nreturn [{\n  json: {\n    availability_context: context,\n    has_slots: true,\n    slots: slots,\n    date: date\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        82000,
        30944
      ],
      "id": "20399199-c429-4cee-abe9-4380be5df83d",
      "name": "Formatear Disponibilidad"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "smart_promotions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('evolution_instance_name1').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        82032,
        31232
      ],
      "id": "da8dfe30-cb32-4aee-9d89-08cee0966f9e",
      "name": "Buscar Promociones Activas1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contacts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $('Preparar Labels con Ignorar1').item.json.phone_number }}"
            },
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "labels",
              "fieldValue": "={{ $('Preparar Labels con Ignorar1').item.json.labels }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        82128,
        30400
      ],
      "id": "16385729-65fe-4346-8467-8bbea834856b",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener las labels actuales del contacto\nconst currentLabels = $('Merge5').item.json.labels || [];\n\n// Convertir a array si es string o null\nlet labelsArray = [];\nif (Array.isArray(currentLabels)) {\n  labelsArray = [...currentLabels];\n} else if (typeof currentLabels === 'string') {\n  try {\n    labelsArray = JSON.parse(currentLabels);\n  } catch (e) {\n    labelsArray = currentLabels.split(',').map(l => l.trim()).filter(Boolean);\n  }\n}\n\n// Verificar si \"ignorar\" ya existe (case-insensitive)\nconst hasIgnore = labelsArray.some(label => \n  label && label.toString().toLowerCase().trim() === 'ignorar'\n);\n\n// Agregar \"ignorar\" solo si no existe\nif (!hasIgnore) {\n  labelsArray.push('ignorar');\n}\n\n// Retornar el array preparado\nreturn [{\n  json: {\n    ...$('Merge5').item.json,\n    labels: labelsArray,\n    phone_number: $('Merge5').item.json.phone_number\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        81904,
        30400
      ],
      "id": "3062f1c8-38fe-4270-9673-db7b3d70d14e",
      "name": "Preparar Labels con Ignorar1"
    },
    {
      "parameters": {
        "jsCode": "// Obtener todos los items (en n8n, cada promo del array se convierte en un item separado)\nconst allItems = $input.all();\n\nconsole.log('=== DEBUG ===');\nconsole.log('Total items recibidos:', allItems.length);\n\nif (!allItems || allItems.length === 0) {\n  console.log('❌ No hay items');\n  return [{ json: { promo: null } }];\n}\n\n// En n8n, cada item del array de Supabase se convierte en un item separado\n// Entonces cada item.json es una promo individual\nconst promos = allItems.map(item => item.json);\n\nconsole.log('Total promos:', promos.length);\nif (promos.length > 0) {\n  console.log('Primera promo:', JSON.stringify(promos[0], null, 2));\n}\n\n// Función helper para normalizar valores booleanos\nconst toBoolean = (value) => {\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'string') {\n    const lower = value.toLowerCase().trim();\n    return lower === 'true' || lower === '1' || lower === 'yes';\n  }\n  if (value === null || value === undefined) return false;\n  return Boolean(value);\n};\n\nconst now = new Date();\nconsole.log('Fecha actual:', now.toISOString());\n\n// Evaluar cada promo\nconst selected = promos.find((promo, index) => {\n  console.log(`\\n--- Promo ${index + 1}: ${promo.title || promo.id} ---`);\n  \n  const isActive = toBoolean(promo.is_active);\n  const noSchedule = toBoolean(promo.no_schedule);\n  \n  console.log('  is_active:', promo.is_active, `(${typeof promo.is_active}) →`, isActive);\n  console.log('  no_schedule:', promo.no_schedule, `(${typeof promo.no_schedule}) →`, noSchedule);\n  console.log('  start_at:', promo.start_at);\n  console.log('  end_at:', promo.end_at);\n  \n  if (!isActive) {\n    console.log('  ❌ No está activa');\n    return false;\n  }\n  \n  if (!noSchedule) {\n    if (promo.start_at && new Date(promo.start_at) > now) {\n      console.log('  ❌ Aún no ha comenzado');\n      return false;\n    }\n    if (promo.end_at && new Date(promo.end_at) < now) {\n      console.log('  ❌ Ya expiró');\n      return false;\n    }\n  } else {\n    console.log('  ✅ Sin horario (siempre activa)');\n  }\n  \n  console.log('  ✅ PROMO VÁLIDA');\n  return true;\n});\n\nconsole.log('\\n=== RESULTADO ===');\nif (selected) {\n  console.log('✅ Promo seleccionada:', selected.title || selected.id);\n} else {\n  console.log('❌ No se seleccionó ninguna promo');\n}\n\nreturn [{ json: { promo: selected || null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        82240,
        31232
      ],
      "id": "18c8a2db-d65b-4bc4-bfb1-e215abebeb44",
      "name": "Filtrar Promoción Válida1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32449b98-5016-45a4-bf3d-ef5a5a3f72b9",
              "name": "phone",
              "value": "={{ $('buscar contacto1').item.json.phone_number }}",
              "type": "string"
            },
            {
              "id": "e0e31afc-a082-4e18-8d44-c78a2541257f",
              "name": "text",
              "value": "={{ $('set text1').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        82640,
        30912
      ],
      "id": "476dea69-30b9-4e6a-87ed-0dd553a895d4",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        82944,
        31200
      ],
      "id": "85b1827a-3412-4712-b2a6-584399f4749d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elina-simulacion",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        76368,
        31008
      ],
      "id": "8dc833fc-7b5f-40b9-8a3a-8d1151e0268f",
      "name": "Webhook1",
      "webhookId": "elina-simulacion-completo"
    },
    {
      "parameters": {
        "jsCode": "// Detectar si es simulación y extraer datos\nconst webhookData = $input.item.json;\nconst body = webhookData.body || webhookData;\nconst isSimulation = body.isSimulation === true;\nconst promptVersion = body.promptVersion || null;\nconst userId = body.simulationUserId || (body.data?.key?.remoteJid ? body.data.key.remoteJid.replace('@s.whatsapp.net', '').replace('+', '').replace('SIM', '') : null);\nconst messageText = body.data?.message?.conversation || body.data?.message?.extendedTextMessage?.text || '';\n\nlet virtualContact = null;\nif (isSimulation && userId) {\n  const remoteJid = body.data?.key?.remoteJid || '';\n  \n  // Generar ID único negativo basado en los primeros 8 chars del userId\n  // Usamos Math.abs para asegurar positividad antes de negar\n  const userIdHash = userId.split('-').join('').substring(0, 8);\n  const virtualContactId = -Math.abs(parseInt(userIdHash, 36));\n  \n  virtualContact = {\n    id: virtualContactId,\n    user_id: userId,\n    phone_number: remoteJid.replace('@s.whatsapp.net', ''),\n    full_name: body.data?.pushName || 'Usuario de Simulación',\n    labels: ['simulación'],\n    is_virtual: true,\n    created_at: new Date().toISOString()\n  };\n}\n\nreturn [{\n  json: {\n    ...webhookData,\n    isSimulation,\n    simulationUserId: userId,\n    promptVersion,\n    messageText,\n    virtualContact\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        76624,
        31024
      ],
      "id": "219e0e7f-4047-4d71-bfe4-35f4bf4ed691",
      "name": "Detectar Simulación"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80416,
        31376
      ],
      "id": "74da671e-c82f-4f7e-96ff-23c8041aa651",
      "name": "Merge"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  response: $('Definir destinatario1').item.json['mensaje texto '] || $('AI Agent').item.json.output || '',\n  simulation: true,\n  message_type: 'text',\n  context_used: {\n    rag_messages: $('3. RAG - Formatear Contexto1')?.item?.json?.rag_context || 'N/A',\n    has_rag: !!($('3. RAG - Formatear Contexto1')?.item?.json?.rag_context),\n    has_promotions: !!($('Buscar Promociones Activas')?.item?.json?.promotions?.length),\n    critical_detected: $('Detectar Intención Crítica')?.item?.json?.is_critical || false\n  },\n  timestamp: new Date().toISOString()\n}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        77984,
        31568
      ],
      "id": "64b4f21f-6086-414c-aef2-4fb0deee1676",
      "name": "Responder JSON - Texto1"
    }
  ],
  "connections": {
    "Extraer IDs de Placeholders": {
      "main": [
        [
          {
            "node": "IF: ¿Hay Placeholders?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Hay Placeholders?": {
      "main": [
        [
          {
            "node": "Obtener Productos por IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reemplazar Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Productos por IDs": {
      "main": [
        [
          {
            "node": "Filtrar Productos por IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Productos por IDs": {
      "main": [
        [
          {
            "node": "Validar Precisión de Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Precisión de Resultados": {
      "main": [
        [
          {
            "node": "Reemplazar Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reemplazar Placeholders": {
      "main": [
        [
          {
            "node": "Detectar si es Cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar si es Cotización": {
      "main": [
        [
          {
            "node": "IF: ¿Generar Cotización?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Generar Cotización?": {
      "main": [
        [
          {
            "node": "Crear Cotización",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Separar imagen o video del texto o audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Cotización": {
      "main": [
        [
          {
            "node": "Preparar después de Cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Contenido Imagen2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Contenido audio1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set text1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Obtener Perfil de Usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Contenido audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describir Imagen1": {
      "main": [
        [
          {
            "node": "Get a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extraer IDs de Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir destinatario1": {
      "main": [
        [
          {
            "node": "human1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "set text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch tipo de mensaje1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder JSON - Imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder JSON - Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder JSON - Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir a supa1": {
      "main": [
        [
          {
            "node": "Responder JSON - Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Subir a supa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DivideporType1": {
      "main": [
        [
          {
            "node": "Get audio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get imagen1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Separar imagen o video del texto o audio1": {
      "main": [
        [
          {
            "node": "Definir destinatario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "human1": {
      "main": [
        [
          {
            "node": "1b. Obtener Embedding Humano1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI1": {
      "main": [
        [
          {
            "node": "2b. Obtener Embedding IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get audio1": {
      "main": [
        [
          {
            "node": "Convert Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Audio1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get imagen1": {
      "main": [
        [
          {
            "node": "Convertimagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertimagen1": {
      "main": [
        [
          {
            "node": "Describir Imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. RAG - Obtener Embedding1": {
      "main": [
        [
          {
            "node": "2. RAG - Buscar en Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. RAG - Buscar en Supabase1": {
      "main": [
        [
          {
            "node": "3. RAG - Formatear Contexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. RAG - Formatear Contexto1": {
      "main": [
        [
          {
            "node": "Detectar Intención Crítica1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ver_productos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "1b. Obtener Embedding Humano1": {
      "main": [
        [
          {
            "node": "1c. Actualizar Embedding Humano1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1c. Actualizar Embedding Humano1": {
      "main": [
        [
          {
            "node": "AI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2b. Obtener Embedding IA1": {
      "main": [
        [
          {
            "node": "2c. Actualizar Embedding IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2c. Actualizar Embedding IA1": {
      "main": [
        [
          {
            "node": "Switch tipo de mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Perfil de Usuario1": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Prompt y Configuración1": {
      "main": [
        [
          {
            "node": "1. RAG - Obtener Embedding1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evolution_instance_name1": {
      "main": [
        [
          {
            "node": "buscar contacto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar contacto1": {
      "main": [
        [
          {
            "node": "DivideporType1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar para Subir a Bunny1": {
      "main": [
        [
          {
            "node": "Subir a Bunny1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir a Bunny1": {
      "main": [
        [
          {
            "node": "Contenido Imagen3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row3": {
      "main": [
        [
          {
            "node": "Preparar para Subir a Bunny1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contenido Imagen3": {
      "main": [
        [
          {
            "node": "Contenido Imagen2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Preparar Texto para Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "que escribir como audio1": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Texto para Audio1": {
      "main": [
        [
          {
            "node": "que escribir como audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Intención Crítica1": {
      "main": [
        [
          {
            "node": "IF: ¿Es Crítico?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Es Crítico?1": {
      "main": [
        [
          {
            "node": "Obtener Número Notificación1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detectar Intención de Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Número Notificación1": {
      "main": [
        [
          {
            "node": "Preparar Mensaje Notificación Crítica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje Notificación Crítica": {
      "main": [
        [
          {
            "node": "Enviar Notificación WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Notificación WhatsApp1": {
      "main": [
        [
          {
            "node": "Preparar Labels con Ignorar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agregar Promo al Contexto1": {
      "main": [
        [
          {
            "node": "Agregar Contexto de Citas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Contexto de Citas1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Hay Promoción?1": {
      "main": [
        [
          {
            "node": "agregar Promo al Contexto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Intención de Cita": {
      "main": [
        [
          {
            "node": "IF: ¿Tiene Intención de Cita?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Tiene Intención de Cita?": {
      "main": [
        [
          {
            "node": "Obtener Slots Disponibles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Promociones Activas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Slots Disponibles": {
      "main": [
        [
          {
            "node": "Formatear Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Disponibilidad": {
      "main": [
        [
          {
            "node": "Buscar Promociones Activas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Promociones Activas1": {
      "main": [
        [
          {
            "node": "Filtrar Promoción Válida1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Labels con Ignorar1": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Promoción Válida1": {
      "main": [
        [
          {
            "node": "IF: ¿Hay Promoción?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Agregar Contexto de Citas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Detectar Simulación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Simulación": {
      "main": [
        [
          {
            "node": "evolution_instance_name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Obtener Prompt y Configuración1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook1": [
      {
        "headers": {
          "host": "n8n-n8n.mcjhhb.easypanel.host",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
          "content-length": "522",
          "accept": "*/*",
          "accept-encoding": "gzip, deflate, br, zstd",
          "accept-language": "es-ES,es;q=0.9",
          "cache-control": "no-cache",
          "content-type": "application/json",
          "origin": "http://localhost:5173",
          "pragma": "no-cache",
          "priority": "u=1, i",
          "referer": "http://localhost:5173/",
          "sec-ch-ua": "\"Brave\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "sec-gpc": "1",
          "x-forwarded-for": "189.172.203.90",
          "x-forwarded-host": "n8n-n8n.mcjhhb.easypanel.host",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "35f5005c00d4",
          "x-real-ip": "189.172.203.90"
        },
        "params": {},
        "query": {},
        "body": {
          "event": "messages.upsert",
          "instance": "Nabte",
          "apikey": "F6235095-E971-4C21-B6FA-0A8BF54B0E7A",
          "isSimulation": true,
          "simulationUserId": "f2ef49c6-4646-42f8-8130-aa5cd0d3c84f",
          "promptVersion": null,
          "data": {
            "key": {
              "remoteJid": "521SIMf2ef49c6@s.whatsapp.net",
              "remoteJidAlt": "521SIMf2ef49c6@s.whatsapp.net",
              "fromMe": false,
              "id": "SIM_1767086964753",
              "participant": "",
              "addressingMode": "standard"
            },
            "pushName": "Usuario de Simulación",
            "status": "DELIVERY_ACK",
            "message": {
              "conversation": "que tal"
            },
            "date_time": "2025-12-30T09:29:24.753Z"
          }
        },
        "webhookUrl": "https://n8n-n8n.mcjhhb.easypanel.host/webhook/elina-simulacion",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32906a5f2bdc653e88c8f6fde14f7365d097573b5e9053a6781ad64c78a4c371"
  }
}