n8n/Elina V4 Simulacion ACTUALIZADO.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// --- NODO: Extraer IDs de Placeholders ---\n// Extrae los IDs únicos de productos de los placeholders en la respuesta de la IA\n\nconst textoOriginal = ($input.first().json.output || \"\").trim();\n\n// Extraer todos los placeholders del formato [PRODUCT_CAMPO:ID]\nconst placeholderRegex = /\\[PRODUCT_\\w+:(\\d+)\\]/g;\nconst matches = [...textoOriginal.matchAll(placeholderRegex)];\n\n// Obtener IDs únicos\nconst productIds = [...new Set(matches.map(m => parseInt(m[1], 10)))].filter(id => !isNaN(id));\n\n// Si no hay placeholders, pasar directamente al siguiente nodo\nif (productIds.length === 0) {\n  return [{\n    json: {\n      output: textoOriginal,\n      product_ids: [],\n      has_placeholders: false\n    }\n  }];\n}\n\n// Retornar texto original y lista de IDs\nreturn [{\n  json: {\n    output: textoOriginal,\n    product_ids: productIds,\n    has_placeholders: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7760,
        8688
      ],
      "id": "81baebf1-496d-46f2-840b-b44d3ef32f18",
      "name": "Extraer IDs de Placeholders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "placeholder-check",
              "leftValue": "={{ $json.has_placeholders }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7968,
        8624
      ],
      "id": "20ee44fd-0dec-4865-94df-9ef65cec6d6a",
      "name": "IF: ¿Hay Placeholders?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/rest/v1/rpc/get_products_by_ids",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_user_id\": \"{{ $('Obtener Prompt y Configuración1').item.json.user_id }}\",\n  \"p_product_ids\": {{ JSON.stringify($('Extraer IDs de Placeholders').item.json.product_ids) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8144,
        8448
      ],
      "id": "9b00fe6e-9dff-4228-9e3c-a90d99a6aacc",
      "name": "Obtener Productos por IDs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// --- NODO: Filtrar Productos por IDs ---\n// Este nodo ya no es necesario ya que la función RPC retorna solo los productos solicitados\n// Pero lo mantenemos por compatibilidad y para asegurar que los IDs coincidan\n\nconst productos = $('Obtener Productos por IDs').all() || [];\nconst productIds = $('Extraer IDs de Placeholders').item.json.product_ids || [];\n\n// Si no hay IDs o no hay productos, retornar vacío\nif (productIds.length === 0 || productos.length === 0) {\n  return [];\n}\n\n// Filtrar productos que coincidan con los IDs (doble verificación)\nconst productosFiltrados = productos.filter(item => {\n  const p = item.json;\n  return p && p.id && productIds.includes(parseInt(p.id, 10));\n});\n\n// Retornar productos filtrados\nreturn productosFiltrados.length > 0 ? productosFiltrados : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8560,
        8368
      ],
      "id": "99721f8d-d3f1-4736-b862-01d52b3526a2",
      "name": "Filtrar Productos por IDs"
    },
    {
      "parameters": {
        "jsCode": "// Ejecutar UNA vez para todos los productos que llegan como items de entrada.\nconst productos = $input.all().map(i => i.json);\n\n// Leer el texto y flags desde Extraer IDs (1 item)\nconst base = $items(\"Extraer IDs de Placeholders\")[0]?.json ?? {};\nconst textoOriginal = base.output || \"\";\nconst hasPlaceholders = !!base.has_placeholders;\n\n// Si no hay placeholders, devolver el texto original\nif (!hasPlaceholders) {\n  return [{ json: { output: textoOriginal } }];\n}\n\n// Si no hay productos, devolver texto original\nif (!Array.isArray(productos) || productos.length === 0) {\n  return [{ json: { output: textoOriginal } }];\n}\n\n// Crear mapa de productos por ID\nconst productMap = {};\nfor (const p of productos) {\n  if (!p || p.id == null) continue;\n\n  const idKey = String(p.id);\n  const priceNum = p.price != null ? Number(p.price) : NaN;\n\n  productMap[idKey] = {\n    name: p.product_name || \"Producto\",\n    price: Number.isFinite(priceNum) && priceNum > 0 ? \"$\" + priceNum.toFixed(2) : \"Consultar precio\",\n    url: p.media_url || \"\",\n    stock: p.stock !== null && p.stock !== undefined ? String(p.stock) : \"N/A\",\n    desc: p.description || \"\"\n  };\n}\n\n// Reemplazar placeholders\nconst placeholderRegex = /\\[PRODUCT_(\\w+):(\\d+)\\]/g;\nconst matches = [...textoOriginal.matchAll(placeholderRegex)];\n\nlet textoFinal = textoOriginal;\n\nfor (const match of matches) {\n  const [fullMatch, field, idStr] = match;\n  const product = productMap[String(parseInt(idStr, 10))];\n  if (!product) continue;\n\n  let replacement = fullMatch;\n  switch (field.toUpperCase()) {\n    case \"NAME\": replacement = product.name; break;\n    case \"PRICE\": replacement = product.price; break;\n    case \"URL\": replacement = product.url; break;\n    case \"STOCK\": replacement = product.stock; break;\n    case \"DESC\": replacement = product.desc; break;\n  }\n\n  textoFinal = textoFinal.replace(fullMatch, replacement);\n}\n\n// Reemplazar $[TOTAL_CALCULATED] o $[TOTAL_CALCULADO]\nconst totalPlaceholderRegex = /\\$\\[TOTAL_CALCULATED\\]|\\$\\[TOTAL_CALCULADO\\]/gi;\nif (totalPlaceholderRegex.test(textoFinal)) {\n  let totalSinIVA = 0;\n\n  const subtotalRegex = /Subtotal:\\s*\\$([\\d,]+(?:\\.\\d{2})?)/g;\n  for (const m of textoFinal.matchAll(subtotalRegex)) {\n    const subtotal = Number(String(m[1]).replace(/,/g, \"\"));\n    if (Number.isFinite(subtotal)) totalSinIVA += subtotal;\n  }\n\n  if (totalSinIVA === 0) {\n    const productLines = textoFinal.match(/\\$([\\d,]+(?:\\.\\d{2})?)\\s*c\\/u[\\s\\S]*?(\\d+)\\s*piezas?/gi);\n    if (productLines) {\n      for (const line of productLines) {\n        const priceMatch = line.match(/\\$([\\d,]+(?:\\.\\d{2})?)/);\n        const qtyMatch = line.match(/(\\d+)\\s*piezas?/i);\n        if (!priceMatch || !qtyMatch) continue;\n\n        const price = Number(priceMatch[1].replace(/,/g, \"\"));\n        const qty = Number(qtyMatch[1]);\n        if (Number.isFinite(price) && Number.isFinite(qty)) totalSinIVA += price * qty;\n      }\n    }\n  }\n\n  const totalFormateado = totalSinIVA > 0\n    ? totalSinIVA.toLocaleString(\"es-MX\", { minimumFractionDigits: 2, maximumFractionDigits: 2 })\n    : \"0.00\";\n\n  textoFinal = textoFinal.replace(totalPlaceholderRegex, \"$\" + totalFormateado);\n}\n\nreturn [{ json: { output: textoFinal } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8320,
        8624
      ],
      "id": "418f2830-c398-4060-8c14-716ade2bd4c0",
      "name": "Reemplazar Placeholders",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Ejecutar UNA vez\nconst rep = $items(\"Reemplazar Placeholders\")[0]?.json ?? {};\nconst ext = $items(\"Extraer IDs de Placeholders\")[0]?.json ?? {};\n\n// Texto y productos detectados\nconst texto = rep.output || \"\";\nconst productIds = Array.isArray(ext.product_ids) ? ext.product_ids : [];\nconst productCount = productIds.length;\n\n// Keywords\nconst cierreVentaKeywords =\n  /(?:quiero|deseo|necesito|me interesa|vamos|procedo|acepto|confirmo|comprar|adquirir|tomar|llevar|sí|ok|perfecto|de acuerdo|hagámoslo|avancemos|cerrar|finalizar|hacer pedido|realizar pedido|confirmar pedido|proceder con|avanzar con)[\\s\\S]{0,80}(?:comprar|adquirir|tomar|llevar|pedido|orden|venta|transacción|compra|pago)/i;\n\nconst cotizacionExplicita =\n  /(?:cotizaci[oó]n|presupuesto|quote|propuesta|oferta)[\\s\\S]{0,40}(?:formal|pdf|documento|escrita|detallada|por escrito|en pdf|en documento)/i;\n\nconst esCierreVenta = cierreVentaKeywords.test(texto);\nconst hasCotizacionExplicita = cotizacionExplicita.test(texto);\n\n// Reglas estrictas\nlet shouldGenerateQuote = false;\n\nif (productCount === 0) shouldGenerateQuote = false;\nelse if (productCount === 1) shouldGenerateQuote = false;\nelse if (productCount === 2) shouldGenerateQuote = esCierreVenta && hasCotizacionExplicita;\nelse shouldGenerateQuote = esCierreVenta || hasCotizacionExplicita;\n\n// Obtener productos: preferir INPUT si este nodo viene después del RPC y recibe items producto\nlet productosItems = $input.all();\n\n// Si el input no trae productos (solo 1 item), intenta leer del nodo RPC sin pairing\nif (!productosItems || productosItems.length === 0 || (productosItems.length === 1 && !productosItems[0]?.json?.id)) {\n  try {\n    productosItems = $items(\"Obtener Productos por IDs\");\n  } catch (e) {\n    productosItems = [];\n  }\n}\n\nconst productos = productosItems.map(i => i.json).filter(p => p && p.id != null);\n\n// Filtrar por IDs detectados (si hay IDs)\nconst idSet = new Set(productIds.map(x => String(x)));\nconst productosFiltrados = idSet.size > 0\n  ? productos.filter(p => idSet.has(String(p.id)))\n  : productos;\n\n// Extraer cantidades\nconst quantityPatterns = [\n  /(?:cantidad|qty|qty\\.|cant\\.|unidades?|uds?|pcs?|piezas?)[: ]*\\s*(\\d+)/gi,\n  /(\\d+)\\s*(?:unidades?|uds?|pcs?|piezas?|cantidad)/gi,\n  /x\\s*(\\d+)/gi,\n  /\\*\\s*(\\d+)/gi,\n];\n\nconst extractQuantity = (productId, productName) => {\n  for (const pattern of quantityPatterns) {\n    const matches = [...texto.matchAll(pattern)];\n    if (matches.length > 0) {\n      const productNameLower = (productName || \"\").toLowerCase();\n      for (const match of matches) {\n        const idx = match.index ?? 0;\n        const context = texto\n          .substring(Math.max(0, idx - 50), Math.min(texto.length, idx + 50))\n          .toLowerCase();\n\n        if (\n          (productNameLower && context.includes(productNameLower)) ||\n          context.includes(`id:${productId}`) ||\n          context.includes(`[${productId}]`)\n        ) {\n          return parseInt(match[1], 10) || 1;\n        }\n      }\n      return parseInt(matches[0][1], 10) || 1;\n    }\n  }\n  return 1;\n};\n\n// Construir quote items\nconst quoteItems = productosFiltrados.map(p => {\n  const price = p.price != null ? Number(p.price) : 0;\n  const quantity = extractQuantity(p.id, p.product_name || \"\");\n\n  return {\n    product_id: parseInt(p.id, 10),\n    product_name: p.product_name || \"Producto\",\n    quantity,\n    price: Number.isFinite(price) ? price : 0,\n    subtotal: (Number.isFinite(price) ? price : 0) * quantity,\n    image_url: p.media_url || undefined,\n    description: p.description || undefined,\n  };\n});\n\nreturn [{\n  json: {\n    output: texto,\n    should_generate_quote: shouldGenerateQuote,\n    quote_items: quoteItems,\n    product_count: productCount,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8560,
        8592
      ],
      "id": "ccc690fd-695b-4085-bc2c-db91d258ef0e",
      "name": "Detectar si es Cotización",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "quote-check",
              "leftValue": "={{ $json.should_generate_quote }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8624,
        8848
      ],
      "id": "37593e6e-2685-4788-bad7-157c5011a042",
      "name": "IF: ¿Generar Cotización?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/create-quote",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=={\n  \"user_id\": \"{{$items('Obtener Prompt y Configuración1')[0]?.json?.user_id ?? ''}}\",\n  \"contact_id\": {{$items('buscar contacto1')[0]?.json?.id ?? null}},\n  \"items\": {{JSON.stringify($items('Detectar si es Cotización')[0]?.json?.quote_items ?? [])}},\n  \"valid_until\": null,\n  \"notes\": \"Cotización generada automáticamente desde WhatsApp\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8784,
        8704
      ],
      "id": "baacd86c-14bb-4049-b26d-006ac8dcf8cd",
      "name": "Crear Cotización",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// --- NODO: Preparar datos después de crear cotización ---\n// Este nodo asegura que el texto original pase al siguiente nodo\n\nconst quoteResponse = $input.first().json;\nconst textoOriginal = $items(\"Detectar si es Cotización\")[0]?.json?.output ?? \"\";\n\n// Preparar mensaje de confirmación\nconst mensajeConfirmacion = `📄 Cotización ${quoteResponse.quote?.quote_id || 'generada'} creada exitosamente. Total: $${(quoteResponse.quote?.total || 0).toFixed(2)}`;\n\n// Retornar el texto original para que continúe el flujo normal\n// O un mensaje de confirmación si se prefiere\nreturn [{\n  json: {\n    output: mensajeConfirmacion + \"\\n\\n\" + textoOriginal,\n    quote_id: quoteResponse.quote?.quote_id,\n    quote_url: quoteResponse.quote?.pdf_url\n  },\n  pairedItem: $input.first().pairedItem\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8976,
        8704
      ],
      "id": "8cfb04b9-ac08-41f8-aa4d-0a1f00823254",
      "name": "Preparar después de Cotización"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, response: ($json.messageText || $json.output || $json['mensaje texto '] || $json.caption || $json.content || ''), type: 'document', pdf_url: ($json.media || $json.pdf_url || undefined), quote_id: ($json.quote_id || undefined), simulation: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        9200,
        8784
      ],
      "id": "ec5f0542-c81b-4748-91cd-f87d8d0c00ce",
      "name": "Enviar PDF Cotización"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        7152,
        8960
      ],
      "id": "8c7278f5-b7b2-4b03-b9e6-4dde1ab71438",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "F3ZY8evKfJMeWVz6",
          "name": "OpenAI ELINA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9c589ea-1aa6-417c-b21d-20fd36a38cc7",
              "name": "descripcion de la imagen",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "34f8ca24-4a00-425b-ab28-ddc9c250b1f7",
              "name": "timestamp",
              "value": "={{ $('DivideporType1').item.json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "a236d7ad-77ef-4745-90fa-dcdcd43a0f4b",
              "name": "content",
              "value": "={{ $('Set Fields1').item.json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2592,
        8848
      ],
      "id": "cbd0cc0d-7159-4154-8946-25c27e9089c0",
      "name": "Contenido Imagen2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9c589ea-1aa6-417c-b21d-20fd36a38cc7",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "cd23e33f-96db-41fc-a3ba-5f5a6debfcf8",
              "name": "timestamp",
              "value": "={{ $('DivideporType1').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2256,
        8656
      ],
      "id": "5065e4bc-723f-4836-9233-54f08accbace",
      "name": "Contenido audio1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd6cc573-081d-4c5d-a027-4d0d2c6f9973",
              "name": "text",
              "value": "={{ $json.messages.join(\"\\n\") }}",
              "type": "string"
            },
            {
              "id": "73b036d6-6613-43f7-ab52-43ad95416cea",
              "name": "descripcion de la imagen",
              "value": "={{ $items(\"Merge3\")[0]?.json?.[\"descripcion de la imagen\"] ?? \"\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3728,
        8576
      ],
      "id": "a79d42d4-4886-48a4-a8f9-d6ea4c4dce8d",
      "name": "set text1",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const mensajeOriginal = $input.item.json.texto_original || \"\";\nconst mensaje = mensajeOriginal.toLowerCase().trim();\n\nconst descripcionImagen = $input.item.json['descripcion de la imagen'] || \"\";\n\nfunction getMexicoDate(offsetDays = 0) {\n  const now = new Date();\n  const utc = now.getTime() + now.getTimezoneOffset() * 60000;\n  const offset = -6 * 60 * 60 * 1000; // UTC‑6\n  return new Date(utc + offset + offsetDays * 24 * 60 * 60 * 1000);\n}\n\nconst ahora = getMexicoDate();\n\nfunction parseFecha(texto) {\n  const dias = [\"domingo\",\"lunes\",\"martes\",\"miércoles\",\"jueves\",\"viernes\",\"sábado\"];\n  for (let i = 0; i < dias.length; i++) {\n    if (texto.includes(dias[i])) {\n      let fecha = getMexicoDate((i - getMexicoDate().getDay() + 7) % 7 || 7);\n      if (mensaje.includes(\"próximo\")) fecha = new Date(fecha.getTime() + 7 * 864e5);\n      if (fecha < ahora) fecha = new Date(fecha.getTime() + 7 * 864e5);\n      return fecha;\n    }\n  }\n  const match = texto.match(/\\b(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{2,4})\\b/);\n  if (match) {\n    const [ , d, m, a ] = match;\n    const año = a.length === 2 ? `20${a}` : a;\n    return new Date(`${año}-${m.padStart(2,\"0\")}-${d.padStart(2,\"0\")}T00:00:00-06:00`);\n  }\n  return null;\n}\n\nfunction parseHora(text) {\n  const match = text.match(/\\b(\\d{1,2})(?::(\\d{2}))?\\s*(am|pm)?\\b/);\n  if (!match) return null;\n  let [, h, min, suf] = match;\n  h = parseInt(h);\n  min = parseInt(min || \"0\");\n  if (suf === \"pm\" && h < 12) h += 12;\n  if (suf === \"am\" && h === 12) h = 0;\n  return { horas: h, minutos: min };\n}\n\nconst fecha = parseFecha(mensaje);\nconst horaObj = parseHora(mensaje);\nif (fecha && horaObj) fecha.setHours(horaObj.horas, horaObj.minutos, 0, 0);\n\nconst salida = {\n  sessionId: $input.first().json.sessionId || \"\",\n  texto_original: mensajeOriginal,\n  descripcion_de_la_imagen: descripcionImagen,\n  fecha_actual: ahora.toISOString().split(\"T\")[0],\n  hora_actual: `${ahora.getHours().toString().padStart(2,\"0\")}:${ahora.getMinutes().toString().padStart(2,\"0\")}`,\n  fecha_hora_actual: ahora.toISOString()\n};\n\nif (fecha) {\n  salida.fecha = fecha.toISOString().split(\"T\")[0];\n  salida.cita_iso = fecha.toISOString();\n}\nif (horaObj) {\n  salida.hora = `${horaObj.horas.toString().padStart(2,\"0\")}:${horaObj.minutos.toString().padStart(2,\"0\")}`;\n}\n\nreturn [{ json: salida }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        8848
      ],
      "id": "3c474aa2-79e5-4063-9204-8f54db5ce83d",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1952,
        8608
      ],
      "id": "099c0500-8533-4edf-9f10-dc609d66fb5a",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "pcCTk7D599QTei19",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Explica lo que ves en la imagen, si hay texto transcríbelo, debe ser descriptivo y breve para interpretar",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1792,
        8832
      ],
      "id": "aab4320f-1849-4a8a-afa0-74e3ca3bec4d",
      "name": "Describir Imagen1",
      "credentials": {
        "openAiApi": {
          "id": "pcCTk7D599QTei19",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3088,
        8848
      ],
      "id": "e57fbae2-1681-4d81-b154-0f672f16349d",
      "name": "Merge3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.rag_context || '' }}{{ $json.text || '' }}{{ $json['descripcion de la imagen'] ? '\\n[Descripción de imagen]: ' + $json['descripcion de la imagen'] : '' }}",
        "options": {
          "systemMessage": "=Eres ELINA IA, una asistente virtual de WhatsApp. Tu objetivo es automatizar la atención a clientes, generar ventas y agendar citas.\n\n**CONTEXTO DEL NEGOCIO (Personalizado):**\n{{ $('Set Fields1').item.json.message.draft_prompt || $('Obtener Prompt y Configuración1').item.json.prompt_content }}\n\n**INFORMACIÓN DE LA EMPRESA (SOLO DATOS DISPONIBLES):**\n{{ $('Obtener Perfil de Usuario1').item.json.website ? '- Sitio Web: ' + $('Obtener Perfil de Usuario1').item.json.website + '\\n' : '' }}{{ $('Obtener Perfil de Usuario1').item.json.social_media?.instagram ? '- Instagram: ' + $('Obtener Perfil de Usuario1').item.json.social_media.instagram + '\\n' : '' }}{{ $('Obtener Perfil de Usuario1').item.json.social_media?.facebook ? '- Facebook: ' + $('Obtener Perfil de Usuario1').item.json.social_media.facebook + '\\n' : '' }}{{ $('Obtener Perfil de Usuario1').item.json.company_description ? '- Descripción: ' + $('Obtener Perfil de Usuario1').item.json.company_description + '\\n' : '' }}{{ $('Obtener Perfil de Usuario1').item.json.work_start_hour && $('Obtener Perfil de Usuario1').item.json.work_end_hour ? '- Horario de atención: ' + $('Obtener Perfil de Usuario1').item.json.work_start_hour + 'hrs a ' + $('Obtener Perfil de Usuario1').item.json.work_end_hour + 'hrs\\n' : '' }}{{ $('Obtener Perfil de Usuario1').item.json.business_address ? '- Dirección: ' + $('Obtener Perfil de Usuario1').item.json.business_address + '\\n' : '' }}{{ $('Obtener Perfil de Usuario1').item.json.business_phone ? '- Teléfono: ' + $('Obtener Perfil de Usuario1').item.json.business_phone + '\\n' : '' }}{{ $('Obtener Perfil de Usuario1').item.json.pickup_location ? '- Ubicación de recogida: ' + $('Obtener Perfil de Usuario1').item.json.pickup_location + '\\n' : '' }}\n### 🚨 REGLA CRÍTICA: NO INVENTAR DATOS 🚨\n**NUNCA inventes direcciones, teléfonos, ubicaciones, información de envíos, tracking, métodos de pago, opciones de pago, términos de pago, o información financiera.**\n- Si NO tienes un dato disponible arriba, NO lo menciones ni lo inventes.\n- Si te preguntan por algo que no está en la lista de arriba, di honestamente: \"No tengo esa información disponible. Un humano te puede ayudar mejor con eso.\"\n- **INFORMACIÓN DE ENVÍOS:** {{ $('Obtener Perfil de Usuario1').item.json.has_shipping_system === false || !$('Obtener Perfil de Usuario1').item.json.has_shipping_system ? 'El negocio NO tiene sistema de tracking de envíos. Si te preguntan por envíos, tracking, estado de pedido, dónde está su pedido, o cuándo llegará, DEBES decir: \"No puedo proporcionar información de envíos en este momento. Un humano te ayudará con eso.\" NUNCA inventes información de tracking, números de guía, o estados de envío.' : 'El negocio tiene sistema de tracking. Puedes proporcionar información de envíos si está disponible.' }}\n- **INFORMACIÓN FINANCIERA Y PAGOS (CRÍTICO):** NUNCA menciones \"opciones de pago\", \"métodos de pago\", \"términos de pago\", \"facilidades de pago\", \"formas de pago\", \"planes de pago\", o cualquier información relacionada con pagos a menos que esté EXPLÍCITAMENTE disponible en los datos del negocio arriba. Si el usuario pregunta por métodos de pago, di: \"Un humano te puede ayudar mejor con las opciones de pago disponibles.\"\n- Si te preguntan por dirección y no está en la lista, NO inventes una dirección. Di que no tienes esa información.\n- Si te preguntan por teléfono y no está en la lista, NO inventes un número. Di que no tienes esa información.\n\n**Ejemplos de lo que NO debes hacer:**\n❌ \"Puedes recogerlo en Calle Falsa 123\" (si no está en la lista)\n❌ \"Llama al 555-1234\" (si no está en la lista)\n❌ \"Tu pedido está en tránsito\" (si no tienen sistema de tracking)\n❌ \"¿Quieres que te prepare la cotización con IVA y opciones de pago?\" (NUNCA menciones opciones de pago)\n❌ \"Tenemos facilidades de pago\" (si no está en los datos)\n❌ \"Aceptamos tarjeta, efectivo y transferencia\" (si no está en los datos)\n\n**Ejemplos de lo que SÍ debes hacer:**\n✅ \"No tengo la dirección disponible. Un humano te puede ayudar con eso.\"\n✅ \"No tengo información de envíos. Un humano te ayudará con el tracking.\"\n✅ \"No tengo ese número de teléfono disponible.\"\n✅ \"¿Quieres que te prepare la cotización con IVA?\" (sin mencionar opciones de pago)\n✅ \"Un humano te puede ayudar mejor con las opciones de pago disponibles.\" (si preguntan por pagos)\n\n### ⚠️ REGLA SUPREMA DE HERRAMIENTAS (CRÍTICO) ⚠️\nTu memoria de chat NO TIENE IMÁGENES.\nSi vas a mencionar un producto (precio, nombre o detalles), **ES OBLIGATORIO** usar la herramienta `ver productos` en este turno, incluso si ya conoces el precio por mensajes anteriores.\n* **Objetivo:** Obtener el ID del producto y usar placeholders para datos exactos.\n* **Consecuencia:** Si no usas la herramienta, no tendrás el link de la foto y el usuario no podrá ver el producto.\n\n**HERRAMIENTAS DISPONIBLES:**\n- **Tool: ver productos**: Base de datos con búsqueda inteligente. Úsala SIEMPRE para buscar productos.\n  * **Cómo buscar:** La herramienta devuelve todos los productos del usuario. Debes filtrar mentalmente los resultados buscando:\n    - Coincidencias exactas en `product_name` o `sku`\n    - Códigos de modelos en `description` (ej: si buscas \"M477fdw\", revisa la descripción de cada producto)\n    - Palabras clave relacionadas (ej: \"toner\" encontrará productos con \"toner\" en nombre o descripción)\n  * **Ejemplos:**\n    - Usuario: \"quiero un toner para M477fdw\" → Busca productos donde `description` contenga \"M477fdw\" o \"M477\"\n    - Usuario: \"414A\" → Busca productos donde `sku` o `product_name` contenga \"414A\"\n    - Usuario: \"toner HP\" → Busca productos donde `product_name` o `description` contenga \"toner\" y \"HP\"\n  * **IMPORTANTE:** Revisa el campo `description` cuidadosamente, ahí están los modelos compatibles (ej: \"Compatible con los modelos HP... M477fdw...\")\n- **Tool: Calculator**: Para cálculos matemáticos.\n\n### 🎯 FORMATO DE DATOS DE PRODUCTOS (OBLIGATORIO) ###\n**NUNCA escribas precios, URLs o nombres directamente. SIEMPRE usa placeholders con el ID del producto.**\n\nCuando la herramienta `ver productos` retorne un producto, usa su campo `id` para crear placeholders:\n\n**Formatos de placeholders:**\n- `[PRODUCT_NAME:ID]` - Nombre del producto\n- `[PRODUCT_PRICE:ID]` - Precio del producto\n- `[PRODUCT_URL:ID]` - URL de la imagen (media_url)\n- `[PRODUCT_STOCK:ID]` - Stock disponible\n- `[PRODUCT_DESC:ID]` - Descripción del producto\n\n**Ejemplo de uso:**\nSi la herramienta retorna un producto con `id: 53`, escribe:\n```\n🛍️ **[PRODUCT_NAME:53]** — $[PRODUCT_PRICE:53]\n🔹 [PRODUCT_DESC:53]\nImagen: [PRODUCT_URL:53]\n```\n\n**REGLAS:**\n1. SIEMPRE usa el `id` que viene de la herramienta `ver productos`\n2. NUNCA inventes precios, URLs o nombres\n3. Si no tienes el ID, NO menciones el producto\n4. Puedes usar múltiples placeholders del mismo producto: `[PRODUCT_NAME:53]`, `[PRODUCT_PRICE:53]`, etc.\n\n### GUÍA DE ESTILO VISUAL ###\nCuando presentes productos, usa estrictamente esta estructura:\n\n1.  **Encabezado:** Emoji (🚀, ✨) + Frase corta de beneficio.\n2.  **Lista de Productos (Repite este bloque por cada producto):**\n    * **Línea 1:** 🛍️ **[PRODUCT_NAME:ID]** — $[PRODUCT_PRICE:ID]\n    * **Línea 2:** 🔹 [PRODUCT_DESC:ID]\n    * **Línea 3 (SIEMPRE que haya media_url):**\n        Escribe LITERALMENTE: `Imagen: [PRODUCT_URL:ID]`\n\n3.  **Cierre:** Pregunta clara (💬) para avanzar la venta o agendar.\n\n**COTIZACIONES - FORMATO LIMPIO (OBLIGATORIO):**\nCuando presentes una cotización con múltiples productos, usa EXACTAMENTE este formato:\n\n```\nTu cotización para [cantidad] piezas de cada [tipo de producto]:\n\n🛍️ *[PRODUCT_NAME:ID]* — $[PRODUCT_PRICE:ID] c/u\n[cantidad] piezas Subtotal: $[subtotal_calculado] + IVA\n\n🛍️ *[PRODUCT_NAME:ID]* — $[PRODUCT_PRICE:ID] c/u\n[cantidad] piezas Subtotal: $[subtotal_calculado] + IVA\n\n💰 Total sin IVA: $[TOTAL_CALCULADO]\n```\n\n**REGLAS CRÍTICAS:**\n1. **NUNCA escribas `$[TOTAL_CALCULATED]` literalmente.** Debes calcular el total sumando todos los subtotales.\n2. **Calcula cada subtotal:** precio × cantidad (ej: $82.17 × 3 = $246.51)\n3. **Calcula el total:** suma todos los subtotales (ej: $246.51 + $877.26 = $1,123.77)\n4. **Formato de números:** Usa comas para miles (ej: $1,123.77)\n5. **Elimina descripciones largas:** Solo nombre del producto y precio por unidad\n6. **Elimina URLs de imágenes:** No incluyas links de imágenes en cotizaciones\n7. **Elimina emojis innecesarios:** Solo usa 🛍️ para productos y 💰 para el total\n8. **NUNCA menciones opciones de pago, métodos de pago, o términos de pago** en las cotizaciones. Solo presenta los productos, cantidades, subtotales y total.\n9. **Cierre simple:** Termina con \"¿Te parece bien?\" o \"¿Quieres que te prepare la cotización con IVA?\" NUNCA agregues \"y opciones de pago\" o similar.\n\n**Ejemplo correcto:**\n```\nTu cotización para 3 piezas de cada toner:\n\n🛍️ *85A/35A/36A* — $82.17 c/u\n3 piezas Subtotal: $246.51 + IVA\n\n🛍️ *Q6511A* — $292.42 c/u\n3 piezas Subtotal: $877.26 + IVA\n\n💰 Total sin IVA: $1,123.77\n```\n\n**IMPORTANTE:**\n- Si mencionas 2 o más productos, o si el usuario solicita una cotización explícitamente, el sistema generará automáticamente un PDF de cotización.\n- El PDF se enviará por WhatsApp con un ID de rastreo (ej: COT-001).\n- NUNCA dejes placeholders sin calcular como `$[TOTAL_CALCULATED]`. SIEMPRE calcula el total real.\n- NUNCA menciones información de pagos a menos que esté EXPLÍCITAMENTE en los datos del negocio.\n\n**REGLAS GENERALES DE RESPUESTA:**\n1.  **Audios:** Si el último mensaje del usuario fue un audio, o si pide explícitamente una respuesta hablada, DEBES iniciar tu respuesta con la etiqueta `[AUDIO]`. Ejemplo: `[AUDIO] Hola, claro que sí...`\n2.  **Archivos:** Solo envía UN archivo por mensaje. Nunca pongas dos links seguidos.\n3.  **Tono:** Breve, claro y amigable. Usa emojis. Máximo 4 líneas de texto conversacional (sin contar los bloques de productos).\n4.  **Honestidad:** Si la herramienta `ver productos` no encuentra nada, di que no tienes esa información. No inventes datos.\n5.  **Limpieza:** No menciones \"buscando en base de datos\" ni \"aquí tienes la imagen\". Solo pon el texto y el link en el formato indicado.\n\n**MANEJO DE CONTEXTO:**\n- Si el usuario se refiere a un producto anterior (\"me interesa el primero\"), identifica el nombre en el historial y EJECUTA la herramienta `ver productos` con ese nombre para recuperar su `media_url`.\n\n\"Usa siempre el Contexto de mensajes pasados es la tool historialchat de suapbase\npara dar seguimiento a la conversación. Si el usuario hace preguntas de seguimiento como '¿Cuál es mejor?' o '¿Ese le queda?', revisa qué productos mencionaste anteriormente.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        7408,
        8720
      ],
      "id": "bb498dd1-f206-4844-8ca0-08a8ab157b16",
      "name": "AI Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, response: ($json.messageText || $json.output || $json['mensaje texto '] || $json.caption || $json.content || ''), type: 'text', pdf_url: ($json.media || $json.pdf_url || undefined), quote_id: ($json.quote_id || undefined), simulation: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        11136,
        9376
      ],
      "id": "97dc58be-6c29-434d-8b0e-364d1bdd7335",
      "name": "Enviar texto3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, response: ($json.messageText || $json.output || $json['mensaje texto '] || $json.caption || $json.content || ''), type: 'text', pdf_url: ($json.media || $json.pdf_url || undefined), quote_id: ($json.quote_id || undefined), simulation: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        11136,
        9200
      ],
      "id": "b4b08ac4-aed9-450e-9be4-18b8956df45d",
      "name": "Enviar Video1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1127a127-ad88-4889-994f-d97cf0c75eae",
              "name": "numer",
              "value": "={{ ($items(\"Webhook1\")[0]?.json?.body?.data?.key?.remoteJid ?? \"\").replace(\"@s.whatsapp.net\",\"\") }}",
              "type": "string"
            },
            {
              "id": "12dcf139-d7a4-47ae-959b-26a6a9b5f689",
              "name": "mensaje texto ",
              "value": "={{ $items(\"Separar imagen o video del texto o audio1\")[0]?.json?.mensaje_texto ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "1e3a8ade-0e71-491c-9a7b-4d8809014296",
              "name": "url_imagen",
              "value": "={{ ($items(\"Separar imagen o video del texto o audio1\")[0]?.json?.url_imagen ?? \"\").trim() }}",
              "type": "string"
            },
            {
              "id": "f107efb1-c390-4a19-91f3-e504dce325aa",
              "name": "urlVideo",
              "value": "={{ $items(\"Separar imagen o video del texto o audio1\")[0]?.json?.url_video ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "0c03e5e1-c534-45f1-b095-114dc233f4cd",
              "name": "id",
              "value": "={{ $items(\"Merge5\")[0]?.json?.id ?? \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9200,
        9024
      ],
      "id": "621dd390-15ab-4e48-9113-6fdac0ae7365",
      "name": "Definir destinatario1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08316d0d-678d-4482-a89c-a914b13819cb",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "60870119-633c-4f44-a387-efe517ba0f85",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        9168
      ],
      "id": "9814855e-6fa4-4045-a708-1e5275e781ff",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        3312,
        8848
      ],
      "id": "56791206-78bd-413e-bf38-5e9819b28b72",
      "name": "Sort1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content",
              "renameField": true,
              "outputFieldName": "messages"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3536,
        8848
      ],
      "id": "8e40b57e-3a2b-4eca-afd5-31a6a21ac6fb",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "85ad988a-4c60-433b-b138-578849593ebd",
                    "leftValue": "={{ $items(\"Webhook1\")[0]?.json?.body?.data?.messageType ?? \"\" }}\n",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio por ia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "541ee8da-e4f3-4984-a533-99e51b3409a4",
                    "leftValue": "={{ $items(\"Json parse1\")[0]?.json?.content_type ?? \"\" }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "feec1bce-11e9-4ca7-a4f3-5f198bc86a70",
                    "leftValue": "={{ (($items(\"Definir destinatario1\")[0]?.json?.url_imagen ?? \"\") + \"\").trim() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": " imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "475f7ac8-63b9-4d3a-a12e-583d51224820",
                    "leftValue": "={{ (($items(\"Definir destinatario1\")[0]?.json?.urlVideo ?? \"\") + \"\").trim() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $items(\"Definir destinatario1\")[0]?.json?.[\"mensaje texto \"] ?? \"\" }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "b5f25ace-e676-4f06-825e-e21747f1f27a"
                  },
                  {
                    "leftValue": "={{ (($items(\"Definir destinatario1\")[0]?.json?.url_imagen ?? \"\") + \"\").trim() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "no-imagen-check"
                  },
                  {
                    "leftValue": "={{ (($items(\"Definir destinatario1\")[0]?.json?.urlVideo ?? \"\") + \"\").trim() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "no-video-check"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none",
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        10352,
        9040
      ],
      "id": "8d646ea7-1e2c-4965-9ec2-10441c389f57",
      "name": "Switch tipo de mensaje1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mytvwfbijlgbihlegmfg.supabase.co/storage/v1/object/audiostemp/audio_{{$items(\"Webhook1\")[0]?.json?.body?.data?.message?.messageContextInfo?.deviceListMetadata?.senderTimestamp ?? $now}}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQxODk5MCwiZXhwIjoyMDY5OTk0OTkwfQ.07-JQs9AXJlqKYMDxk4tOL_6zOEGQTddaKlQmKQe14U"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQxODk5MCwiZXhwIjoyMDY5OTk0OTkwfQ.07-JQs9AXJlqKYMDxk4tOL_6zOEGQTddaKlQmKQe14U"
            },
            {
              "name": "Content-Type",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11472,
        8512
      ],
      "id": "dd25e4fe-f216-45ad-9d41-497f7a7cb336",
      "name": "Subir a supa1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "VmejBeYhbrcTPwDniox7",
          "mode": "list",
          "cachedResultName": "Lina - Carefree & Fresh"
        },
        "text": "={{ $json['mensaje texto '] }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        11248,
        8512
      ],
      "id": "d62bb646-7554-49fe-b67b-1865dc4f4b99",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "2Wv6AG1xfNp2VDzm",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, response: ($json.messageText || $json.output || $json['mensaje texto '] || $json.caption || $json.content || ''), type: 'audio', pdf_url: ($json.media || $json.pdf_url || undefined), quote_id: ($json.quote_id || undefined), simulation: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        11696,
        8512
      ],
      "id": "a0e11675-526d-4390-9c48-f58a5cc959aa",
      "name": "Enviar audio"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d014b9d3-b09b-4d26-ad50-61f369ccd91a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6e7fb3c2-a82e-4993-9308-11d8eb474bbb",
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0f69f392-d5d9-4022-8dba-980f7dcaae1f",
                    "leftValue": "={{ $json.content_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "otros",
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1168,
        8832
      ],
      "id": "ab46795d-d362-405a-87c2-d41f6c246688",
      "name": "DivideporType1",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        7296,
        9264
      ],
      "id": "33757c85-1d77-44b1-a2f8-5e3f9a115fdb",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $items(\"Get a row1\")[0]?.json?.id ?? null }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "human"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json[\"mensaje texto \"] ?? $json.mensaje_texto ?? $json.text ?? \"\" }}\n"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $items(\"Definir destinatario1\")[0]?.json?.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9584,
        8960
      ],
      "id": "b6d2cf4f-33c7-45a0-af72-f9a7b8313314",
      "name": "human1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        7408,
        9136
      ],
      "id": "84d0ba8f-6317-45ba-bf47-2155f4f97908",
      "name": "Wikipedia1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Fields1').item.json.instance['server_url '] }}/chat/getBase64FromMediaMessage/{{ $('Set Fields1').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Set Fields1').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('Set Fields1').item.json.message.MessageBodyData_id }}"
            },
            {
              "name": "convertToMp4",
              "value": "={{ Boolean(false) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        8608
      ],
      "id": "bc102e5c-49f2-42d3-9377-9190e57865c9",
      "name": "Get audio1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "=data",
        "options": {
          "mimeType": "audio/ogg; codecs=opus"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1712,
        8608
      ],
      "id": "4f2672dd-e084-4524-bc6b-9dab6babe34b",
      "name": "Convert Audio1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Fields1').item.json.instance['server_url '] }}/chat/getBase64FromMediaMessage/{{ $('Set Fields1').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Set Fields1').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('Set Fields1').item.json.message.MessageBodyData_id }}"
            },
            {
              "name": "convertToMp4",
              "value": "={{ Boolean(false) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        8816
      ],
      "id": "43dc7d38-e3dd-430c-8e0b-347a7d7f6757",
      "name": "Get imagen1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1616,
        8816
      ],
      "id": "c6db6d25-ac43-4037-86f5-69db58ca22ca",
      "name": "Convertimagen1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, response: ($json.messageText || $json.output || $json['mensaje texto '] || $json.caption || $json.content || ''), type: 'text', pdf_url: ($json.media || $json.pdf_url || undefined), quote_id: ($json.quote_id || undefined), simulation: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1552,
        9312
      ],
      "id": "5de603c9-defe-41ce-bc98-4b256b5c5af1",
      "name": "Enviar texto4"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Set Fields1').item.json.message.chat_id }}_buffer",
        "messageData": "={{ JSON.stringify($('Set Fields1').item.json.message) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -256,
        8992
      ],
      "id": "5cd3c439-2686-4e57-8c55-9164e2390592",
      "name": "Push message buffer1",
      "credentials": {
        "redis": {
          "id": "vnorPWkywq2VfyfC",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Set Fields1').item.json.message.chat_id }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        8864
      ],
      "id": "a4f26681-0717-4765-9773-e109c18331fa",
      "name": "Get message buffer1",
      "credentials": {
        "redis": {
          "id": "vnorPWkywq2VfyfC",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.message.last()).chat_id }}",
                    "rightValue": "={{ $('Set Fields1').item.json.message.chat_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "71f7de53-ea4c-478d-a74e-868ab9c45a65"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No hacer Nada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12a53c5c-c22e-48b6-8c0a-13bc874594e1",
                    "leftValue": "={{ JSON.parse($json.message.last()).timestamp }}",
                    "rightValue": "={{ $now.minus(3,'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "seguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "espera"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        208,
        8864
      ],
      "id": "ef019a8d-021f-4d8a-8021-933b92cd3e2e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sim_user_id",
              "name": "user.id",
              "value": "={{ $('Detectar Simulación').item.json.simulationUserId }}",
              "type": "string"
            },
            {
              "id": "sim_msg",
              "name": "message.content",
              "value": "={{ $('Detectar Simulación').item.json.messageText }}",
              "type": "string"
            },
            {
              "id": "sim_draft",
              "name": "message.draft_prompt",
              "value": "={{ $('Detectar Simulación').item.json.draftPrompt || '' }}",
              "type": "string"
            },
            {
              "id": "sim_chat",
              "name": "message.chat_id",
              "value": "={{ $('Detectar Simulación').item.json.contactId }}",
              "type": "string"
            },
            {
              "id": "sim_type",
              "name": "message.content_type",
              "value": "text",
              "type": "string"
            },
            {
              "id": "sim_ts",
              "name": "message.timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "sim_inst",
              "name": "instance.name",
              "value": "SIMULATION",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        8784
      ],
      "id": "7366907f-c958-474e-94dd-0f4df6495b92",
      "name": "Set Fields1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        9056
      ],
      "id": "fa6bffce-8c12-4c57-b3e2-800e6c3a4dfb",
      "name": "Wait1",
      "webhookId": "ae34416d-83c9-4894-9f7f-2e8d60b715a4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        8592
      ],
      "id": "e08e5cd8-894e-4512-992e-2751ac67162f",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Set Fields1').item.json.message.chat_id }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        432,
        8880
      ],
      "id": "0bce404a-1b7a-4d10-b109-3186cbfbff65",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "vnorPWkywq2VfyfC",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.message[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        8880
      ],
      "id": "f5e75259-25d3-47a3-bd03-fef5dfa67288",
      "name": "Json parse1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/smart-embedding-router",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n       \"text\": \"{{ ($items(\"set text1\")[0]?.json?.text || \"\").replace(/<\\/?audio>|\\n/g, \" \").trim() }}\",\n       \"model\": \"text-embedding-3-small\"\n     }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4624,
        8128
      ],
      "id": "08159b0f-b1fb-40ba-bb83-04daf4747914",
      "name": "1. RAG - Obtener Embedding1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/rag-with-fallback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  query_text: (($items(\"set text1\")[0]?.json?.text) ?? \"\")\n    .replace(/<\\/?audio>|\\n/g, \" \")\n    .trim(),\n\n  user_id: $items(\"Obtener Prompt y Configuración1\")[0]?.json?.user_id ?? \"\",\n\n  contact_id: ((($items(\"Webhook1\")[0]?.json?.body?.data?.key?.remoteJid) ?? \"\"))\n    .replace(\"@s.whatsapp.net\", \"\")\n    .replace(\"+\", \"\"),\n\n  query_embedding: ($json.embedding && Array.isArray($json.embedding) && $json.embedding.length > 0)\n    ? $json.embedding\n    : null,\n\n  match_count: 3,\n  similarity_threshold: 0.7\n}) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4896,
        8128
      ],
      "id": "3d36b4aa-aab4-4bf6-a758-53e929cf6018",
      "name": "2. RAG - Buscar en Supabase1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "evolution_instance_name",
              "keyValue": "={{ $('Set Fields1').item.json.instance.name }}"
            },
            {
              "keyName": "evolution_api_key",
              "keyValue": "={{ $json.evolution_api_key }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3888,
        9216
      ],
      "id": "7c8431b6-8298-4a3f-98e5-b8a1c8859e9d",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos TODOS los items que entran (all matches)\nconst allMatches = $input.all().map(i => i.json);\nlet context = \"\";\n\n// Función para truncar texto\nconst truncate = (text, maxLength = 200) => {\n  if (!text || typeof text !== 'string') return '';\n  if (text.length <= maxLength) return text;\n  return text.substring(0, maxLength - 3) + '...';\n};\n\n// 2. Construimos el contexto usando todos los items recibidos (máximo 3)\nif (allMatches && allMatches.length > 0) {\n  const limitedMessages = allMatches.slice(0, 3);\n  context = \"Contexto de mensajes pasados:\\n\" + \n            limitedMessages.map(m => {\n              const content = truncate(m.content || '', 200);\n              const sender = m.message_type === 'ai' ? 'IA:' : 'Humano:';\n              return `${sender} ${content}`;\n            }).join('\\n') +\n            \"\\n----\\n\";\n}\n\n// 3. Acceso SEGURO a nodos de referencia (usando .first() para evitar errores de pairing)\nconst baseText = $items(\"set text1\")[0]?.json ?? {};\nconst parseData = $items(\"Json parse1\")[0]?.json ?? {};\n\n// 4. Retornamos siempre UN solo item para el Agente\nreturn [{\n  json: {\n    ...baseText,\n    rag_context: context,\n    original_content_type: parseData.content_type || 'text'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5104,
        8240
      ],
      "id": "e73ca4c5-75b9-4649-9abc-c0c722a3f453",
      "name": "3. RAG - Formatear Contexto1",
      "executeOnce": false
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Base de datos maestra de productos con búsqueda inteligente híbrida (full-text + semántica). \nÚsala OBLIGATORIAMENTE siempre que se mencione un producto para obtener sus datos técnicos: Precio actual, Stock (disponibilidad), Características y el enlace de la imagen (media_url).\n\n**CÓMO BUSCAR:**\n- Puedes buscar por: nombre del producto, código SKU, modelo de impresora, o cualquier palabra de la descripción.\n- Ejemplos de búsquedas efectivas:\n  * \"toner M477fdw\" - encuentra productos compatibles con ese modelo\n  * \"414A\" - busca por código SKU\n  * \"HP LaserJet Pro\" - busca por marca y modelo\n  * \"impresora Canon\" - busca por tipo y marca\n  * \"toner\" - busca todos los tóners\n\n**CARACTERÍSTICAS DE LA BÚSQUEDA:**\n- La búsqueda es inteligente y encuentra productos incluso si:\n  * El código está parcialmente escrito (ej: \"M477\" encuentra \"M477fdw\")\n  * El modelo está en la descripción (ej: busca \"M477fdw\" y encuentra productos que lo mencionan en la descripción)\n  * Hay variaciones en el texto (ej: \"toner\" encuentra \"Toner\", \"TÓNER\", etc.)\n\n**IMPORTANTE:**\n- Es necesario ejecutarla en cada consulta para asegurar que los datos no sean inventados y para recuperar la foto si está disponible.\n- Si el usuario menciona un modelo específico (ej: \"M477fdw\"), busca exactamente ese código o variaciones.\n- Si menciona un tipo de producto (ej: \"toner\"), busca \"toner\" y el sistema encontrará productos compatibles.\n- Si no encuentras resultados con una búsqueda, intenta con términos más generales (ej: si \"M477fdw\" no da resultados, intenta \"M477\" o \"toner HP\").",
        "operation": "getAll",
        "tableId": "products",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Obtener Prompt y Configuración1').item.json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        7792,
        9008
      ],
      "id": "61911d0f-88d4-43c8-87fb-d4db41ab1087",
      "name": "ver productos1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/smart-embedding-router",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"text\": ($items(\"human1\")[0]?.json?.content ?? \"\").toString(),\n  \"model\": \"text-embedding-3-small\"\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9776,
        8960
      ],
      "id": "5c5466da-9bd6-4a34-8346-4953cee79fe6",
      "name": "1b. Obtener Embedding Humano1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "chat_history",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $items(\"human1\")[0]?.json?.id ?? null }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "embedding",
              "fieldValue": "={{ (() => {\n  const emb = $items(\"1b. Obtener Embedding Humano1\")[0]?.json?.embedding;\n\n  // si no es array o viene vacío, guarda null (NO string vacío)\n  if (!Array.isArray(emb) || emb.length === 0) return null;\n\n  // solo números finitos\n  const nums = emb.filter(v => typeof v === 'number' && Number.isFinite(v));\n  if (nums.length !== emb.length) return null;\n\n  // pgvector acepta \"[1,2,3]\"\n  return '[' + nums.join(',') + ']';\n})() }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9520,
        9248
      ],
      "id": "9fceb5a6-d948-4ae1-bf26-f454bdf30852",
      "name": "1c. Actualizar Embedding Humano1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/smart-embedding-router",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify((($items(\"Reemplazar Placeholders\")[0]?.json?.output ?? \"\").replace(/\\[AUDIO\\]:?|\\n/gi, \" \").trim())) }},\n  \"model\": \"text-embedding-3-small\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10048,
        9264
      ],
      "id": "ea01be2f-cdb1-4bee-a1e8-5f26d84e0f26",
      "name": "2b. Obtener Embedding IA1",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "chat_history",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $items(\"AI1-text\")[0]?.json?.id ?? null }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "embedding",
              "fieldValue": "={{ (() => {\n  const emb = $items(\"2b. Obtener Embedding IA1\")[0]?.json?.embedding;\n  if (!emb || !Array.isArray(emb) || emb.length === 0) return null;\n  const nums = emb.filter(v => typeof v === \"number\" && Number.isFinite(v));\n  if (nums.length !== emb.length || nums.length === 0) return null;\n  return \"[\" + nums.join(\",\") + \"]\";\n})() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        10656,
        9648
      ],
      "id": "075af99f-175b-4be4-83af-8850d26effb6",
      "name": "2c. Actualizar Embedding IA1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT increment_daily_stats('{{ $('Get a row1').item.json.id }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4320,
        9520
      ],
      "id": "2e2f5a46-e7ae-49b4-b4c0-9713a1eeb571",
      "name": "Registrar Métrica1",
      "credentials": {
        "postgres": {
          "id": "aMeojWCCYNn8y4pz",
          "name": "SupavELina"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.contacts\nSET followup_status = 'paused'\nWHERE \n  user_id = '{{ $('Get a row1').item.json.id }}' \n  AND phone_number = '{{ '+' + ( $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"].includes(\"@lid\") ? $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJidAlt\"] : $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] ).replace(\"@s.whatsapp.net\", \"\") }}'\n  AND followup_status = 'active';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4128,
        9520
      ],
      "id": "d53c8133-345a-4433-bf8c-a9bd40fdef41",
      "name": "Pausar Seguimiento Activo1",
      "credentials": {
        "postgres": {
          "id": "aMeojWCCYNn8y4pz",
          "name": "SupavELina"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "evolution_instance_name",
              "keyValue": "={{ $('Set Fields1').item.json.instance.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4176,
        8848
      ],
      "id": "b1fbd9cf-74c6-482c-954c-e52ca40e166f",
      "name": "Obtener Perfil de Usuario1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "prompts",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Detectar Simulación').item.json.simulationUserId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4624,
        9216
      ],
      "id": "9cd7641b-f2c0-43fc-967f-3fdfa8bd6cec",
      "name": "Obtener Prompt y Configuración1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Detectar Simulación').item.json.simulationUserId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1920,
        8864
      ],
      "id": "137fe93d-218f-474b-97ad-7e67f4aa7de8",
      "name": "evolution_instance_name1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "78d76020-9623-4a3f-a5e5-49e96f2acd09",
              "leftValue": "={{ $('Get Subscription1').all()[0].json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b019d5de-ac0e-499e-9cb7-eb9cc44131ab",
              "leftValue": "={{ $('Get Subscription1').all()[0].json.status }}",
              "rightValue": "trialing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1632,
        8864
      ],
      "id": "8b42687b-6e5f-4a76-bb01-86000de073e2",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscriptions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1760,
        8720
      ],
      "id": "c02ef85c-20db-4fa9-8858-e2ec3921c505",
      "name": "Get Subscription1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1664,
        9104
      ],
      "id": "bd19c1e4-1e3a-4d87-8d16-a44fd87a2e09",
      "name": "No Operation, do nothing5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6c15fe1-7c78-4d99-bf93-b53e72482218",
              "leftValue": "={{ $json.labels }}",
              "rightValue": "ignorar",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -752,
        8688
      ],
      "id": "29b5c3d6-81e1-4fa7-8628-d6883c4aeff6",
      "name": "ignorar?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/rest/v1/rpc/get_or_create_simulation_contact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_user_id: $('Detectar Simulación').item.json.simulationUserId }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1488,
        8448
      ],
      "id": "1a244ee3-d044-4f10-a5c3-407a8969d9ab",
      "name": "buscar contacto1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -192,
        8448
      ],
      "id": "274ec7c5-3c45-49b2-a6f8-46db7415dcbf",
      "name": "No Operation, do nothing6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6304,
        8256
      ],
      "id": "5120dc7f-a10f-4145-bb7e-00f78fc98fdc",
      "name": "No Operation, do nothing7"
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "human"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.message.conversation }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date(new Date($('Webhook1').item.json.body.date_time).getTime() - 3 * 60 * 60 * 1000).toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -448,
        8480
      ],
      "id": "be160cb5-d50a-4cda-9179-3b646436cf67",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Get a row3').item.json.id;\nconst b64 = $('Get imagen1').item.json.base64;\n\n// Preparamos el cuerpo de la petición para la Edge Function\nconst body = {\n  userId: userId,\n  b64_json: b64,\n  subfolder: 'chat-files' // Guardamos en una carpeta específica para chats\n};\n\n// Devolvemos el cuerpo para el siguiente nodo (HTTP Request)\nreturn { json: body };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        8848
      ],
      "id": "8a132412-8f5b-4149-b5cb-5697fd709876",
      "name": "Preparar para Subir a Bunny1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/smart-worker",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        8848
      ],
      "id": "1b85be0c-86c5-449a-8bc9-48064aa8c4c6",
      "name": "Subir a Bunny1",
      "credentials": {
        "httpBearerAuth": {
          "id": "gIoa82xaIrz0lSEj",
          "name": "supabase Elina"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "evolution_instance_name",
              "keyValue": "={{ $('Set Fields1').item.json.instance.name }}"
            },
            {
              "keyName": "evolution_api_key",
              "keyValue": "={{ $('Set Fields1').item.json.instance.apikey }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1872,
        8992
      ],
      "id": "1095156e-6816-4e81-9536-f0715728db9f",
      "name": "Get a row3",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const caption = $('Set Fields1').item.json.message.content || '';\nconst cdnUrl = $('Subir a Bunny1').item.json.cdnUrl || '';\n\n// Unimos el caption y la URL para guardarlo como el contenido del mensaje\nconst finalContent = `${caption} ${cdnUrl}`.trim();\n\n// Devolvemos el contenido final y la descripción para el siguiente paso\nreturn {\n  json: {\n    content: finalContent,\n    'descripcion de la imagen': $('Describir Imagen1').item.json.content,\n    timestamp: $('Set Fields1').item.json.message.timestamp\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        8848
      ],
      "id": "cd3d0ce9-7a12-4b4f-9526-37fbfc74f90b",
      "name": "Contenido Imagen3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        10624,
        8784
      ],
      "id": "467f607c-560f-4d3c-89b4-be11e58fbaa9",
      "name": "Merge4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9907162b-f1ae-4e83-bcd2-a7f3deffec83",
              "name": "numer",
              "value": "={{ ($items(\"Webhook1\")[0]?.json?.body?.data?.key?.remoteJid ?? \"\").replace(\"@s.whatsapp.net\",\"\") }}",
              "type": "string"
            },
            {
              "id": "c0e023d4-eb56-4f75-8096-4a1c8c2f9c41",
              "name": "mensaje texto ",
              "value": "={{ $json.texto.replace('[AUDIO]', '').replace(/([\\u2700-\\u27BF]|[\\uE000-\\uF8FF]|\\uD83C[\\uDC00-\\uDFFF]|\\uD83D[\\uDC00-\\uDFFF]|\\uD83E[\\uDC00-\\uDFFF])/g, '').replace(/\\s+/g, ' ').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11024,
        8512
      ],
      "id": "dd79b723-cdcd-47b3-8899-b0033cf7ecb2",
      "name": "que escribir como audio1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1dcff91-2111-49df-8a99-bb9ee8027ac3",
              "name": "texto",
              "value": "={{ $items(\"AI Agent\")[0]?.json?.output ?? \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10832,
        8656
      ],
      "id": "79c07365-4cdc-45b7-8a6f-994a73c73d5a",
      "name": "Preparar Texto para Audio1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9d532c0-df4d-4bb0-bd3f-92ff060f3b4e",
              "leftValue": "={{ $('Webhook1').item.json.body.data.key.fromMe }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2224,
        8864
      ],
      "id": "d32e3335-c035-4322-9ce3-1c7ab1d0d324",
      "name": "If3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/detect-critical-intent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_id\": {{ $('Merge5').item.json.id }},\n  \"user_id\": \"{{ $('Get a row1').item.json.id }}\",\n  \"message_content\": \"{{ $('set text1').item.json.text }}\",\n  \"message_id\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4944,
        8624
      ],
      "id": "af2fa54d-1763-42ee-b5c9-a2dfdd562456",
      "name": "Detectar Intención Crítica1",
      "credentials": {
        "httpBearerAuth": {
          "id": "gIoa82xaIrz0lSEj",
          "name": "supabase Elina"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69201307-af1f-4a30-893a-7261ac0a37a6",
              "leftValue": "={{ $json.is_critical }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5200,
        8608
      ],
      "id": "cc30f03f-a808-4561-9af2-dcb8e6a71518",
      "name": "IF: ¿Es Crítico?1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Get a row1').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5376,
        8256
      ],
      "id": "3bf50d0a-cfae-4775-bf4a-b9b6fad3eda6",
      "name": "Obtener Número Notificación1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- NODO: Preparar Mensaje Notificación Crítica ---\n// Prepara el mensaje completo de notificación incluyendo información de cotización si existe\n\n// Función para limpiar y escapar texto para WhatsApp\nconst limpiarTexto = (texto) => {\n  if (!texto) return '';\n  // Convertir a string y limpiar caracteres problemáticos\n  return String(texto)\n    .replace(/[\\x00-\\x1F\\x7F]/g, '') // Remover caracteres de control\n    .replace(/\\[|\\]/g, '') // Remover corchetes que pueden causar problemas\n    .trim();\n};\n\n// Obtener datos de forma segura\nlet contacto = 'Sin nombre';\ntry {\n  contacto = limpiarTexto($('buscar contacto1').item.json.full_name) || 'Sin nombre';\n} catch (e) {\n  contacto = 'Sin nombre';\n}\n\nlet numero = '';\ntry {\n  const remoteJid = $('Webhook1').item.json.body.data.key.remoteJid || '';\n  numero = limpiarTexto(remoteJid.replace('@s.whatsapp.net', ''));\n} catch (e) {\n  numero = 'No disponible';\n}\n\nlet tipoDeteccion = 'No especificado';\nlet confianza = 0;\nlet contenidoDetectado = 'No disponible';\n\ntry {\n  const deteccion = $('Detectar Intención Crítica1').item.json || {};\n  tipoDeteccion = limpiarTexto(deteccion.detection_type) || 'No especificado';\n  confianza = Math.round((deteccion.confidence || 0) * 100);\n  contenidoDetectado = limpiarTexto(deteccion.detected_content) || 'No disponible';\n} catch (e) {\n  // Usar valores por defecto\n}\n\n// Construir mensaje base usando concatenación en lugar de template literals\nlet mensaje = '🚨 *ATENCIÓN REQUERIDA*\\n\\n';\nmensaje += 'Se detectó una intención crítica en una conversación:\\n\\n';\nmensaje += '*Contacto:* ' + contacto + '\\n';\nmensaje += '*Número:* ' + numero + '\\n';\nmensaje += '*Tipo de detección:* ' + tipoDeteccion + '\\n';\nmensaje += '*Confianza:* ' + confianza + '%\\n\\n';\nmensaje += '*Mensaje detectado:*\\n';\nmensaje += contenidoDetectado + '\\n\\n';\nmensaje += 'La conversación ha sido pausada automáticamente. Revisa el chat en la aplicación.';\n\n// Intentar agregar información de cotización si existe\nlet infoCotizacion = '';\ntry {\n  const crearCotizacion = $('Crear Cotización').item;\n  if (crearCotizacion && crearCotizacion.json && crearCotizacion.json.quote) {\n    const quote = crearCotizacion.json.quote;\n    if (quote && quote.quote_id) {\n      const quoteId = limpiarTexto(quote.quote_id);\n      infoCotizacion = '\\n\\n📄 *Cotización generada:* ' + quoteId + '\\n';\n      infoCotizacion += 'Seguir cotización con ID: ' + quoteId;\n    }\n  }\n} catch (e) {\n  // Si no hay cotización o hay error, simplemente no agregar nada\n  infoCotizacion = '';\n}\n\n// Agregar información de cotización al mensaje si existe\nif (infoCotizacion) {\n  mensaje += infoCotizacion;\n}\n\nreturn [{\n  json: {\n    mensaje_completo: mensaje\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5504,
        8064
      ],
      "id": "9f6c47c8-7136-4505-8116-fbacdf50af2d",
      "name": "Preparar Mensaje Notificación Crítica"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, response: ($json.messageText || $json.output || $json['mensaje texto '] || $json.caption || $json.content || ''), type: 'text', pdf_url: ($json.media || $json.pdf_url || undefined), quote_id: ($json.quote_id || undefined), simulation: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        5584,
        8256
      ],
      "id": "50f6b846-0dcd-49ca-9b54-d497713b64c8",
      "name": "Enviar Notificación WhatsApp1"
    },
    {
      "parameters": {
        "jsCode": "// Input: debe traer ya promoContext (con rag_context previo si vienes del RAG)\nconst promoContext = $input.first().json;\n\n// Lee el RAG formatter SIN pairing pesado\nconst rag = $items(\"3. RAG - Formatear Contexto1\")[0]?.json ?? {};\nconst baseContext = rag.rag_context ?? promoContext.rag_context ?? \"\";\n\n// Si tu promoContext trae algo como promo_text o similar, ajústalo aquí\nconst promoText = promoContext.promo_text ?? promoContext.promo ?? \"\";\n\n// Construir contexto final\nconst final = [\n  baseContext,\n  promoText ? `\\n\\n[CONTEXTO PROMOS]\\n${promoText}` : \"\"\n].join(\"\");\n\n// White-list para no arrastrar basura gigante\nreturn [{\n  json: {\n    ...promoContext,\n    rag_context: final\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6896,
        8416
      ],
      "id": "7ed24aa2-7ae9-44ea-9b2c-37c99517b692",
      "name": "agregar Promo al Contexto1",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const promoContext = $input.first().json;\n\nconst hasSlots = promoContext.has_slots === true;\nconst availabilityText = promoContext.availability_context || \"\";\n\nlet availabilityContext = \"\";\n\nif (availabilityText) {\n  if (hasSlots) {\n    availabilityContext =\n      `\\n\\n[CONTEXTO DE CITAS]\\n${availabilityText}\\n\\nINSTRUCCIONES:\\n` +\n      `- El cliente quiere agendar una cita.\\n` +\n      `- Ofrece los horarios disponibles de forma natural.\\n` +\n      `- Cuando el cliente confirme un horario, confirma la cita.\\n` +\n      `- Sé amigable y profesional.\\n`;\n  } else {\n    availabilityContext =\n      `\\n\\n[CONTEXTO DE CITAS]\\n${availabilityText}\\n\\n` +\n      `- Informa al cliente que no hay horarios disponibles para hoy.\\n` +\n      `- Sugiere que pregunte por otros días.\\n`;\n  }\n}\n\npromoContext.rag_context = (promoContext.rag_context || \"\") + availabilityContext;\nreturn [{ json: promoContext }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7152,
        8432
      ],
      "id": "e24f61c2-d567-4220-8eb1-214b6047947e",
      "name": "Agregar Contexto de Citas1",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f1cbc6b-5c7f-4624-ad44-1bfda5e00094",
              "leftValue": "={{ $json.promo }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6656,
        8656
      ],
      "id": "4e7d6f0c-f7ed-40f1-9907-e87b84de2eb3",
      "name": "IF: ¿Hay Promoción?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/detect-appointment-intent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_id\": {{ $('Merge5').item.json.id }},\n  \"user_id\": \"{{ $('Get a row1').item.json.id }}\",\n  \"message_content\": \"{{ $('set text1').item.json.text }}\",\n  \"message_id\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5344,
        8864
      ],
      "id": "fbd8c02d-7f39-4339-8f1c-64f8c07e6b0f",
      "name": "Detectar Intención de Cita",
      "credentials": {
        "httpBearerAuth": {
          "id": "gIoa82xaIrz0lSEj",
          "name": "supabase Elina"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "appointment-intent-check",
              "leftValue": "={{ $json.has_intent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5536,
        8864
      ],
      "id": "4acac001-50f4-4c54-9d06-f81909385861",
      "name": "IF: ¿Tiene Intención de Cita?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mytvwfbijlgbihlegmfg.supabase.co/functions/v1/get-available-slots",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dHZ3ZmJpamxnYmlobGVnbWZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTg5OTAsImV4cCI6MjA2OTk5NDk5MH0.eFL6N7pR4nmpOLywRwxZS_sEWwSbq5WGAnY0zBMreDE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Get a row1').item.json.id }}\",\n  \"date\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n  \"duration_minutes\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5936,
        8704
      ],
      "id": "5a4d4acd-69ea-466a-bbad-5189a84c6184",
      "name": "Obtener Slots Disponibles",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "gIoa82xaIrz0lSEj",
          "name": "supabase Elina"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatear disponibilidad para el contexto de la IA\nconst slots = $input.item.json.available_slots || [];\nconst date = $input.item.json.date || '';\nconst timezone = $input.item.json.timezone || 'America/Mexico_City';\n\nif (slots.length === 0) {\n  return [{\n    json: {\n      availability_context: 'No hay horarios disponibles para hoy. Puedes sugerir que el cliente pregunte por otros días.',\n      has_slots: false,\n      slots: [],\n      date: date\n    }\n  }];\n}\n\n// Formatear slots para el contexto\nconst slotsText = slots.map((slot, index) => {\n  return `${index + 1}. ${slot.start} - ${slot.end}`;\n}).join('\\n');\n\nconst context = `El cliente quiere agendar una cita. Horarios disponibles para ${date}:\\n${slotsText}\\n\\nOfrece estos horarios al cliente de forma natural y pregunta cuál prefiere.`;\n\nreturn [{\n  json: {\n    availability_context: context,\n    has_slots: true,\n    slots: slots,\n    date: date\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6096,
        8800
      ],
      "id": "864fca0a-12bc-407a-91fe-09e752aafefc",
      "name": "Formatear Disponibilidad"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "smart_promotions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Get Subscription1').item.json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6336,
        9088
      ],
      "id": "5daa87d8-984a-44b3-a20a-5b550c89cc60",
      "name": "Buscar Promociones Activas1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contacts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $('Preparar Labels con Ignorar1').item.json.phone_number }}"
            },
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "labels",
              "fieldValue": "={{ $('Preparar Labels con Ignorar1').item.json.labels }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6016,
        8256
      ],
      "id": "4d546cf5-a84c-4b1e-a29a-d78e5314447a",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener las labels actuales del contacto\nconst currentLabels = $('Merge5').item.json.labels || [];\n\n// Convertir a array si es string o null\nlet labelsArray = [];\nif (Array.isArray(currentLabels)) {\n  labelsArray = [...currentLabels];\n} else if (typeof currentLabels === 'string') {\n  try {\n    labelsArray = JSON.parse(currentLabels);\n  } catch (e) {\n    labelsArray = currentLabels.split(',').map(l => l.trim()).filter(Boolean);\n  }\n}\n\n// Verificar si \"ignorar\" ya existe (case-insensitive)\nconst hasIgnore = labelsArray.some(label => \n  label && label.toString().toLowerCase().trim() === 'ignorar'\n);\n\n// Agregar \"ignorar\" solo si no existe\nif (!hasIgnore) {\n  labelsArray.push('ignorar');\n}\n\n// Retornar el array preparado\nreturn [{\n  json: {\n    ...$('Merge5').item.json,\n    labels: labelsArray,\n    phone_number: $('Merge5').item.json.phone_number\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5792,
        8256
      ],
      "id": "588216e0-5d8e-4361-abe0-68a5307632df",
      "name": "Preparar Labels con Ignorar1"
    },
    {
      "parameters": {
        "jsCode": "// Obtener todos los items (en n8n, cada promo del array se convierte en un item separado)\nconst allItems = $input.all();\n\nconsole.log('=== DEBUG ===');\nconsole.log('Total items recibidos:', allItems.length);\n\nif (!allItems || allItems.length === 0) {\n  console.log('❌ No hay items');\n  return [{ json: { promo: null } }];\n}\n\n// En n8n, cada item del array de Supabase se convierte en un item separado\n// Entonces cada item.json es una promo individual\nconst promos = allItems.map(item => item.json);\n\nconsole.log('Total promos:', promos.length);\nif (promos.length > 0) {\n  console.log('Primera promo:', JSON.stringify(promos[0], null, 2));\n}\n\n// Función helper para normalizar valores booleanos\nconst toBoolean = (value) => {\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'string') {\n    const lower = value.toLowerCase().trim();\n    return lower === 'true' || lower === '1' || lower === 'yes';\n  }\n  if (value === null || value === undefined) return false;\n  return Boolean(value);\n};\n\nconst now = new Date();\nconsole.log('Fecha actual:', now.toISOString());\n\n// Evaluar cada promo\nconst selected = promos.find((promo, index) => {\n  console.log(`\\n--- Promo ${index + 1}: ${promo.title || promo.id} ---`);\n  \n  const isActive = toBoolean(promo.is_active);\n  const noSchedule = toBoolean(promo.no_schedule);\n  \n  console.log('  is_active:', promo.is_active, `(${typeof promo.is_active}) →`, isActive);\n  console.log('  no_schedule:', promo.no_schedule, `(${typeof promo.no_schedule}) →`, noSchedule);\n  console.log('  start_at:', promo.start_at);\n  console.log('  end_at:', promo.end_at);\n  \n  if (!isActive) {\n    console.log('  ❌ No está activa');\n    return false;\n  }\n  \n  if (!noSchedule) {\n    if (promo.start_at && new Date(promo.start_at) > now) {\n      console.log('  ❌ Aún no ha comenzado');\n      return false;\n    }\n    if (promo.end_at && new Date(promo.end_at) < now) {\n      console.log('  ❌ Ya expiró');\n      return false;\n    }\n  } else {\n    console.log('  ✅ Sin horario (siempre activa)');\n  }\n  \n  console.log('  ✅ PROMO VÁLIDA');\n  return true;\n});\n\nconsole.log('\\n=== RESULTADO ===');\nif (selected) {\n  console.log('✅ Promo seleccionada:', selected.title || selected.id);\n} else {\n  console.log('❌ No se seleccionó ninguna promo');\n}\n\nreturn [{ json: { promo: selected || null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6544,
        9088
      ],
      "id": "0f0b9433-01f2-4db8-9d56-f63cd20ed6af",
      "name": "Filtrar Promoción Válida1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32449b98-5016-45a4-bf3d-ef5a5a3f72b9",
              "name": "phone",
              "value": "={{ $items(\"buscar contacto1\")[0]?.json?.phone_number || \"\" }}",
              "type": "string"
            },
            {
              "id": "e0e31afc-a082-4e18-8d44-c78a2541257f",
              "name": "text",
              "value": "={{ $items(\"set text1\")[0]?.json?.text || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6944,
        8768
      ],
      "id": "a28894e8-5706-4481-9cbd-371b7756a82a",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        7248,
        9056
      ],
      "id": "6626ab95-48fd-4f62-946d-a3933a962da7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cbe73dff-5517-4388-846e-6abf1bba527f",
              "leftValue": "={{ $('buscar contacto1').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1376,
        8768
      ],
      "id": "32e5dad4-2563-45f1-8b44-900aee280db8",
      "name": "existe el contacto?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1040,
        8672
      ],
      "id": "fee1f015-6153-4f9c-836f-49fd58a8d142",
      "name": "Merge5"
    },
    {
      "parameters": {
        "tableId": "contacts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Get Subscription1').item.json.user_id }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ '+' + ( $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"].includes(\"@lid\") ? $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJidAlt\"] : $node[\"Webhook1\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] ).replace(\"@s.whatsapp.net\", \"\") }}"
            },
            {
              "fieldId": "full_name",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.pushName || $('Webhook1').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}"
            },
            {
              "fieldId": "labels",
              "fieldValue": "={{ [\"nuevo cliente\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1216,
        8496
      ],
      "id": "dfc4de90-4463-49b8-88f6-ff5eb5e57fa6",
      "name": "Create Contact1",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "path": "elina-simulacion",
        "httpMethod": "POST",
        "responseMode": "onSendMessage",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2464,
        8864
      ],
      "id": "152beb57-c1a5-48a8-bd41-2563efcb796d",
      "name": "Webhook1",
      "webhookId": "a4c591c2-69fd-4f63-a374-d5dfc8bd324d"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4464,
        9232
      ],
      "id": "eaa32ade-595b-404d-bb4c-07a3be208074",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e77ddb1-f9aa-4f16-89ce-bfc4320e949a",
              "name": "has_slots",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "2843ba73-8796-4dbe-8083-ab1321b56ac6",
              "name": "availability_context",
              "value": "22",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5744,
        8960
      ],
      "id": "caabc2fa-f910-4464-be95-e778ad65fb91",
      "name": "Disponibilidad - Dummy"
    },
    {
      "parameters": {
        "jsCode": "// --- INICIO: Procesar salida de IA (sin Split ni Merge) ---\n// Recibe el texto del nodo 'Detectar si es Cotización' o 'Reemplazar Placeholders' que ya tiene los datos reales\n\nconst inputItem = $input.first();\n// El texto puede venir en inputItem.json.output (de Detectar si es Cotización) o directamente\nlet textoCompleto = inputItem.json.output || inputItem.json.mensaje_texto || inputItem.json.text || \"\";\ntextoCompleto = textoCompleto.trim();\n\nif (!textoCompleto) {\n  const det = $items(\"Detectar si es Cotización\", 0, 0)?.json?.output;\n  const rep = $items(\"Reemplazar Placeholders\", 0, 0)?.json?.output;\n\n  if (typeof det === \"string\" && det.trim()) textoCompleto = det.trim();\n  else if (typeof rep === \"string\" && rep.trim()) textoCompleto = rep.trim();\n}\n\n\nlet body = textoCompleto;\nlet esAudio = false;\n\n// 1) Detectar [AUDIO]\nif (/\\[AUDIO\\]/i.test(body)) {\n  esAudio = true;\n  body = body.replace(/\\[AUDIO\\]:?/gi, \"\").trim();\n}\n\n// 2) Capturar TODAS las URLs\n// \\S+ captura todo lo que no sea espacio, por eso se trae el parentesis.\nconst urlRegex = /https?:\\/\\/\\S+/g; \nconst rawUrls = body.match(urlRegex) || [];\n\n// --- FIX: LIMPIEZA DE URLs ---\n// Recorremos las URLs detectadas y quitamos ), ] . , o ; del final\nconst urls = rawUrls.map(u => u.replace(/[)\\].,;]+$/, \"\"));\n// -----------------------------\n\n// 3) Extensiones para tipar si NO viene prefijo\nconst imgExts = ['.jpg', '.jpeg', '.png', '.gif', '.webp', '.bmp'];\nconst vidExts = ['.mp4', '.mov', '.avi', '.wmv', '.mkv'];\n\nlet urlImagen = \"\";\nlet urlVideo  = \"\";\nlet textoLimpio = body;\n\n// 4) Buscar primero si vienen con prefijo “Imagen:” o “Video:” por-URL\nfor (const url of urls) {\n  // Escapamos la URL para usarla en el replace del texto original\n  // Nota: Usamos la url limpia para buscar, pero debemos tener cuidado si en el texto original tiene el parentesis\n  \n  // Para limpiar el texto original, usaremos la rawUrl correspondiente (la sucia)\n  const rawUrl = rawUrls.find(r => r.includes(url)) || url;\n  const esc = rawUrl.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  \n  const imgRe = new RegExp(`Imagen:\\\\s*${esc}`, 'i');\n  const vidRe = new RegExp(`Video:\\\\s*${esc}`, 'i');\n\n  if (!urlImagen && imgRe.test(textoLimpio)) {\n    urlImagen = url; // Guardamos la URL LIMPIA\n    textoLimpio = textoLimpio.replace(imgRe, \"\");\n    continue;\n  }\n  if (!urlVideo && vidRe.test(textoLimpio)) {\n    urlVideo = url; // Guardamos la URL LIMPIA\n    textoLimpio = textoLimpio.replace(vidRe, \"\");\n    continue;\n  }\n}\n\n// 5) Si no hubo prefijos, tipar por extensión (solo primera imagen y primer video)\nif (!urlImagen || !urlVideo) {\n  for (let i = 0; i < urls.length; i++) {\n    const url = urls[i];\n    const rawUrl = rawUrls[i]; // Usamos la sucia para borrarla del texto\n    const lower = url.toLowerCase();\n    \n    if (!urlImagen && imgExts.some(ext => lower.includes(ext))) {\n      urlImagen = url;\n      textoLimpio = textoLimpio.replace(rawUrl, \"\"); // Borramos la URL sucia del texto\n      continue;\n    }\n    if (!urlVideo && vidExts.some(ext => lower.includes(ext))) {\n      urlVideo = url;\n      textoLimpio = textoLimpio.replace(rawUrl, \"\"); // Borramos la URL sucia del texto\n      continue;\n    }\n  }\n}\n\n// 6) Limpieza de etiquetas huérfanas y saltos\ntextoLimpio = textoLimpio\n  .replace(/Imagen:\\s*/gi, \"\")\n  .replace(/Video:\\s*/gi, \"\")\n  .replace(/\\s+\\n/g, \"\\n\")\n  .replace(/\\n{2,}/g, \"\\n\")\n  .trim();\n\n// 7) Salida ÚNICA (un item) - PRESERVAR pairedItem para mantener la referencia\nconst outputItem = {\n  json: {\n    mensaje_texto: textoLimpio,\n    es_audio: esAudio,\n    url_imagen: urlImagen || \"\",\n    url_video: urlVideo  || \"\"\n  }\n};\n\n// Preservar pairedItem del input para mantener la referencia al nodo anterior\nif (inputItem.pairedItem) {\n  outputItem.pairedItem = inputItem.pairedItem;\n}\n\nreturn [outputItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8960,
        9072
      ],
      "id": "dc0cac95-1c67-41a3-aa24-003f2bb32187",
      "name": "Separar imagen o video del texto o audio1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8b4ec0a2-2356-47a5-b353-12818e8f97d7",
              "leftValue": "={{ '[' + ($items(\"1b. Obtener Embedding Humano1\")[0]?.json?.embedding?.length || 0) + ']' }}",
              "rightValue": "[0]",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        9968,
        8960
      ],
      "id": "1b4e2532-9e74-4552-8c84-ee95da1cc2a4",
      "name": "IF Embedding Humano válido"
    },
    {
      "parameters": {
        "jsCode": "{{ \n(() => {\n  let t = String($json[\"mensaje texto \"] ?? \"\");\n  // quitar [PRODUCT_URL:123]\n  t = t.replace(/\\[PRODUCT_URL:\\d+\\]/g, \"\");\n  // **[NOMBRE:123]** o *[NOMBRE:123]* o [NOMBRE:123] -> *NOMBRE*\n  t = t\n    .replace(/\\*\\*\\[([^:\\]]+):\\d+\\]\\*\\*/g, \"*$1*\")\n    .replace(/\\*\\[([^:\\]]+):\\d+\\]\\*/g, \"*$1*\")\n    .replace(/\\[([^:\\]]+):\\d+\\]/g, \"*$1*\");\n  // quitar URLs sueltas\n  t = t.replace(/https?:\\/\\/\\S+/g, \"\");\n  // normalizar\n  t = t.replace(/[ \\t]+\\n/g, \"\\n\").replace(/\\n{3,}/g, \"\\n\\n\").trim();\n  return t;\n})()\n}}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10320,
        9680
      ],
      "id": "8d7d381e-4030-4dd3-83dc-568fc514df1e",
      "name": "Limpiar texto final"
    },
    {
      "parameters": {
        "jsCode": "// Lee el texto real (tu input trae \"content\")\nconst raw = String(\n  $json.content ??\n  $json[\"mensaje texto \"] ??\n  $json[\"mensaje texto\"] ??\n  $json.text ??\n  \"\"\n).trim();\n\n// Limpieza de formato para WhatsApp\nconst cleanCaption = (s) => {\n  let t = String(s || \"\");\n\n  // **algo** -> *algo* (WhatsApp bold)\n  t = t.replace(/\\*\\*(.+?)\\*\\*/g, \"*$1*\");\n\n  // quitar placeholders tipo [PRODUCT_URL:123]\n  t = t.replace(/\\[PRODUCT_URL:\\d+\\]/g, \"\");\n\n  // quitar la palabra Imagen: si quedó suelta\n  t = t.replace(/^\\s*Imagen:\\s*$/gmi, \"\");\n\n  // quitar URLs sueltas que se hayan colado\n  t = t.replace(/https?:\\/\\/\\S+/g, \"\");\n\n  // normalizar saltos y espacios\n  t = t\n    .replace(/[ \\t]+\\n/g, \"\\n\")\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .trim();\n\n  return t;\n};\n\n// Extraer bloques por \"Imagen: URL\"\nconst re = /Imagen:\\s*(https?:\\/\\/\\S+\\.(?:png|jpe?g|webp)(?:\\?\\S+)?)\\s*/gi;\n\nconst matches = [];\nlet m;\nwhile ((m = re.exec(raw)) !== null) {\n  matches.push({\n    url: m[1],\n    start: m.index,       // donde empieza \"Imagen:\"\n    end: re.lastIndex,    // después del URL\n  });\n}\n\n// Si no hay imágenes, NO tiene sentido esta rama. Devuelve 1 item vacío con caption por si quieres debug.\nif (matches.length === 0) {\n  return [{ json: { media_url: \"\", caption: cleanCaption(raw) } }];\n}\n\n// Armar captions por bloque\nconst out = [];\nconst max = Math.min(matches.length, 3);\n\nfor (let i = 0; i < max; i++) {\n  const prevEnd = i === 0 ? 0 : matches[i - 1].end;\n  const capPart = raw.slice(prevEnd, matches[i].start); // texto antes de \"Imagen:\" actual\n  out.push({\n    url: matches[i].url,\n    captionPart: capPart,\n  });\n}\n\n// Tail (texto después de la última imagen que sí vamos a mandar)\n// y además eliminamos cualquier \"Imagen: url\" extra que esté después (4+)\nlet tail = raw.slice(matches[max - 1].end);\ntail = tail.replace(re, \"\"); // quita Imagen: URL sobrantes\n\n// Construir items finales con limpieza\nfor (let i = 0; i < out.length; i++) {\n  let caption = out[i].captionPart;\n\n  // Intro al primer mensaje (ya viene incluido en captionPart del i=0)\n  // Tail al último mensaje\n  if (i === out.length - 1) {\n    caption = `${caption}\\n${tail}`;\n  }\n\n  caption = cleanCaption(caption);\n\n  // Caption no vacío (Evolution a veces se queja si mandas null)\n  if (!caption.length) caption = \" \";\n\n  out[i] = {\n    json: {\n      media_url: out[i].url,\n      caption,\n    },\n  };\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10944,
        9008
      ],
      "id": "611ce845-f402-4eef-b784-6634bb9d067a",
      "name": "IMG - Split a 3 envíos"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, response: ($json.messageText || $json.output || $json['mensaje texto '] || $json.caption || $json.content || ''), type: 'text', pdf_url: ($json.media || $json.pdf_url || undefined), quote_id: ($json.quote_id || undefined), simulation: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        11152,
        9008
      ],
      "id": "0b1948b3-dd3e-4804-be06-43126774846b",
      "name": "Enviar imagem"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat_history",
        "limit": 15,
        "filters": {
          "conditions": [
            {
              "keyName": "contact_id",
              "condition": "eq",
              "keyValue": "={{ $items(\"Merge5\")[0].json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7360,
        8448
      ],
      "id": "7f7969b2-9ec4-4c29-90ec-4d8df626b254",
      "name": "ultimos 15 chats",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat_history",
        "limit": 15,
        "filters": {
          "conditions": [
            {
              "keyName": "contact_id",
              "condition": "eq",
              "keyValue": "={{ $items(\"Merge5\")[0].json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        7568,
        8928
      ],
      "id": "055971ef-f214-4632-a299-130cd34e3801",
      "name": "historialchat",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $items(\"Merge5\")[0].json.id }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "human"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3936,
        8576
      ],
      "id": "f26ec958-20b9-44ce-807e-6b7b4daf900b",
      "name": "Guardar Mensaje Humano",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $items(\"Get a row1\")[0]?.json?.id ?? null }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "ai"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $items(\"Definir destinatario1\")[0]?.json?.id ?? null }}"
            },
            {
              "fieldId": "embedding",
              "fieldValue": "={{ '[' + $items(\"2b. Obtener Embedding IA1\")[0].json.embedding.join(',') + ']' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        11424,
        9392
      ],
      "id": "8a1b6b1d-23ec-44d4-9604-8da72223be8a",
      "name": "AI1-text",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $items(\"Get a row1\")[0]?.json?.id ?? null }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "ai"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $items(\"Definir destinatario1\")[0]?.json?.id ?? null }}"
            },
            {
              "fieldId": "embedding",
              "fieldValue": "={{ '[' + $items(\"2b. Obtener Embedding IA1\")[0].json.embedding.join(',') + ']' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        11424,
        9200
      ],
      "id": "5c361224-ce9c-41e8-9590-392aec4c0aa2",
      "name": "AI1-vid",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $items(\"Get a row1\")[0]?.json?.id ?? null }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "ai"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $items(\"IMG - Split a 3 envíos\")[$itemIndex].json.caption + \"\\n\\n\" + $items(\"IMG - Split a 3 envíos\")[$itemIndex].json.media_url }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $items(\"Definir destinatario1\")[0]?.json?.id ?? null }}"
            },
            {
              "fieldId": "embedding",
              "fieldValue": "={{ '[' + $items(\"2b. Obtener Embedding IA1\")[0].json.embedding.join(',') + ']' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        11424,
        9008
      ],
      "id": "64388d20-eb2c-40b4-9bb4-87a505e782d5",
      "name": "Guardar IA (Imágenes)",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $items(\"Get a row1\")[0]?.json?.id ?? null }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "ai"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $items(\"IMG - Split a 3 envíos\")[$itemIndex].json.caption + \"\\n\\n\" + $items(\"IMG - Split a 3 envíos\")[$itemIndex].json.media_url }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "contact_id",
              "fieldValue": "={{ $items(\"Definir destinatario1\")[0]?.json?.id ?? null }}"
            },
            {
              "fieldId": "embedding",
              "fieldValue": "={{ '[' + $items(\"2b. Obtener Embedding IA1\")[0].json.embedding.join(',') + ']' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        11984,
        8512
      ],
      "id": "1aaf20c9-88c1-4ec5-a056-540bb5c78594",
      "name": "Guardar IA audio",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Detectar si es simulación y extraer datos\nconst body = $input.item.json.body || $input.item.json;\nconst isSimulation = true;\nconst userId = body.user_id || body.simulationUserId;\nconst messageText = body.message || '';\nconst draftPrompt = body.draft_prompt || '';\nconst contactId = body.contact_id || 'SIM-' + (userId ? userId.slice(0,8) : '000');\n\nreturn [{\n  json: {\n    isSimulation,\n    simulationUserId: userId,\n    messageText,\n    draftPrompt,\n    contactId,\n    body: {\n        user_id: userId,\n        message: messageText,\n        draft_prompt: draftPrompt,\n        contact_id: contactId,\n        instance: 'SIMULATION'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2250,
        8864
      ],
      "id": "sim-detector-id",
      "name": "Detectar Simulación"
    }
  ],
  "connections": {
    "Extraer IDs de Placeholders": {
      "main": [
        [
          {
            "node": "IF: ¿Hay Placeholders?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Hay Placeholders?": {
      "main": [
        [
          {
            "node": "Obtener Productos por IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reemplazar Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Productos por IDs": {
      "main": [
        [
          {
            "node": "Reemplazar Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Productos por IDs": {
      "main": [
        []
      ]
    },
    "Reemplazar Placeholders": {
      "main": [
        [
          {
            "node": "Detectar si es Cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar si es Cotización": {
      "main": [
        [
          {
            "node": "IF: ¿Generar Cotización?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Generar Cotización?": {
      "main": [
        [
          {
            "node": "Crear Cotización",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Separar imagen o video del texto o audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Cotización": {
      "main": [
        [
          {
            "node": "Preparar después de Cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar después de Cotización": {
      "main": [
        [
          {
            "node": "Enviar PDF Cotización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar PDF Cotización": {
      "main": [
        [
          {
            "node": "Separar imagen o video del texto o audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Contenido Imagen2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Contenido audio1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set text1": {
      "main": [
        [
          {
            "node": "Guardar Mensaje Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Obtener Perfil de Usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Contenido audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describir Imagen1": {
      "main": [
        [
          {
            "node": "Get a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extraer IDs de Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto3": {
      "main": [
        [
          {
            "node": "AI1-text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Video1": {
      "main": [
        [
          {
            "node": "AI1-vid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir destinatario1": {
      "main": [
        [
          {
            "node": "human1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "set text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch tipo de mensaje1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IMG - Split a 3 envíos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Video1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir a supa1": {
      "main": [
        [
          {
            "node": "Enviar audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Subir a supa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar audio": {
      "main": [
        [
          {
            "node": "Guardar IA audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DivideporType1": {
      "main": [
        [
          {
            "node": "Get audio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get imagen1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "human1": {
      "main": [
        [
          {
            "node": "1b. Obtener Embedding Humano1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get audio1": {
      "main": [
        [
          {
            "node": "Convert Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Audio1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get imagen1": {
      "main": [
        [
          {
            "node": "Convertimagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertimagen1": {
      "main": [
        [
          {
            "node": "Describir Imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push message buffer1": {
      "main": [
        [
          {
            "node": "Get message buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get message buffer1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields1": {
      "main": [
        [
          {
            "node": "Push message buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get message buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Json parse1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json parse1": {
      "main": [
        [
          {
            "node": "DivideporType1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. RAG - Obtener Embedding1": {
      "main": [
        [
          {
            "node": "2. RAG - Buscar en Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. RAG - Buscar en Supabase1": {
      "main": [
        [
          {
            "node": "3. RAG - Formatear Contexto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Pausar Seguimiento Activo1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. RAG - Formatear Contexto1": {
      "main": [
        [
          {
            "node": "Detectar Intención Crítica1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ver productos1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "1b. Obtener Embedding Humano1": {
      "main": [
        [
          {
            "node": "IF Embedding Humano válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1c. Actualizar Embedding Humano1": {
      "main": [
        [
          {
            "node": "2b. Obtener Embedding IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2b. Obtener Embedding IA1": {
      "main": [
        [
          {
            "node": "Switch tipo de mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2c. Actualizar Embedding IA1": {
      "main": [
        []
      ]
    },
    "Registrar Métrica1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pausar Seguimiento Activo1": {
      "main": [
        [
          {
            "node": "Registrar Métrica1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Perfil de Usuario1": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Prompt y Configuración1": {
      "main": [
        [
          {
            "node": "1. RAG - Obtener Embedding1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evolution_instance_name1": {
      "main": [
        [
          {
            "node": "buscar contacto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "buscar contacto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Subscription1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ignorar?1": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar contacto1": {
      "main": [
        [
          {
            "node": "Set Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar para Subir a Bunny1": {
      "main": [
        [
          {
            "node": "Subir a Bunny1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir a Bunny1": {
      "main": [
        [
          {
            "node": "Contenido Imagen3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row3": {
      "main": [
        [
          {
            "node": "Preparar para Subir a Bunny1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contenido Imagen3": {
      "main": [
        [
          {
            "node": "Contenido Imagen2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Preparar Texto para Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "que escribir como audio1": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Texto para Audio1": {
      "main": [
        [
          {
            "node": "que escribir como audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "evolution_instance_name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Intención Crítica1": {
      "main": [
        [
          {
            "node": "IF: ¿Es Crítico?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Es Crítico?1": {
      "main": [
        [
          {
            "node": "Obtener Número Notificación1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detectar Intención de Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Número Notificación1": {
      "main": [
        [
          {
            "node": "Preparar Mensaje Notificación Crítica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje Notificación Crítica": {
      "main": [
        [
          {
            "node": "Enviar Notificación WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Notificación WhatsApp1": {
      "main": [
        [
          {
            "node": "Preparar Labels con Ignorar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agregar Promo al Contexto1": {
      "main": [
        [
          {
            "node": "Agregar Contexto de Citas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Contexto de Citas1": {
      "main": [
        [
          {
            "node": "ultimos 15 chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Hay Promoción?1": {
      "main": [
        [
          {
            "node": "agregar Promo al Contexto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Intención de Cita": {
      "main": [
        [
          {
            "node": "IF: ¿Tiene Intención de Cita?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Tiene Intención de Cita?": {
      "main": [
        [
          {
            "node": "Obtener Slots Disponibles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disponibilidad - Dummy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Slots Disponibles": {
      "main": [
        [
          {
            "node": "Formatear Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Disponibilidad": {
      "main": [
        [
          {
            "node": "Buscar Promociones Activas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Promociones Activas1": {
      "main": [
        [
          {
            "node": "Filtrar Promoción Válida1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Labels con Ignorar1": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Promoción Válida1": {
      "main": [
        [
          {
            "node": "IF: ¿Hay Promoción?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Agregar Contexto de Citas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "existe el contacto?1": {
      "main": [
        [
          {
            "node": "Create Contact1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "ignorar?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Detectar Simulación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Obtener Prompt y Configuración1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidad - Dummy": {
      "main": [
        [
          {
            "node": "Buscar Promociones Activas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar imagen o video del texto o audio1": {
      "main": [
        [
          {
            "node": "Definir destinatario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Embedding Humano válido": {
      "main": [
        [
          {
            "node": "1c. Actualizar Embedding Humano1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "2b. Obtener Embedding IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar texto final": {
      "main": [
        []
      ]
    },
    "IMG - Split a 3 envíos": {
      "main": [
        [
          {
            "node": "Enviar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagem": {
      "main": [
        [
          {
            "node": "Guardar IA (Imágenes)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ultimos 15 chats": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "historialchat": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Mensaje Humano": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI1-text": {
      "main": [
        []
      ]
    },
    "Detectar Simulación": {
      "main": [
        [
          {
            "node": "evolution_instance_name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32906a5f2bdc653e88c8f6fde14f7365d097573b5e9053a6781ad64c78a4c371"
  }
}