n8n/QR vinculación ELINA.json
{
  "name": "QR vinculación ELINA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-whatsapp-qr-Elina",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -320,
        32
      ],
      "id": "6eb2d26d-d5fc-4456-95c3-4a59361b6bb0",
      "name": "Generar QR Webhook",
      "webhookId": "67e98277-73fd-41ba-9406-8a23f4a8a71f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"qr_image_data\": $json.qr_image_data } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2560,
        0
      ],
      "id": "408d5ac0-1b7e-4204-8147-473124fee0b0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const emailBuscado = $('Generar QR Webhook').first().json.body.email;\nconst userData = $input.first().json;\n\n// Validación\nif (!userData || userData.email !== emailBuscado) {\n  throw new Error(\"No se encontró un documento con ese email.\");\n}\n\nreturn [{ json: userData }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        32
      ],
      "id": "6b3eaaa8-f437-4dbb-9bb7-6f28c9e3db43",
      "name": "limpiar datos"
    },
    {
      "parameters": {
        "url": "=https://evolutionapi-evolution-api.mcjhhb.easypanel.host/instance/connect/{{ $('limpiar datos').item.json.evolution_instance_name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "evolutionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Get a row').item.json.evolution_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        144
      ],
      "id": "a9e887de-85a5-4b0c-ad58-b69e51f38b8d",
      "name": "Llamar Evolution API QR2",
      "alwaysOutputData": true,
      "credentials": {
        "evolutionApi": {
          "id": "1NdmmRm4cT4v7Ciq",
          "name": "Evolution account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Tomamos el string completo que viene de la API\nconst fullBase64String = $json.base64 || '';\n\n// 2. Quitamos el prefijo \"data:image...\" si es que existe\nconst withoutPrefix = fullBase64String.split(',')[1] || fullBase64String;\n\n// 3. QUITAMOS CUALQUIER \"=\" QUE HAYA QUEDADO AL INICIO. ESTA ES LA LÍNEA CLAVE.\nconst cleaned = withoutPrefix.replace(/^=+/, '');\n\n// 4. Devolvemos el código 100% limpio\nreturn [{ qr_image_data: cleaned }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        208
      ],
      "id": "2006f88b-d313-40ae-83bd-82ef32516548",
      "name": "Code"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.body.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -128,
        32
      ],
      "id": "aedb8e05-3e2c-417f-a74a-544d46a1c457",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9a31450-c8e6-4e09-b7f3-2eac3f515632",
              "name": "status",
              "value": "connected",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        -96
      ],
      "id": "a731761f-89fc-45e8-9766-c85331e2a7e1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "restart-instance",
        "instanceName": "={{ $json.data[0].name }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        864,
        -176
      ],
      "id": "8c10e740-a3df-4b60-8c2d-9ebc2e91e21d",
      "name": "Reiniciar instancia",
      "credentials": {
        "evolutionApi": {
          "id": "1NdmmRm4cT4v7Ciq",
          "name": "Evolution account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "fetch-instances",
        "instanceName": "={{ $json.evolution_instance_name }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        368,
        32
      ],
      "id": "cc3deed2-0e06-4e65-b29e-08a3bb949fb5",
      "name": "Buscar instancia",
      "credentials": {
        "evolutionApi": {
          "id": "1NdmmRm4cT4v7Ciq",
          "name": "Evolution account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data[0].connectionStatus }}",
                    "rightValue": "connecting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b14c0da2-1cea-4a72-ad6f-825062b90907"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "connecting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6b76871a-8e72-40de-b8f6-241ba95a55e8",
                    "leftValue": "={{ $json.data[0].connectionStatus }}",
                    "rightValue": "open",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conectado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e3285f0f-d912-4a1c-8312-dce45f295d60",
                    "leftValue": "={{ $json.data[0].connectionStatus }}",
                    "rightValue": "close",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "desconectado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        576,
        32
      ],
      "id": "5c2eb42e-3754-422c-86c1-801c4939ab36",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "evolution_instance_name",
              "condition": "eq",
              "keyValue": "={{ $('Buscar instancia').item.json.data[0].name }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "urlfoto",
              "fieldValue": "={{ $json.data.profilePictureUrl }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3136,
        32
      ],
      "id": "ee27027e-5555-478f-9d2a-a4ca8fa6228e",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "mhKY7YSuY0L0jM2B",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "fetch-profile-picture",
        "instanceName": "={{ $('Buscar instancia').item.json.data[0].name }}",
        "number": "={{ $('Buscar instancia').item.json.data[0].ownerJid }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2848,
        192
      ],
      "id": "01c9a15d-1055-4dff-8d82-3632526c85fd",
      "name": "Buscar foto do perfil",
      "credentials": {
        "evolutionApi": {
          "id": "1NdmmRm4cT4v7Ciq",
          "name": "Evolution account 3"
        }
      }
    }
  ],
  "pinData": {
    "Generar QR Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.mcjhhb.easypanel.host",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-length": "28",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-ES,es;q=0.9",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "origin": "https://app.elinaia.com.mx",
            "pragma": "no-cache",
            "priority": "u=1, i",
            "referer": "https://app.elinaia.com.mx/",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "189.162.152.156",
            "x-forwarded-host": "n8n-n8n.mcjhhb.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "30f54e9e965a",
            "x-real-ip": "189.162.152.156"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "direccion@bop.mx"
          },
          "webhookUrl": "https://n8n-n8n.mcjhhb.easypanel.host/webhook/generate-whatsapp-qr-Elina",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Generar QR Webhook": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limpiar datos": {
      "main": [
        [
          {
            "node": "Buscar instancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar Evolution API QR2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "limpiar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reiniciar instancia": {
      "main": [
        [
          {
            "node": "Llamar Evolution API QR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar instancia": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Reiniciar instancia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Llamar Evolution API QR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Buscar foto do perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar foto do perfil": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f30cd853-ca51-4828-96d6-fd22576e8f55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32906a5f2bdc653e88c8f6fde14f7365d097573b5e9053a6781ad64c78a4c371"
  },
  "id": "ZeH83vIJDJoMBJr9",
  "tags": []
}